#QuickviewModal {
	.modal-dialog {
	    width: auto;
   		margin: 0px;
   		
   		@media (min-width: 768px) {
		    margin: @gutter + 5;
		}
	
		@media (min-width: 992px) {
			margin: @gutter + 5 auto;
	    	width: @gutter * 32;
		}
		.modal-content{
			.modal-close {
				.material-icons;
				font-size: 3rem;
			    position: absolute;
		        top: @gutter - 15;
    			right: @gutter - 15;
		        width: @gutter + 11;
    			height: @gutter + 11;
        		text-decoration: none;
    			text-align: center;
    			color: @primary-color;
   			    z-index: 1;
				&:before {
					content:"\E14C"
				}
				
				@media (min-width: 768px) {
				    top: @gutter;
    				right: @gutter - 2;
				}
			}
			
			.modal-body{
				overflow:hidden;
			 	padding: @gutter - 10 @gutter - 15;
				
				@media (min-width: 768px) {
				    padding: @gutter + 5 @gutter + 5;
				}
			
				.productdetails-container{
					.product-details{
						 padding-bottom:@gutter * 2;
						 
						 @media(min-width:768px){
						 	padding-bottom:@gutter * 3 - 5;
						 }
					   	.productdetails-title{
					  		    .agenda-bold;
					  			font-size: 2.6rem;
					  			margin: 0 0 @gutter - 5;
					  			
					   		@media (min-width: 768px){
					   			font-size: 3.4rem;
					   		}
					   	}
					   	
					   	.mz-productimages {
					   		.mz-productimages-main {
					   			.image-zoom-icon {
					   				display: none;
					   			}
					   			.ign-video-container{
					   				.main-play-video{
					   					top: 45%;
    									left: 45%;
					   				}
					   			}
					   		}
					   		.mz-productimages-thumbs{
					   			.thumbimage-container{	
						   			.ign-productvideos-thumb{
						   				.play-video{
						   					top: 3%;
										    left: 22%;
										    font-size: 2rem;
						   				}
						   			}
					   			}
					   			.slick-slide{
					   				.ign-productvideos-thumb{
					   					.play-video{
						   					top: 0%;
										    left: 35%;
										    font-size: 2.4rem;
						   				}
					   				}
					   			}
					   		}
					   	}
					   	.productdetails-detail{
				  		    padding: 0;
				  			list-style: none;
				 			margin: 0 0 @gutter;
				 			.productdetails-title {
				 				margin-right: @gutter * 2;
				 			}
				 			li{
				  				@media(min-width:768px){
				  				display: inline-block;
				    			vertical-align: bottom;
				    			margin: 0 @gutter - 5 0 0;
				  				}
				   			}
				   			.product-brand{
				   				.agenda-bold;
				   				text-transform:uppercase;
				   			}
				   		}
					}
					
					.mz-productdetail {
						.mz-productdetails-shipping {
							.prefer-store-block{
								display:none;
							}
						}
						
						.mz-price-container {
							display: none;
						}
					}
					
				}
			}
		}
	}
}