.mz-productimages {

    .play-video{
      position: absolute;
      font-size: 2.6rem;
      color:@white;
      pointer-events: none;
    }
    .no-image{
       width:100%;
    }
    .mz-productimages-main {
        display: block;
        position: relative;
    	margin: 0 0 @gutter - 5;
    	border: 1px solid @productImageBorder;
    	.image-zoom-icon {
        	display: block;
		    position: absolute;
		    bottom: @gutter - 19;
		    right: @gutter - 19;
		    font-size: 3.6rem;
		    color: @torchRed;
		    pointer-events: none;
        }
        .product-images{
        	.mz-productimages-mainimage{
        		max-width:100%;
        	}
        }
    }
    .ign-video-container{
      cursor:pointer;
      position:relative;
      .ign-product-mainvideo{
          max-width:100%;
          vertical-align:middle;
      }
      .main-play-video{
        .play-video;
        top: 45%;
        left: 45%;
        font-size: 4.4rem;
				.material-icons;
				display: none;
        &:before {
          content: "\E038";
        }
      }
      .video-pause{
        &:before {
          content: "\E035";
        }
			}
			&:hover{
				.main-play-video{
					display: inline-block;
				}
			}
    }
    .show-video{
       display:none;
    }
    .mz-productimages-thumbs {
        display: block;
        text-align:left;
        @media(max-width:767px){
        	margin-bottom: @gutter + 15;
        }
        @media(min-width:992px){
        	text-align:center;
        }
        .thumbimage-container{
       	    width: 80px;
   			display: inline-block;
   			margin-right: @gutter - 13;
   			
   			@media(min-width:768px){
			    padding: @gutter - 20;
			    width: 20%;
			    margin: 0;
   			}
   			@media(min-width:992px){
   				width: 16.66%;
   			}
   			@media(min-width:1200px){
   				width: 12.5%;
   			}
   			.mz-productimages-thumb {
   				cursor: pointer;
      		  	.mz-productimages-thumbimage{
      		  		max-width:100%;
      		  	}
    		}
        .ign-productvideos-thumb{
          cursor: pointer;
          position:relative;
           .ign-product-videothumb{
              max-width:100%;
              vertical-align:middle;
            }
            .play-video{
              top: 0%;
              left: 30%;
            }
        }
        }
    }
    .thumbs-padding{
      padding:0 @gutter + 5;
    }
    .is-selected{
		border:1px solid @torchRed;
	}
    .slick-slider{
    
    	.slick-prev, .slick-next {
			height: @gutter;
    		width: @gutter;
    		background: @torchRed;
    		color:@white;
    		top: 50%;
    		.border-radius(15px);
    		@media (max-width: 767px) {
		        top: 36%;
		    }
		}
		.slick-prev:before, .slick-next:before {
			.material-icons;
    		font-size: 2.5rem;
    		color: @white;
    		opacity:1;
		}
		.slick-prev{
			left:0;
			&:before {
		        content: "\E314";
		        &[dir="rtl"] {
		            content: "\E314";
		        }
		    }
		}
		.slick-next{
			right: 0;
			&:before {
		        content: "\E315";
		        &[dir="rtl"] {
		            content: "\E315";
		        }
		    }
		}
		.slick-disabled{
			background:@iconDisabled;
		}
		.slick-slide{
			width:90px;
			&:focus {
   				 outline: none;
			}
		}
    }
}