.mz-productlisting {
    width: calc(50% - 30px);
    padding: @gutter - 10;
    display: -webkit-box;     
    display: -moz-box;         
    display: -ms-flexbox;     
    display: -webkit-flex;     
    display:flex;
    
	@media (min-width: 767px) {
	    width: 33.3333333333%;
	    display: block;
	}
	
	@media (max-width: 767px) {
	    width: 100%;
	}
	
	.mz-productlisting-image {
		position: relative;
	    display: block;
	    width: 166px;
	    margin: 0 @gutter 0 0;
	    overflow: hidden;
    
		@media (min-width: 768px) {
		    width: 100%;
    		margin: 0 0 15px;
		}
		
		&:hover {
			.quickview {
				opacity: 1;
			}
		}
		
		.image-wrap {
		    display: block;
    		position: relative;
    		
    		.badge {
   			    .agenda-bold;
			    color: @white;
			    position: absolute;
			    bottom: 0;
			    left: 0;
			    padding: @gutter - 20 @gutter - 15;
			    background: @torchRed;
			    font-size: 1.6rem;
			    border-radius: 0;
    		}
    		
    		img {
   			    display: block;
   				width: 100%;
   				border: 1px solid @formInputBorder;
   			}
   		}
   		
   		.product-options {
			.option-box {
				display: inline-block;
				vertical-align: middle;
			    font-size: 0;
			    width: 14px;
			    height: 14px;
		        border: 1px solid @formInputBorder;
		        background-repeat: no-repeat;
			    background-position: center center;
			    background-size: cover;
				@media (min-width: 768px) {
				    width: 22px;
				    height: 22px;
				}
			}
			.option-text {
			    margin-top: @gutter - 21;
				margin-bottom: @gutter - 22;
				display: inline-block;
				vertical-align: middle;
			    font-size: 1.6rem;
			}
		}
		
		.quickview {
		    display: block;
		    position: absolute;
		    top: 1px;
		    left: 1px;
		    right: 1px;
		    opacity: 0;
		    z-index: 1;
		    text-align: center;
		    padding: 5px;
		    background: rgba(255, 255, 255, 0.6);
		    -webkit-transition: all 0.2s ease-in-out;
		    transition: all 0.2s ease-in-out;
		    
		    @media (max-width: 1024px) {
			    display: none;
			}
		    
		    .quickview-button {
	    	 	.btn();
    	     	.btn-small();	
    	     	background: transparent;
			    border: 1px solid @link-red;
			    color: @link-red;
			    .agenda-bold;
			    &:hover{
			    	text-decoration:none;
			    }
		    }
		}
	}
	
	.mz-productlisting-info {
	    width: 100%;
	    
        @media (min-width: 768px) {
       	    width: auto;
        }
        
        
        
        .mz-productlisting-title {
            font-weight: normal;
		    margin: 0 0 @gutter / 5;
		    color:@primary-color;
		    line-height:@gutter - 7.4;
		    &:hover,visited{
		    	color:@primary-color;
		    }
		    &.add-ellipsis {
		    	display: block;
				display: -webkit-box;
				-webkit-line-clamp: 2;
			   -webkit-box-orient: vertical;
			   overflow: hidden;
			   text-overflow: ellipsis;
			   height: @gutter + 9;
		    }
	    }
	    .product-code{
	    	font-size:1.6rem;
	    	margin:0 0 @gutter/5;
	    }
	    .mz-price{
	    	.agenda-bold;
	    	font-size:1.7rem;
	    	margin-right: @gutter - 22;
	    	.selling-unit{
	    		font-size:1.2rem;
	    		margin-left: @gutter/5 - 8;
	    	}
	    }
	    .bv-cv2-cleanslate .bv-core-container-5 .bv-inline-rating-container .bv-rating-stars-on{
			color:@torchRed !important;
		}
	    .brand-name {
	    	.agenda-bold;
   			margin: 0 0 @gutter - 10;
   			line-height:1;
	    }
	    
	    .products-points {
	    	display: none;
	    }
	    .product-details {
	    	.product-options {
	       	    display: none;
	    	}
		    .product-status{
		    	font-size:1.6rem;
		    	margin-top:@gutter - 15;
		    	margin-bottom:0;
		    	color:@productStatus;
		    }
		    .price-wrap{
		    	.mz-pricestack{
		    		margin:0;
		    	}
		    	.saved-price{
	    			margin:0 0 @gutter - 15;
	    			span:first-child{
	    				.agenda-bold;
	    			}
	    		}
	    		.product-not-available{
	    			.agenda-bold;
	    			margin:0;
	    			font-size:1.5rem;
	    			margin : @gutter/5 0 0 0;
	    		}
		    }
		}
    }
	
	.mz-productlisting-shortdesc {
        margin: @gutter/4 @gutter/2 @gutter/4 0;
    }
    .mz-productlisting-productcode {
        font-size: @fontSizeSmall;
    }
	.no-image {
		width: 100%;	
	}
    .mz-productlisting-imageplaceholder {
        display: block;
        height: @productListingThumbSize;
        width: @productListingThumbSize;
        background: @slider-arrow-background;
        line-height: @productListingThumbSize;
        text-align: center;
        color: @sgilightgray;
        > * {
            vertical-align: middle;
        }

        > .mz-productlisting-imageplaceholdertext {
            vertical-align: top;
        }
    }

    &.mz-productlisting-forlocation {
        .mz-productlisting-image, .mz-productlisting-info {
            float: left;
            margin: @gutter/2;
        }
    }
}

.mz-productlist {
	#mz-drop-zone-expert-advice-bropzone {
		&.isdropped {
			width: 33.333333333%;
		
			@media (max-width: 767px) {
				width: 100%;
			}
			
			.mz-cms-row, 
			.mz-cms-col-12-12,
			.mz-cms-block,
			.mz-cms-content {
			    height: 100%;
			}
			
			.mz-cms-content {
				padding: 0;
				width: 100%;
			}
		}
	
	}
	
	
	&.list {
	
		#mz-drop-zone-expert-advice-bropzone {
			width: 100%;
		}
		
		.mz-productlisting {
		    width: 100%;
		    
		    .mz-productlisting-image {
		    	@media (min-width: 768px) {
		    		position: relative;
				    display: block;
				    min-width: 130px;
				    width: 30%;
				    margin: 0 30px 0 0;
				    overflow: hidden;
				    float: left;
		    	}
		    }
			    
			.mz-productlisting-info {
			
				@media (min-width: 768px) {
					-webkit-box-flex: 1;
				    -webkit-flex: 1;
				    -ms-flex: 1;
				    flex: 1;
			        width: auto;
				}
				
				.product-details {
					display: -webkit-box;     
				    display: -moz-box;         
				    display: -ms-flexbox;     
				    display: -webkit-flex;     
				    display:flex;
				    
				    .price-wrap,
				    .points-wrap {
				    
					    @media (min-width: 768px) {
					    	-webkit-box-flex: 1;
						    -webkit-flex: 1;
						    -ms-flex: 1;
						    flex: 1;
					    }
				    	
				    }
				    
				    .price-wrap {
				    	.mz-pricestack {
				    		margin: 0 0 @gutter - 5;
				    	}
				    }
				
					.points-wrap {
						.products-points {
							@media (min-width: 768px) {
								display: block;
							    margin: 0 0 @gutter + 5;
		  						padding: 0 0 0 @gutter - 5;
							}
							strong{
								.agenda-bold;
							}
						}
					}
					
				}
				
			}
		}
	}
}

.expert-advice-tile {
	    background: @torchRed;
	    border: solid 1px @torchRed;
	    background-clip: content-box;
	    margin: 0;
   		width: 100%;
	    height: 100%;
	    padding: @gutter - 20;
	    display: block;
		
		@media (min-width: 768px) {
		    padding: @gutter - 15;
		}
		
	 	@media (max-width: 767px) {
		 	display: -webkit-box;     
		    display: -moz-box;         
		    display: -ms-flexbox;     
		    display: -webkit-flex;     
		    display:flex;
	 		width: auto;
	  	    -webkit-box-orient: horizontal;
		    -webkit-box-direction: normal;
		    -webkit-flex-direction: row;
		    -ms-flex-direction: row;
		    flex-direction: row;
		    -webkit-box-align: stretch;
		    -webkit-align-items: stretch;
		    -ms-flex-align: stretch;
		    align-items: stretch;
		    min-height: 180px;  	
		    margin: 15px;
	    }
	
		.tile-image {
			width: 100%;
		    height: 160px;
		    background-repeat: no-repeat;
		    background-position: center center;
		    background-size: cover;
		    
		    @media (max-width: 767px) {
		    	-webkit-box-flex: 0;
			    -webkit-flex: 0 0 130px;
			    -ms-flex: 0 0 130px;
			    flex: 0 0 130px;
			    height: auto;
		    }
		}
		
		.content {
		    position: relative;
		    color: @white;
    		font-size: 1.7rem;
    		padding: @gutter - 13;
    		
		    @media (min-width: 768px) {
	    	    display: block;
    			padding: @gutter - 5;
		    }
		    
		    @media (max-width: 767px) {
	    	    padding-top:  @gutter - 10;
    			padding-left:  @gutter + 5;
		    }
		    
			.title {
				.agenda-bold;
				line-height: 1.1;
			    color: @white;
			    display: inline-block;
			    margin-bottom: @gutter - 10;
				font-size: 1.7rem;
				
				@media (min-width: 768px) {
				    font-size: 1.5rem;
				}
				
				@media (min-width: 992px) {
					font-size: 3rem;
				}
			
			}
			
			.bottom-link {
			    .agenda-bold;
    			color: @white;
			}
			
			p {
			    margin: 0 0 @gutter - 10;
			}
		}
	
	}
	
	&.list {
	
		#mz-drop-zone-expert-advice-bropzone {
			width: 100%;
		}
		
		.mz-productlisting {
		    width: 100%;
		    
		    .mz-productlisting-image {
		    	@media (min-width: 768px) {
		    		position: relative;
				    display: block;
				    min-width: 130px;
				    width: 30%;
				    margin: 0 30px 0 0;
				    overflow: hidden;
				    float: left;
				}
				.product-options {
					@media (min-width: 768px) {
						display: none;
					}
			    }
		    }
			    
			.mz-productlisting-info {
			
				@media (min-width: 768px) {
					-webkit-box-flex: 1;
				    -webkit-flex: 1;
				    -ms-flex: 1;
				    flex: 1;
			        width: auto;
				}
				
				.product-details {
					display: -webkit-box;     
				    display: -moz-box;         
				    display: -ms-flexbox;     
				    display: -webkit-flex;     
				    display:flex;
				    
				    .price-wrap,
				    .points-wrap {
				    
					    @media (min-width: 768px) {
					    	-webkit-box-flex: 1;
						    -webkit-flex: 1;
						    -ms-flex: 1;
						    flex: 1;
					    }
				    	
				    }
				    
				    .price-wrap {
				    	.mz-pricestack {
				    		margin: 0 0 @gutter - 5;
				    	}
				    	
			    	.product-options {
		   			    display: none;
						@media (min-width: 768px) {
						    display: block;
						}
						.option-box {
							display: inline-block;
							vertical-align: middle;
					        border: 1px solid @formInputBorder;
					        background-repeat: no-repeat;
						    background-position: center center;
						    background-size: cover;
							@media (min-width: 768px) {
							    margin: 0 @gutter - 20 0 0;
							    width: 22px;
							    height: 22px;
							}
						}
						.option-text {
						    margin-top: @gutter - 21;
		  					margin-bottom: @gutter - 22;
		  					display: inline-block;
		  					vertical-align: middle;
	 					    font-size: 1.6rem;
						}
					}
				    }
				
					.points-wrap {
						.products-points {
							@media (min-width: 768px) {
								display: block;
							    margin: 0 0 @gutter + 5;
		  						padding: 0 0 0 @gutter - 5;
							}
							strong{
								.agenda-bold;
							}
						}
					}
					
				}
				
			}
		}
}
