﻿.mz-productdetail {
   
    .mz-productdetail-qty {
        width: 60px;
        vertical-align: middle;
        display: inline-block;
        margin:0 @gutter - 10;
        text-align:center;
    }

    .mz-price {
        .agenda-bold;
        font-size:2.6rem;
        line-height:1;
        @media(min-width:768px){
	    	font-size:3.4rem;
	    }
        .selling-unit{
            font-size: 1.8rem;
            margin-left: @gutter/5 - 10;
            @media(max-width:767px){
                font-size: 1.4rem;
            }
        }
    }

    .mz-price-msrp {
        display: block;
        font-size: @fontSizeSmall;
        color: lighten(@textColor, 15%);
        .mz-price {
            font-size: @fontSizeSmall;
        }
    }

    .mz-productdetail-notpurchasable {
        font-size: @fontSizeSmall;
        margin: @gutter / 5 0;
        color: #999;
    }

    .mz-productdetail-conversion {
        .clearfix();
    }

    .mz-productdetail-conversion-controls,
    .mz-productdetail-conversion-buttons {
        display: inline-block;
        vertical-align: middle;
    }

        .mz-productdetail-conversion-buttons .mz-button {
            display: block;
            margin: 0 0 @gutter/2;
        }

    .mz-productbundle-measurements-product {
        clear: both;
    }

    .mz-productbundle-measurements-productname {
        .agenda-bold;
    }
    
    .mz-productdetail-price{
	    
	    .is-saleprice{
	    	.agenda-bold;
	    	font-size:2.6rem;
	    	color:@torchRed;
	    	margin-right: @gutter - 5;
	    	line-height:1;
	    	
	    	@media(min-width:768px){
	    		font-size:3.4rem;
	    	}
	    }
	    
	    .saved-price{
	    	margin: @gutter - 15 0 0;
	    }
	    .aeroplan-miles {
	    	
	    	@media (min-width: 768px) {
	    		padding-bottom: @gutter - 5;
   				border-bottom: solid 1px @horizontalLine;
	    	}
		    padding-left: @gutter * 2;
		    min-height: @gutter - 2;
		    margin:@gutter/5 * 2 0 @gutter/5 * 2;
		    font-size: 1.4rem;
		    background-image: url(../resources/images/aeroplan.png); 
		    background-repeat: no-repeat;
		    background-position: 0 0;
		    background-size: @gutter + 20 @gutter - 2;
	    	
	    }
	    
	    .environmental-handling-fee{
	    	margin: @gutter - 10 0 @gutter - 10;
	    }
	    .ehf-value {
	    	.agenda-bold;
	    }
	    .is-crossedout{
	    	font-size: 1.6rem;
    		color: @primary-color;
	    }
	}
	
	.horizontal-line{
		border-width: 0;
    	border-bottom: 1px solid @horizontalLine;
    	margin:  @gutter + 10 @gutter - 40;
    		
		@media (min-width:768px){
			margin: @gutter + 10 0 @gutter - 5;
		}
		
	}
	
	.mz-productdetails-quantity{
	    margin: 0 0 @gutter;
	    
	    .productdetail-conversion-controls{
	    	
	    	.mz-qty-label{
	    		vertical-align: middle;
   				margin: 0 @gutter - 15 0 0;
   				font-weight:normal;
   				cursor: default;
	    	}
	    	
	    	.quantity-input{
	    		display: inline-block;
	    		
	    		.quantity-input-button{
	    			display: inline-block;
    				vertical-align: middle;
    			
    				&:hover{
    					text-decoration:none;
    				}
 					
	    		}
	    		.is-disabled{
	    			color:@iconDisabled;
	    			pointer-events: none;
	    		}
	    		.qty-increment, .qty-decrement{
	    			font-size: 2.6rem;
	    			vertical-align: middle;
	    		}
	    	} 
	    }    	
    }
    
    .mz-productdetail-buttons{
    	width: 100%;
    	.flex-display(flex);
    	
    	.mz-productdetail-btns-container{
    		display: inline-flex;
    		width: 50%;		
    		
    		&:first-child{
    			padding-right:@gutter/5;
    		}
    		&:last-child{
    			padding-left:@gutter/5;
    		}
            &.hf-nopadding{
                padding:0;    
            }
    		.product-addtocart{
    			.btn-red();
    			.btn-large();
    			padding-left: 0;
    			padding-right: 0;
    		}
    		.product-savetolist{
    			.btn();
    			.btn-large();
    			.btn-transparent();
    			 padding-left: 0;
    			 padding-right: 0;
    			&:before{
    				content: "\E242";
    				.material-icons;
    				font-size: 2.2rem;
				    line-height: 0;
				    margin-right: @gutter - 19;
				    vertical-align: middle;
    			}
    			&:disabled{
    				&:before{
    					content: "\E86C";
    				}
    			}
    		}
		}
		.full-width-btn{
			@media(max-width:481px){
				width: 100%;
			}		
		}
	}
    .hide-add-to-cart-btn{
    	width:50%;
    	.mz-productdetail-btns-container{
    		.fullwidth;
    		&:last-child{
    			.no-padding;
    		}
    	}
   	} 
	.mz-productdetails-shipping{
	    margin: 0 0 @gutter + 10;
	    
	    .product-available{
            color:@primary-color;
	    	.agenda-bold;
	    	font-size:1.6rem;
	    	margin:0;
            &:before{
                display:none;
            }
	    }
	    .product-not-available{
            color:@primary-color;
            .agenda-bold;
            font-size:1.6rem;
	    	margin:0;
            &:before{
                display:none;
            }
	    }
        .product-availability{
            margin:0;
        }
	}
    .prefer-store-block{
        .store-address{
            .address-card{
                .link{
                    display:block;
                    margin-top:@gutter/5;
                }
            }
        }
        .instore-availability{
            color:@link-red;
        }
    }
    .disclaimer{
        .disclaimer-msg{
            margin-top: @gutter - 15;
            margin-bottom:0;
        }
    }
}

.mz-productdetail-measurements .mz-propertylist,
.mz-productdetail-properties .mz-propertylist,
.mz-productdetail-bundleitems .mz-propertylist {
    float: left;
    max-width: 400px;
}
