.product-information{
	 padding-top:@gutter + 15;
	 
	
	.productdetails-overview{
		margin: 0 0 @gutter + 10;
		.productdetails-attributes{
			margin: 0 0 @gutter;
			.attributes{
				&:last-child{
					display:none;
				}
				@media(min-width:768px){
					width:20%;
					min-height:100px;
				}
			    padding:0;
				margin-bottom: @gutter - 5;
				.attribute-title {
			    font-size: 1.6rem;
			    margin:0 @gutter/5 @gutter/5 - 2 0;
				word-wrap: break-word;
			    @media(max-width:767px){
			    	min-width: 130px;
			    	max-width: 130px;
					display: inline-block;
			    }
				}
				.attribute-value {
				    margin: 0 @gutter/5 0 0;
				    font-size: 1.7rem;
				    .agenda-bold;
				    word-wrap:break-word;
				    @media(max-width:767px){
				    	display: inline-block;
				    }
				    @media(max-width:370px){
				    	width: 155px;
    					vertical-align: top;
				    }
				}
  					@media(max-width:768px){
  						margin-bottom:0;
  					}
			}			
			@media(min-width:768px){
				margin: 0 0 @gutter + 10;
			}
		}
		.product-description{
			
			@media(min-width:768px){
				.flex-display();
			}
			.flag-container{
				.flag-badge{
					margin: 0 0 @gutter;
					padding: @gutter / 5 0 @gutter / 5 @gutter + 15;
					background: url("../resources/images/hh-logo.svg") left center no-repeat;
   					background-size: @gutter + 5 auto;
   					@media(min-width:768px){
   						margin:0;
   					}
   					.flag-badge-content{
   						vertical-align: middle;
   						line-height: 1.3;
   						.badge-title{
   							margin:0;
   							.agenda-bold;
   							font-size:1.6rem;
   						}
   						.badge-info{
   							margin:0;
   						}
   						.info-icon{
							vertical-align: top;
	    					cursor: default;
						}
   					}
				}
				.popover{
					font-size: 1.6rem;
					.agenda;
				}
			}
			.description-container{
				@media(min-width:768px){
					width: 70%;
   					margin-left: auto;
   					padding-left: @gutter - 5;
				}
				.description{
					margin: 0 0 @gutter - 15;
				}
			}
			.full-description{
				width:100%;
				padding-left:0;
			}
		}
	}
	.productdetails-specification{
   		.collapse-section{
   			height : 200px;
   			overflow:hidden;
   			
   			&.is-collapsed{
	   			height:auto;
	   			overflow:visible;
	   		}
   		}
   		ul{
   			padding: 0 0 0 @gutter - 5;
   			
   			li{
   				padding: @gutter - 21 0 @gutter - 21 @gutter - 15;
   			}
   			@media(min-width:768px){
	   			-webkit-column-count: 2;
			    -moz-column-count: 2;
			    column-count: 2;
			    -webkit-column-gap: 40px;
			    -moz-column-gap: 40px;
	   			column-gap: 40px;
	   			padding: 0 @gutter - 5 0;
   			}
   		}
   		.no-column-count{
   			@media(min-width:768px){
   				-webkit-column-count: unset;
			    -moz-column-count: unset;
			    column-count: unset;
			    -webkit-column-gap: 0;
			    -moz-column-gap: 0;
	   			column-gap: 0;
   			}
   		}
   		.toggle-container{
   			position: absolute;
		    padding-top: @gutter + 15;
		    bottom: -1px;
		    left: 0;
		    width: 100%;
		    .gradient(rgba(255,255,255,0), @white 50%);       
		    
		    &:before{
	    	    content: " ";
			    display: block;
			    position: absolute;
			    left: 0;
			    bottom: @gutter - 5;
			    height: 1px;
			    width: 100%;
			    background: @mercury;
			    z-index: 0;
		    }
		    &.is-collapsed{
	   			position:relative;
	   			background-color:none;
	   			padding-top:0;
	   		}
		    .toggle-btn{
		    	position:relative;
		    	.agenda-bold;
		    	font-size: 1.6rem;			    	
			    z-index: 1;
			    display: block;
			    width: 120px;
			    margin: 0 auto;
			    text-transform: uppercase;
			    color: @torchRed;
			    text-align: center;
			    padding: @gutter - 12 @gutter - 10 @gutter - 15;
			    background: @white;
			    border-radius: 6px;
			    border: 1px solid @border-light;
		    }
   		}
   		.product-ingredients{
   			margin-top:@gutter;
   		}
   		.product-document{
   			margin-top:@gutter;
   		}
   	}
   	.products{
  		 	
	 	.product-image{
	 		display: block;
	 		margin: 0 0 @gutter - 10;
	 		.image{
	 			display:block;
	 			border:1px solid @border-light;
	 			width:100%;
	 		}
	 	}
	 	.product-content{
	 		.product-title{
	 			font-size:1.6rem;
	 			 margin: 0 0 @gutter - 17;
	 			.title{
	 				&:hover,visited{
	 					color:@primary-color;
	 				}
	 			}
	 			
	 		}
	 		.product-price{
	 			font-size: 1.7rem;
	 			.agenda-bold;
 				margin: @gutter - 15 0 0;
	 		}
	 		.saved-price{
    			margin:0 0 @gutter - 15;
    			span:first-child{
    				.agenda-bold;
    			}
    		}
	 		.product-not-available{
    			.agenda-bold;
    			margin:0;
    			font-size:1.5rem;
    			margin : @gutter/5 0 0 0;
    		}
	 	}
	 	@media(max-width:767px){
	 		margin-bottom:@gutter - 15;
	 	}
	}
   	.product-category{
  		padding-top: @gutter + 15;
  		padding-bottom: @gutter + 15;
   	}
   	.related-products{
   		padding-top: @gutter + 15;
  		padding-bottom: @gutter;
  		border-top: 1px solid @border-light;
  		.products {
  			display: inline-block;
  			width: @gutter * 11 + 10;
    		padding: 0 @gutter - 15;
    		@media (max-width: 767px) {
				width: 240px;
			}
   		}
  		.product-code{
  			.agenda-bold;
  			font-size:1.6rem;
  			margin:0 0 @gutter/5;
  		}
   	}
   	.related-products-link{
		margin-bottom:@gutter;
		.view-all{
			.agenda-bold;
			display: inline-block;
		    font-size: 1.7rem;
		    margin-right: @gutter/5;
		    color: @primary-color;
		    padding: 0;
		    cursor: default;
		}
		.related-product-list{
			margin: 0;
		    padding: 0;
		    list-style: none;
		    display: inline;
		    li{
		    	display: inline-block;
		    }
		    li:not(:last-child)::after{
		    	content: ",";
		    }
		}
		.related-list-toggle{
			.no-appearance;    
			background: transparent;
			border: 0;
		    margin: 0;
		    padding: 0;
			&:before {
		   		content: attr(aria-label);
			}
			&:after{
				.material-icons;
				content: "\E5CE";
			    font-size: 2.1rem;
			    line-height: 1.6rem;
			    color: @black;
			    display: inline-block;
			    vertical-align: text-bottom;
			    margin-left: @gutter/5;
			}
			@media(min-width:768px){
				display:none;
			}
		}

		@media(max-width:767px){
			&[aria-expanded="false"] ul li:nth-child(n+4){
				position: absolute;
			    width: 1px;
			    height: 1px;
			    margin: -1px;
			    padding: 0;
			    overflow: hidden;
			    clip: rect(0, 0, 0, 0);
			    border: 0;
			}
			&[aria-expanded="false"] .related-list-toggle:after {
		   	 content: "\E5CF";
			}
		}
	}
   	.marketing-proposition{
   		padding:@gutter + 10 0;
   		.icons{
   			height:38px;
   			margin:0 auto @gutter - 10;
   				
   			@media(min-width:768px){
   				height:48px;
   			}
   			.icon{
  				display: block;
			    max-width: 100%;
			    max-height: 100%;
			    margin: 0 auto;
   			}
   		}
   		.icon-title{
	   		font-size:1.7rem;
	   		.agenda-bold;
	   		margin:0;
	   		text-align:center;
	   	}
   	}
   	
   	.brand-spotlight-border {
   		border-top: 1px solid @border-light;
   	}
   	.slick-slider{
    
    	.slick-prev, .slick-next {
			height: @gutter;
    		width: @gutter;
    		background: @torchRed;
    		color:@white;
    		top: 50%;
    		.border-radius(15px);
    		@media (max-width: 767px) {
		        top: 36%;
		    }
		}
		 .slick-prev:before, .slick-next:before {
			.material-icons;
    		font-size: 2.5rem;
    		color: @white;
    		opacity:1;
		}
		.slick-prev{
			left:0;
			margin-top: -@gutter - 13;
			margin-left: @gutter - 9;
			&:before {
		        content: "\E314";
		        &[dir="rtl"] {
		            content: "\E314";
		        }
		    }
		}
		.slick-next{
			right: 0;
			padding-left: 2px;
		    margin-right: -@gutter - 10;
		    @media (max-width: 991px) {
		    	margin-right: 0;
		    	right: @gutter - 10;
		    }
		    margin-top: -@gutter - 13;
			&:before {
		        content: "\E315";
		        &[dir="rtl"] {
		            content: "\E315";
		        }
		    }
		}
		.slick-disabled{
			background:@iconDisabled;
		}
		.slick-slide{
			&:focus {
   				 outline: none;
			}
		}
		.slick-list {
			margin-left: @gutter + 15;
			@media (max-width: 991px) {
				margin-right: @gutter * 2 - 2;
			}
		}
    }
}