.product-modal-container{
	.no-padding;
	.modal-dialog{
		width:auto;
		margin:@gutter + 5;
		@media(min-width:992px){
			margin: @gutter + 5 auto;
	    	width: @gutter * 32;
    	}
    	@media(max-width:767px){
    		.no-margin;
    	}
		.modal-content{
			.no-border;
			.modal-header{
				.no-border;
				padding:@gutter + 5;
				@media(max-width:767px){
					padding:@gutter/2 + 2.5 @gutter/2 + 2.5 @gutter + 5;
				}
				.modal-title{
					.agenda-bold;
					font-size:2.4rem;
				}
				.close{
					font-size:3rem;
					font-style:normal;
					font-weight:normal;
					opacity:1;
					&:hover{
						color:@mineShaft;
					}
				}
			}
			.modal-body{
				overflow:hidden;
				padding:0 @gutter + 5 @gutter + 5;
				@media(max-width:767px){
					padding:0 @gutter/2 + 2.5  @gutter/2 + 2.5;
				}
				.product-thumb-container{
					.flex-display(flex);
					@media(max-width:767px){
						margin-bottom: @gutter + 5;
					}
					.product-thumbnail{
						margin-right:@gutter/2 + 2.5;
						width:@gutter * 5 + 5;
						img{
							.fullwidth;
						}
					}
					@media(max-width:767px){
						.no-padding;
					}
				}
				.product-content{
					.product-title{
						margin:0 0 @gutter/5 + 3;
						line-height:1.1;
						a{
							color:@mineShaft;
							font-size:1.6rem;
							.agenda;
						}
					}
					.product-price{
						.mz-price{
							font-size:1.7rem;
							.agenda-bold;
						}
					}
				}
				.modal-right-container{
					background:@light-grey;
					padding:@gutter - 5;
					color:@mineShaft;
					font-size:1.6rem;
					.agenda;
					line-height:1.3;
					@media(max-width:767px){
						background:none;
						.no-padding;
					}
					.modal-cart-total{
						font-size:1.8rem;
						.agenda-bold;
						margin:0 0 @gutter/2 + 2.5;
						overflow:hidden;
					}
					.tax-cont{
						margin:0 0 @gutter/2 + 2.5;
					}
					.shopping-links{
						margin:0 0 @gutter/2 + 2.5;
						.fullwidth;
						.text-center;
						.view-cart-block{
							margin:0 0 @gutter/2 - 2.5;
							display:flex;
							.view-cart-link{
								.btn-red();
								.agenda-bold;
								padding:@gutter/2 - 0.5 @gutter/5 * 7 @gutter/2 - 2.5;
								margin:0 auto;
							}
						}
						.continue-shopping-link{
							color:@torchRed;
						}
					}
					.pickup-store-container{
						.pickup-store-title{
							.agenda-bold;
							margin:0 0 @gutter/2 - 2.5;
						}
						.contact-store{
							display:none;
						}
						.store-address{
							.address-change{
								.link{
									display:block;
								}
							}
						}
						.instore-availability{
							display:none;
						}

					}
				}
				
			}
			
			.product-category-summary-container{
				margin-top:@gutter * 2 - 10;
				border-top:1px solid @mercury;
				padding:@gutter/5 * 7 0;
				.fullwidth;
				overflow:hidden;
				float:left;
				.category-summary-title{
					margin-bottom:0 0 @gutter/2 + 2.5;
					font-size:2.2rem;
					.agenda-bold;
				}
				.product-category-summary-product{
					.flex-display(flex);
					.product-tile{
						padding: 0 @gutter/2 + 2.5;
						margin-bottom:@gutter * 2;
						.product-tile-image{
							display: block;
						    position: relative;
						    margin: 0 0 @gutter/2 + 2.5;
						    img{
						    	.fullwidth;
						    	display:block;
						    }
						}
						.product-tile-content{
							.product-tile-title{
								margin-bottom:@gutter/5  + 3;
								.agenda;
								font-size:1.6rem;
							}
							.product-tile-price{
								font-size:1.7rem;
								.agenda-bold;
							}
						}
					}
				}
			}
			
			
			
		}
	}
}
.is-loading {   
	input {
        .opacity(.6);    
	 }   
	 .view-cart-link {    	
		 background-image: url(../resources/images/button-loading.gif);	    
		 background-position: 50% 50%;	    
		 background-repeat: no-repeat;	    
		 background-size: 50px;	    
		 color: transparent;	    
		 cursor: no-drop;	    
		 text-indent: -9999px;
		 pointer-events: none;   
	 }
}