.mz-productlist {
    padding-top: 40px;
    padding-bottom: @gutter;
    display: -webkit-box;     
    display: -moz-box;         
    display: -ms-flexbox;     
    display: -webkit-flex;     
    display:flex;
    webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -15px;	
    &-tiled {
        .mz-productlist-item {
            min-height: @productTileHeight;
            width: @productTileWidth;
        }
    }
}
