.mz-accountsettings {
	@media(min-width:992px){
		.flex-display(flex);
	}
	.fullwidth;
	.account-setting-block{
	    -webkit-box-ordinal-group: 3;
	    -webkit-order: 2;
	    -ms-flex-order: 2;
	    order: 2;
	    .fullwidth;
	    @media(min-width:992px){
			-webkit-box-flex: 1;
		    -webkit-flex: 1;
		    -ms-flex: 1;
		    flex: 1;
	    }
	    .form-group{
			max-width:@gutter * 12;
			input{
				.fullwidth;
			}
			label{
				font-weight:normal;
			}
		}
	    .mz-accountsettings-displayname{
	    	.account-display-block{
	    	margin: 0 0 @gutter/2 - 2.5;
		    	label{
		    		.agenda;
		    		font-weight:normal;
		    		max-width:@gutter * 6;
		    		padding-right:@gutter/2 + 2.5;
		    		.fullwidth;
		    		float:left;
		    		@media(max-width:767px) and (min-width:401px){
		    			max-width:@gutter * 5 - 5;
		    		}
		    		@media(max-width:400px){
		    			max-width:@gutter * 4 + 5;
		    			padding-right:0;
		    		}
		    		
		    	}
		    	span{
		    		.agenda-bold;
		    	}
	    	}
	    }
	    .mz-accountsettings-acceptsmarketing{
	 		.hidden;   
	    }
	    .mz-accountsettings-section{
	    	margin:0 0 @gutter/2 + 2.5;
	    	&.is-editing{
	    		padding:0 0 @gutter - 5;
	    		border-bottom:1px solid @border-light;
	    	}
	    }
	}
}
.mz-passwordsection{
	@media(min-width:992px){
		.flex-display(flex);
	}
	.fullwidth;
	.mz-accountsettings-password{
		.fullwidth;
		@media(min-width:992px){
			width:70%
		}
		.account-password-form{
			margin:@gutter/2 + 2.5 0 0;
			padding:@gutter - 5 0 0;
			border-top:1px solid @mercury;
			.fullwidth;
			.form-group{
				max-width:@gutter * 12;
				input{
					.fullwidth;
				}
				label{
					font-weight:normal;
				}
			}
		}
	}
}
.myaccount-shopping-information{
	@media(min-width:992px){
		.flex-display(flex);
	}
	.shopping-information{
		@media(min-width:992px){
			width:70%
		}
		.mystore-title{
			.agenda-bold;
			margin:0 0 @gutter/5;
			font-size:1.6rem;
		}
		.store-address{
			margin:0 0 @gutter - 5;
		}
		
		.subscription-container{
			overflow:hidden;
			.checkbox-block{
				.no-margin;
				position:relative;
				padding:@gutter 0;
				border-top:1px solid @border-light;
				overflow:hidden;
				.checkbox{
					position:absolute;
					top:@gutter;
					left:0;
				}
				.box-label{
					.agenda;
					font-weight:normal;
					margin:@gutter/5 0;
					padding:0 0 0 @gutter/5 * 7 + 1; 
				}
				.FormElement{
					overflow:hidden;
					label{
						.agenda;
						font-weight:normal;
					}
				}
				.myaccount-sectiontitle{
					.agenda;
					float:left;
					width:100%;
					@media(min-width:768px){
						width:30%;
					}
				}
				.no-aeroplan{
					margin-bottom:@gutter/5 * 3;
				}
				.aeroplan-edit-section{
					width:100%;
					@media(min-width:768px){
						width:70%;
					}
					float:left;
					.edit-link{
						top:@gutter;
					}
				}
				.aeroplan-display-block{
					.fullwidth;
					float:left;
					.agenda-bold;
				}
				.aeroplan-section{
					background:none;
					margin:0;
					padding:0;
					.removeTick{
						&:after{
							opacity:0;
						}
					}
				}
				.aeroplan-numbercontainer{
					.digit-length{
						margin-right:4%;
						width:30%;
						float:left;
						&:last-child{
							margin-right:0;
						}
					}
				}
			}
		}
	}
}