.myaccount-order-history {
	.agenda;
	font-size:1.6rem;
	.mz-l-stack-sectiontitle{
		font-size:3.4rem;
		margin:0 0 @gutter - 8;
		.agenda-bold;
		line-height:1.1;
		@media(max-width:767px){
			font-size:2.6rem;
		}
	}
	.no-orderhistory{
		.no-order-labels{
			.agenda-bold;
			font-size:1.6rem;
			margin:0 0 @gutter/2 + 2.5;
		}
		.continue-btn{
			.btn-red();
			.btn-large();
			max-width:@gutter * 10;
			&:hover{
				text-decoration:none;
			}
		}
	}
	
	.mz-orderlisting-items{
		.no-padding;
	}
	.mz-orderlist {
		.mz-orderlisting{
			.agenda;
			font-size:1.6rem;
			border-color:@orderBorder;
			.myaccount-order-list-cont{
				.myaccount-top-header{
					padding:@gutter - 5;
					border-bottom:1px solid @orderBorder;
					overflow:hidden;
					.myaccount-orderlist-heading{
						@media(min-width:992px){
							.flex-display(flex);
						}
						border-bottom:1px solid @orderBorder;
						padding:0 0 @gutter/2 + 2.5;
						margin:0 0 @gutter/2 + 2.5;
						.myaccount-order-number{
							.agenda-bold;
							font-size:1.7rem;
							line-height:1.1;
							margin:0 0 @gutter/2 + 2.5;
							@media(min-width:992px){
								margin:0 @gutter/2 + 2.5 0 0;
							}
						}
						.myaccount-order-status{
							.no-margin;
							@media(min-width:992px){
								margin-left:auto;
								.text-right;
							}
							i{
								font-size:2rem;
								color:@torchRed;
								margin-right:@gutter/2 - 2.5;
								vertical-align:top;
								&.green-link{
									color:@storeOpenStatus;
								}
							}
							span{
								@media(min-width:992px){
									float:right;
								}	
							}
						}
					}
					.myaccount-orderlist-headerdetail{
						ul{
							list-style:none;
							.no-padding;
							.no-margin;
							.flex-display(flex);
							@media(max-width:767px){
								display:block;
							}
							li{
								.myaccount-order-total{
									.agenda-bold;
									font-size:1.7rem;
									margin:0 0 @gutter/2 + 2.5;
									display:block;
									.fullwidth;
									@media(max-width:767px){
										margin:0;
									}
								}
								.item-quantity{
									font-size:1.7rem;
									.agenda-bold;
									display:block;
								}
							}
							li:first-child{
								.fullwidth;
								margin:0 auto @gutter/2 + 2.5 0;
								@media (min-width: 768px){
									margin: 0 auto 0 0;
									width: auto;
								}
								@media (min-width: 768px) and (max-width: 991px){
									width:@gutter * 6 + 8;
								}
							}
							li:nth-child(2){
								@media(max-width:767px){
									float:left;
								}
							}
							li:last-child{
								margin-left: auto;
								.text-right;
								@media(max-width:767px){
									float:right;
								}
							}
						}
					}
				}
				.myaccount-footer-list{
					background:@light-grey;
					padding:@gutter @gutter - 5;
					@media (min-width: 992px){
						padding:@gutter + 5 @gutter - 5 @gutter/5 * 7;
						.flex-display(flex);
					}
					.badge-store-content{
						padding:0 0 @gutter/5 @gutter + 5;
						margin:0 0 @gutter/2 + 2.5;
						background:url("../resources/images/hh-logo.svg") left top no-repeat;
						background-size:@gutter - 3 auto;
						@media (min-width: 992px){
							.no-margin;
						}
						span{
							.agenda-bold;
							display:block;
						}
						p{
							.no-margin;
						}
					}
					.pickup-store-info{
						margin: 0 0 0 auto;
   						padding-left:@gutter/2 + 2.5;
   						p{
   							.no-margin;
   							b{
   								.agenda-bold;
   								font-weight:normal;
   							}
   						}
					}
				}
			}
		}
	}
}