.mz-accountpaymentmethods {
	@media(min-width:992px){
		.flex-display(flex);
	}
	.mz-accountpaymentmethods-list{
		position:relative;
		
		.card-deleted {
			border-bottom:1px solid @border-light;
			margin-bottom:@gutter;
			.deleted-card-text{
			    background: @deletebg;
	  			margin-bottom: @gutter;
	  			p {
				    padding: @gutter @gutter - 5;
				    .agenda;
	  			}
	  		}
		}
	}
	.paymentmethod-with-card{
	    position:relative;
	    .mz-paymentmethod-cardnumber{
	    	position:relative;
	    	.defaultCardImg{
	    		top:-@gutter/5;
	    		left:-@gutter/5 - 1;
	    	}
	    	.card-number{
	    		margin-left:@gutter * 2;
	    	}
	    }
		.mz-paymentmethod-actions{
			@media(max-width:767px){
				.fullwidth;
				.no-margin;
				position:absolute;
				bottom:0;
				.mz-paymentmethod-edit{
					float:left;
				}
				.mz-paymentmethod-delete{
					float:right;
				}
			}
		}
	}
	.card-saved-address{
		padding:0 0 @gutter + 5;
		margin:0 0 @gutter + 5;
		border-bottom:1px solid @border-light;
		font-size:1.6rem;
		line-height:1;
		.agenda;
		@media(max-width:767px){
			padding:@gutter/2 + 2.5 0 @gutter * 2;
		}
		span{
			display:block;
			&:first-child{
				.agenda-bold;
			}
		}
	}
	.mz-paymentmethod-myaccount{
		.fullwidth;
		overflow:hidden;
		.mz-paymentmethod-actions{
			@media(min-width:768px){
				.flex-display(flex);
			    -webkit-box-orient: vertical;
			    -webkit-box-direction: normal;
			    -webkit-flex-direction: column;
			    -ms-flex-direction: column;
			    flex-direction: column;
			    -webkit-box-align: end;
			    -webkit-align-items: flex-end;
			    -ms-flex-align: end;
			    align-items: flex-end;
			    margin-left: auto;
			    .no-margin;
		    }
		    .link{
		    	.no-border;
		    	.no-padding;
		    	margin:0 0 @gutter/2 - 2.5;
		    }
		}
	}
	//Edit form
	.mz-creditcardform{
		/* margin:0 0 @gutter; */
		.form-group{
			/* max-width:@gutter * 12; */
			&.mz-payment-credit-card-type-row{
				 .select-input{
				 	select{
				 		.fullwidth;
				 	}
				 }
			}
			label{
				font-size:1.6rem;
				line-height:1;
				margin:0 0 @gutter/5;
				font-weight:normal;
				.fullwidth;
			}
			.select-input-container{
				.flex-display();
			}
			 .select-input {
		    	position: relative;
		    	&:first-child {
		    		margin-right: @gutter / 5;
		    	}
		    	&:after {
				    .material-icons;
				    font-size: 3.4rem;
				    height: @gutter + 15;
				    color: @formInputBorder;
				    content: "\E313"; 
				    line-height: 1.4;
				    position: absolute;
				    top: 0;
				    right: @gutter/5;
				    pointer-events: none;
			    }
			    select{
					padding: @gutter - 15 @gutter + 10 @gutter - 15 @gutter - 15;
					box-shadow: none;
					transition: none;
			    	.no-appearance;
			    	&::-ms-expand {
					    display: none;
					}
					option{
						box-shadow: none;
						outline: none;
						border: none;
					} 
					@media (max-width:767px){
						font-size: 16px;
					}
				}
			}
		}
		//End formgroup
    }
	.mz-creditcard-actions{ 
		margin: 0 0 @gutter - 5;
	}
	.mz-creditcard-billingaddresses{
			.billing-title{
				.fullwidth;
				.agenda-bold;
				font-weight:normal;
			}
			.mz-contactselector{
			    .mz-contactselector-contact{
			    	.fullwidth;
			    	display:block;
			    	font-size:1.6rem;
			    	font-weight:normal;
			    	padding:@gutter/5  + 3 @gutter/2  + 2.5;
			    	min-height:@gutter * 3 - 5 ;
			    	margin:0 0 @gutter/2 + 2.5;
			    	 &.mz-contactselector-new {
			        	 margin-bottom: @gutter + 15;
			        	 
			        	 .mz-addressform-address1 {
			        		 margin-bottom: @gutter + 10;
			       	 	}
			       	 	
			       	 	&>.row {
			       	 		display: block;
			       	 		.mz-contactselector-inputwrapper {
			       	 			display: table-cell;
			       	 		}
			       	 		.mz-addresssummary{
			       	 			display: table-cell;
			       	 		}
			       	 	}
			       	 	&>.address-form {
			       	 		display: block;
			       	 		.mz-addressform-firstname{
			       	 			@media(max-width:767px){
			       	 				margin-bottom:@gutter/2 + 2.5;
			       	 			}
			       	 		}
			       	 	}
			        }
			    	.address-radio{
			    		margin:@gutter 0 0;
			    		float:left;
			    	}
			    	.new-address-contact{
			    		.fullwidth;
			    		display:block;
			    		float:left;
			    		.new-address-radio{
			    			float:left;
			    		}
			    	}
			    	
			    	.mz-addresssummary{
			    			padding:@gutter/2 + 2.5 0 0 @gutter/2 + 2.5;
			    			span{
			    				display:block;
			    				&:first-child{
			    					.agenda-bold;
			    					
			    				}
			    			}
			    		}
			    }
		    }
		    .mz-contactselector-new{
				background:rgba(125, 167, 217, 0.1);
	    		.mz-contactselector-summarywrapper{
	    			vertical-align:middle;
	    		}
	    		.mz-contactselector-inputwrapper{
	    			float:left;
	    		}
	    	}
	  }
}
