.myaccount-view-order-detail{
	.view-order-detail-number{
		font-size:3.4rem;
		line-height:1.1;
		.agenda-bold;
		margin:0 0 @gutter - 8;
		text-transform:lowercase;
		&:first-letter{
			text-transform:uppercase;
		}
	}
	.view-order-subtitle{
    	.agenda-bold;
    	font-size:2rem;
    	line-height:1.1;
    	margin-bottom:@gutter - 5;
    }
    .mz-addresssummary{
    	span{
       		&:first-child{
          		.agenda-bold;
    		}
    	}
    }
    .printorder-detail{
    	color:@torchRed;
    	@media(min-width:992px){
    		float:right;
    	}
    }
    .view-all-orders{
    	color:@torchRed;
    	float:left;
    	margin:0 0 @gutter - 5;
    	.fullwidth;
    }
    .printorder-detail,.view-all-orders{
    	cursor:pointer;
	    i{
			font-size:2.4rem;
			width:@gutter - 1;
			.text-center;
			margin:0 @gutter/2 - 2.5 0 0;
			float:left;
		}
	}
    .ordered-on{
    	margin:0 0 @gutter/2 - 2.5;
    }
    .myaccount-order-status{
    	margin:0 0 @gutter/2 - 2.5;
    	i{
    		color:@torchRed;
    		margin:@gutter/5 - 3 @gutter/5 0 0;
    		float:left;
    		&.green-link{
    			color:@storeOpenStatus;
    		}
    	}
    	
    }
    //Order Status Steps
    .order-status-steps-container{
    	padding:@gutter - 5 0;
    	margin:0 0 @gutter + 5;
    	border-bottom:1px solid @mercury;
    	.order-status-steps{
    		.no-margin;
    		.no-padding;
    		list-style-type:none;
    		.flex-display(flex);
    		li{
    			position:relative;
    			padding:@gutter - 5 @gutter - 5 @gutter - 5 @gutter * 3 - 5;
    			background:@myaccountNavBg;
    			.agenda;
    			font-size:1.6rem;
    			width:35%;
			   &:first-child{
			    	width: 30%;
			    	border-top-left-radius: 4px;
    				border-bottom-left-radius: 4px;
    				padding-left:@gutter * 2;
    				&:before{
    					.hidden;
    				}
    				i{
    					font-size:2rem;
    					left:@gutter;
    				}
			    }
			    &:last-child{
			    	&:after{
    					.hidden;
    				}
			    }
			    &:before, &:after{
			   		content: " ";
				    position: absolute;
				    top: @gutter/5 + 1;
				    right: -22px;
				    width: 0;
				    height: 0;
				    border-top: 36px solid transparent;
				    border-bottom: 36px solid transparent;
				    border-left: 22px solid @light-grey;
				    z-index: 1;
			    }
			    &:before{
			    	right: auto;
				    left: 2px;
				    border-left: 22px solid @white;
				    z-index: 0;
			    }
			    i{
			    	font-size:2.4rem;
			    	display: block;
				    position: absolute;
				    top: 50%;
				    left: @gutter/5 * 8;
				    margin-top: -13px;
				    color: @storeResultBorder;
			    }
			    span{
			    	margin:0 0 0 @gutter/2 - 0.5;
			    	float:left;
			    }
			    
			    &.is-active{
			    	background:@activeArrow;
			    	i{
			    		color:@torchRed;
			    		&.green-link{
			    			color:@storeOpenStatus;
			    		}
			    	}
			    	&:after{
			    		border-left-color:@activeArrow;
			    	}
			    }
			}
    	}
    }
	    
    //Store pickup details
    .store-detail-container{
    	color:@mineShaft;
    	margin-bottom:@gutter * 2;
    	overflow:hidden;
    	float:left;
    	width: 100%;
    	.prefer-store-block {
    		.store-address {
    			.address-change {
    				.link {
    					display: none;
    				}
    			}
    		}
    	}
    	.store-pickup-note{
    		background:@storePickBg;
    		padding:@gutter/2 + 2.5;
    		margin-bottom:@gutter + 5;
    		float:left;
    		.fullwidth;
    		p{
    			.no-margin;
    		}
    	}
    }	
	    
    .pickup-by-section{
		.pickup-person{
			.agenda;
			float:left;
			.fullwidth;
			span{
				.agenda-bold;
				float:left;
				margin-right:@gutter/5;
				&:nth-child(3), &:nth-child(6){
					float:left;
					width:100%;
					margin:0 0 @gutter/2 - 2.5;
					.agenda;
				}
				&:nth-child(6){
					.no-margin;
				}
			}
		}
		
		
	}
	    
    //Payment Billing Section
	.payment-billing-section{
		margin-bottom:@gutter * 2;
		.payment-method-section{
			p{
				margin:0 0 30px;
				img{
					margin:0 @gutter/5 0 0;
				}
			}
		}
		.billing-addess-section{
			margin-bottom:@gutter + 5;
			@media(max-width:767px){
				.fullwidth;
				float:left;
			}
			.mz-addresssummary{
				span:first-child{
					.agenda-bold;
				}
			}
		}
	}
	
	.order-summary-section{
		margin:0 0 @gutter + 5;
		padding:0 0 @gutter;
		@media(max-width:991px){
			padding:@gutter + 5 0;
			margin:@gutter + 5 0 @gutter - 5;
			border-top:1px solid @mercury;
		}
	}
	
	//Order Notes Section
	.order-note-section{
		margin-bottom:@gutter * 2;
		padding:@gutter/5 * 8 0;
		border-bottom:1px solid @mercury;
		border-top:1px solid @mercury;
		margin-top:0;
	}
	.myaccount-billing-addess-section{
		margin-bottom:@gutter * 2;
	}
	.view-all-order-container{
		@media(max-width:767px){
			float:left;
			.fullwidth;
		}
	}	
	.detail-order-section{
		@media(max-width:991px){
			clear:both;
		}
	}   
	.items-in-order-container{
		.order-item-block{
			&:last-child{
				@media(max-width:767px){
					border:none;
				}
			}
		}
	} 	
}

@media print {
	  .mz-myaccount-nav, .mz-pagetitle , .mz-l-stack-sectiontitle ,.view-all-orders, .printorder-detail {
	    display:none;
	  }
	.view-order-detail-number {
	    font-size: 3.4rem;
	    line-height: 1.1;
	    font-family: "Agenda_bold", sans-serif;
	    font-style: normal;
	    font-weight: normal;
	    margin: 0 0 17px;
	}
	.ordered-on {
	    margin: 0 0 10px;
	}
	.store-pickup-location{
		float:left;
		width:50%;
	}
	.store-address{
		border: 1px solid #eb0029;
	    padding: 15px 20px;
	    margin-bottom: 15px;
	    float: left;
	    overflow: hidden;
	    width: 100%;
	}
	.store-pickup-note{
		background: #ffd65c;
	    padding: 15px;
	    margin-bottom: 30px;
	    float: left;
	    width: 100%;
	}
}

/***** FRENCH CONTENT *****/
.french-content{
	.mz-orderlisting{
		.myaccount-orderlist-headerdetail{
			li{
				@media (max-width: 991px) and (min-width: 768px){
					.flex-wrap(nowrap);
				}
			}
		}
	}
	.myaccount-view-order-detail{
		.print-section{
			@media(min-width:992px){
				padding-left:0;
			}
		}
	}
}

@media print {
	.mz-myaccount{
		.mz-pagefooter, .header-container{
			.hidden;
		}
		.print-section{
			display:block !important;
			font-size:1.6rem;
		}
		.store-detail-cont{
			.fullwidth;
			border-bottom:1px solid #979797;
			padding-bottom:@gutter;
			.top-container{
				float:left;
				margin-right:@gutter;
			}
			.store-list{
				padding:0 0 0 @gutter - 5;
				list-style:none;
			}
		}
		.myaccount-vieworderdetail-container{
			margin-top:@gutter;
			.store-pickup-location, .pickup-by-section{
				float:left;
				width:50% !important;
			}
			.myaccount-payment-billing-section{
				.fullwidth;
				display:block;
				overflow:hidden;
				.payment-billing-section{
					width:45% !important;
					float:left;
				}
				.order-summary-desktop{
					display:block;
					float:left;
					width:50% !important;
					.order-summary-details{
						border: 1px solid #e1e1e1;
					}
				}
			}
			.order-item-block {
				.order-item-product{
					width:50% !important;
					float:left;
				}
				.order-item-quantity, .order-item-details{
					width:25% !important;
					float:left;
					border:none !important;
				}
			}
			
		}
	}
}
