.mz-sitemap {
	.mz-l-pagecontent {
		.agenda;
		color: @primary-color;
		padding: 0;
		.mz-breadcrumbs{
			.hidden;
		}
		.category-title{
			font-size:2.4rem;
			padding:0 @gutter/5 * 3;
			.agenda-bold;
		}
		.main-category-container{
			.fullwidth;
			overflow:hidden;
			&.parent-category{
				display:flex;
				.category-item{
					display:flex-box;
				}
			}
			.category-item{
				column-count: 3;
    			@media(max-width:767px){
    				column-count: 2;
    			}
    			@media(max-width:480px){
    				column-count: 1;
    			}
				.sub-category{
					font-size:1.6rem;
					.agenda;
					float:left;
					margin:0 @gutter/5 * 3 @gutter/5 + 2 @gutter/5 * 2;
					width:100%;
					&:first-child{
						.category-name{
							&:last-child{
								min-height:@gutter * 2;
							}
						}
					}
					&.sub-category-without-child{
						margin:0 @gutter/5 * 3 0;
						.top-category-name{
							margin:0;
						}
					}
					.top-category-name{
						.agenda-bold;
						margin:0 0 @gutter/5;
						font-size:1.7rem;
					}
					.category-name{
						.agenda;
						font-size:1.6rem;
						color:@primary-color;
					}
				}
				.sub-category-list{
					.agenda;
					font-size:1.7rem;
					margin:0 0 @gutter/5;
					float:left;
				}
			}		
		}
	}
}