.mz-careers-posting {
	.mz-l-pagecontent {
		.agenda;
		color: @primary-color;
		padding: 0;
		
		hr {
		    margin: @gutter - 15 0;
		}
		.pagetitle {
		    font-size: 4rem;
		    margin: 2.5rem 0 0.5em;
		    font-weight: 700;
		    .agenda-bold;
		}
		
		.heading {
			margin: 0 0 @gutter - 15;
		    font-size: 2rem;
		    .agenda-bold;
		}
		p {
		    margin: 0 0 @gutter - 15;
		}
		.posting-info {
			section {
				margin-bottom: @gutter - 5;
			}
		}
		.job-posting-form {
			section {
			    margin-top: @gutter + 15;
    			margin-bottom: @gutter + 15;
    			
    			.heading {
    				font-size: 2.6rem;
    				@media (min-width: 768px) {
    					font-size: 3.4rem;
    				}
    			}
    			
    			.careers-form {
    				&.is-loading {
    				.submit-button {
    						width: 209px;
    					}
    				}
    				.errors {
						color: @torchRed;
						font-size: 14px;
						display: block
					}
    				input {
    					&.form-control {
    						background: @white;
    					}
    				}
    				
    				
    				.control-label {
    					.agenda-bold;
	    				&.font-normal {
	    					.agenda;
	    				}
	    			}
	    			.file-input {
	    				input[type="file"] {
	    					width: 0.1px;
						    height: 0.1px;
						    opacity: 0;
						    overflow: hidden;
						    position: absolute;
						    z-index: -1;
	    				}
	    				
	    				.upolad-button {
	    					.btn-yellow();
	    					.btn-small();
	    				}
	    			}
	    			.download-link {
    					color: @torchRed;
    					display: block;
    				}
	    			.submit-button {
	    				.btn-red();
	   					.btn-small();
	   					margin-top: @gutter - 10;
	    			}
    			}
    			
    		}
		}
		
		.apply-address-section {
			section {
				margin-top: @gutter + 15;
   				margin-bottom: @gutter + 15;
   				.heading {
				    font-size: 2.4rem;
   				}
			}
		}
		
	}
	
}

