.mz-category { 
    .agenda;
    color: @primary-color;
    .mz-l-pagecontent {
        padding: 0;
    }

    .promotional-product-banner {
        margin-bottom: @gutter + 15;
        
        .banner-section2 {
        	min-height: 385px;
        	overflow: hidden;
        }
        .banner-section1,
        .banner-section2 {
            padding: 0px;

            .mz-cms-content {
                padding: 0px;
            }

            .mz-cms-row {
                max-width: 100%;
                display: block;

                @media (min-width: 768px) {
                    display: -webkit-box;     
                    display: -moz-box;         
                    display: -ms-flexbox;     
                    display: -webkit-flex;     
                    display:flex;
                } 

                .mz-cms-col-6-12 {
                        display: -webkit-box;     
                        display: -moz-box;         
                        display: -ms-flexbox;     
                        display: -webkit-flex;     
                        display:flex;

                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                        -moz-box-orient: vertical;
                        -moz-box-direction: normal;
                        -ms-flex-direction: column;
                        -webkit-flex-direction: column;
                        flex-direction: column;
                        width: 100%;

                        .mz-cms-block {
                            height: 100%;

                            .mz-cms-content {
                                height: 100%;

                                .promotional-banner,    
                                .promotional-product {
                                    height: 100%;
                                }
                            }
                        }
					}
				}
        }

    }

    .excerpt-tile {
        display: block;
        margin: 0 0 @gutter + 5;

        .excerpt-tile-image {
            display: block;
            position: relative;
            margin: 0 0 @gutter - 10;

            .category-image {
                display: block;
                width: 100%;
            }
        }

        .excerpt-tile-content {
    		min-height: @gutter + 10;
        	
            .excerpt-tile-title {
                font-size: 1.125rem;
                font-weight: 700;
                margin: 0;
            }
        }
    }

    .popular-products {
        margin-top: @gutter - 5;
        border-top: 1px solid @mercury;
        padding: @gutter + 10 0;
        text-align: center;

        .title {
            font-size: 2.125rem;
            margin: 0 0 @gutter - 10;
            font-weight: 700;
        }

        .description {
            font-size: 1.063rem;
            margin: 0 0 @gutter + 5;
        }

        .product-tile {
            margin-bottom: @gutter + 25;
            .product-tile-image {
                display: block;
                position: relative;
                margin: 0 0 @gutter - 10;

                .product-image {
                    display: block;
                    width: 100%;
                }
            }

            .content {
                text-align: left;
                .product-title {
                    font-weight: normal;
                    font-size: 1rem;
                }

                .price {
                    font-size: 1.063rem;
                    margin: @gutter - 15 0 0;
                    font-weight: 700;
                }
            }
        }
    }

    .featured-brands-section {
        margin-bottom: @gutter + 15;
        .mz-cms-content {
            padding: 0px;
        }
    }

    .brand-logo-section {
        margin-bottom: @gutter + 25;

        .mz-cms-content {
            padding: 0px;
        }
    }
}



.mz-category {
	.agenda;
    color: @primary-color;
	.mz-l-pagecontent {
		padding: 0;
		.bv-cv2-cleanslate .bv-core-container-5 .bv-inline-rating-container .bv-rating-stars-on{
			color:@torchRed !important;
		}
		.widget-section {
			background: @light-grey;
		    padding-top: @gutter + 5;
   			padding-bottom: @gutter + 5;
			
			.category-title {
				.agenda-bold;
				font-size: 4rem;
		        margin: 0 0 @gutter - 5;
			}

			.sales-banner-widget {
			    display: table;
			    table-layout: fixed;
			    height: 100%;
			    width: 100%;
			    margin-bottom: @gutter + 15;
			    
				.sales-banner1,
				.sales-banner2 {
				
				
					@media screen and (min-width: 768px) {
					    vertical-align: top;
					    display: table-cell;
					    float: none;
					    height: 100%;
					}
					.mz-cms-content {
						padding: 0;
					}
				}
					
			}
			
			.poppular-categories {
				.title {
					.agenda-bold;
				    font-size: 2.2rem;
				    margin: 0 0 @gutter - 10;
			        padding: 0;
				}
				
				.mz-cms-content {
					padding: 0;
				}
			}
		}
		
		.bottom-widget-section {
			border-top: 1px solid @mercury;
	    	border-bottom: 1px solid @mercury;
    	    margin-top: @gutter + 5;
   			margin-bottom: @gutter + 5;
			.mz-cms-content {
				padding: 0;
			}
		}
		
		.filter-section {
		    border-top: 1px solid @border-light;
   			border-bottom: 1px solid @border-light;
		    background-color: @light-grey;
		}
		
		.mz-l-paginatedlist-list {
			.filters {
			    padding: 50px 0;
				@media (max-width: 767px) {
				    position: fixed;
				    top: 0;
				    left: 0;
				    right: 0;
				    bottom: 0;
				    background: white;
				    z-index: 10;
				    padding: 0 @gutter - 10;
				    display: none;
				    -webkit-box-orient: vertical;
				    -webkit-box-direction: normal;
				    -webkit-flex-direction: column;
				    -ms-flex-direction: column;
				    flex-direction: column;
				}
				
				&.open {
					display: -webkit-box;     
                    display: -moz-box;         
                    display: -ms-flexbox;     
                    display: -webkit-flex;     
                    display:flex;
                    z-index: 200;
				}
				
				.filters-menu {
					padding: @gutter - 10;
				    margin: 0 -15px;
				    border-bottom: 1px solid @formInputBorder;
				    
				    @media (min-width: 768px) {
				    	display: none;
				    }
				    
				    
		    	 	.clear-filters {
			    	    color: @torchRed;
    					line-height: 40px;
    					cursor: pointer;
				    }
				    
				    .filter-button {
				    	.btn-yellow();
				    	.btn-medium();
			    	    float: right;
			    	    .agenda-bold;
				    }
				    
				   
				}
				
				.filters-facets {
					-webkit-box-flex: 1;
				    -webkit-flex: 1;
				    -ms-flex: 1;
				    flex: 1;
				    padding: @gutter + 5 @gutter - 10;
				    margin: 0 -15px;
				    overflow: auto;
				    
				    @media (min-width: 768px) {
					    padding: 0;
					    margin: 0;
					}
					
					&>h3 {
					    .agenda-bold;
					    font-size: 3.4rem;
					    text-align: center;
					    margin: 0 0 @gutter - 8 0;
					    
					}
				}
				
				
			}
		}
	}
	
}
 .heres-how {
 	.mz-breadcrumbs {
 		&>.container {
 			display: none;
 		}
 	}
 }
.mz-article-category {
	.agenda;
    color: @primary-color;
    .mz-l-pagecontent {
        padding: 0;
        
        .mz-breadcrumbs {
        	background: @light-grey;
        }
    }
    
    .advice-header-title-wrapper {
    	background: @light-grey;
    	.advice-header-title {
	   		font-size: 3.4rem;
	   		margin: 0 0 @gutter - 5;
	   		.agenda-bold;
	   		@media (min-width: 768px) {
	   			font-size: 4rem;
	   			margin: 0 0 @gutter - 15;
	   		}
	   	}
    }    
    
    .article-category {
    	&>.container {
    		border-bottom: 1px solid @formInputBorder
    	}
    	.header-container {
    		background: @light-grey;
    		.advice-header-title {
		   		font-size: 3.4rem;
		   		margin: 0 0 @gutter - 5;
		   		.agenda-bold;
		   		@media (min-width: 768px) {
		   			font-size: 4rem;
		   			margin: 0 0 @gutter - 15;
		   		}
		   	}
    		.page-menu {
	   		    margin: 0 0 @gutter;
	   		    @media (min-width: 768px) {
	   		    	margin: 0 0 @gutter + 10;
	   		    }
	    	}
	    	
	    	.page-menu-list {
    		    margin: 0;
			    padding: 0;
			    list-style: none;
			    &>li {
		    	    display: inline-block;
				    font-size: 1.8rem;
				    text-transform: uppercase;
				    &:not(:first-child) {
			    	    margin-left: @gutter - 13;
					    padding-left: @gutter - 13;
					    border-left: 1px solid @separatorColor;
				    }
				    
				    #exploreBy {
				    	cursor: pointer;
				    }
				    
				    .drop-arrow {
				        vertical-align: text-bottom;
				        font-size: 2.4rem;
				        .material-icons;
				    	&:before {
						    content: "\E313";
				    	}
				    }
				    
				    .dropdown-menu {
				    	padding: 0;
					    border-radius: 0;
					    border: 1px solid @formInputBorder;
					    font-size: 1.8rem;
				    	li {
					    	a {
					    		padding: @gutter - 15 @gutter - 10;
					    	}
					    }
				    }
				    
			    }
	    	}
	    	
	    	.page-menu-select {
	    		position: relative;
	    		select {
					border: 1px solid @formInputBorder;
				    border-radius: 0px;
				    background: @white;
				    padding: @gutter - 15 @gutter + 10 @gutter - 15 @gutter - 15;
			        height: 41px;
				    -webkit-appearance: none;
				    -moz-appearance: none;
				    appearance: none;
				    width: 100%;
	    		}
	    		
	    		select::-ms-expand {
				    display: none;
				}
	    		
	    		&:after {
				    height: 41px;
				    line-height: 41px !important;
				    color: @formInputBorder;
				    .material-icons;
				    content: "\E313";
			        font-size: 3.4rem;
		            position: absolute;
				    bottom: 0;
				    right: @gutter - 15;
				    pointer-events: none;
				}
			}
    	}
    	
    	.tiles-wrap {
   		    padding-top: @gutter + 5;
		    .flex-display(flex);
            .flex-wrap(wrap);
   		    .expert-tile {   		    	
   		    	margin: @gutter - 10;
	    	    display: block;
    			font-size: 1.6rem;
   			    float: left;
   			    
   			    @media (min-width: 767px) {
   			    	width: ~'calc(25% - 30px)';
   			    }
   			    @media (max-width: 767px) {
   			    	width: 100%;
   			    	display: -webkit-box;     
                    display: -moz-box;         
                    display: -ms-flexbox;     
                    display: -webkit-flex;     
                    display:flex;
   			    }
   				.image {
    				display: block;
				    position: relative;
				    margin: 0 0 @gutter - 10;
				    @media (max-width: 767px) {
				    	width: 130px;
				    }
				    
				    img {
				    	display: block;
    					width: 100%;
    					border: 1px solid @formInputBorder;
				    }
    			}
    			
    			.tile-content {
    				@media (max-width: 767px) {
    					width: ~'calc(100% - 130px)';
    					padding-left: @gutter - 10;
    				}
    			}
   		    }
    	}
    }
	
}
.u-sr-only {
	
}