@-webkit-keyframes pulse {
  from { .opacity(0.2); }
  to { .opacity(0.3); }
}
@keyframes pulse {
  from { .opacity(0.2); }
  to { .opacity(0.3); }
}

.mz-checkout {
	.mz-l-pagecontent {
		padding-left: 0;
		padding-right: 0; 
	}
} 
.showDefaultCard {
	background-image: url(../resources/images/default_card.png); 
	background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left: @gutter * 2 !important;
}
.cardBgImg {
	background-image: url(../resources/images/payment-options-cards.png); 
	background-repeat: no-repeat;
}
.showVisaImg {
	.cardBgImg;
    background-position: 5px 7px;
    background-size: 250%;
}
.showMastercardImg {
	.cardBgImg;
    background-position: -52px 3px;
    background-size: 350%;
}
.showAmexImg {
	.cardBgImg;
    background-position: -102px 3px;
    background-size: 380%;
}
.showDiscoverImg {
	.cardBgImg;
    background-position: -109px 5px;
    background-size: 300%;
}

.defaultCardImg {
	position: absolute;
	top: 5px;
 	bottom: 0;
 	left: 5px;
 	right: 0px;
 	width: 47px;
}
.card-number-with-type {
	position: relative;
	
	.mz-payment-credit-card-number {
		padding-left: @gutter * 2 + 10 !important;
	}
}
.checkout-container, .login-container {
	margin-top: @gutter - 10;
	.mz-messagebar {
	ul {
		display: none;
			&:first-child {
				display: block;
			}
		}
	}
}
.mz-checkout-mask {
  position: absolute;
  background-color: @textColor;
  .opacity(0);
  .animation(pulse, 0.5s, 0s, linear, alternate, infinite);
}

.mz-checkoutform-comments-field {
    width: 100%;
    height: 8em;
}


.mz-checkoutform-active {
    width: 100%;
}

.mz-paymentselector-newcreditcard {
	padding-top: @gutter - 5;
}
.mz-checkout-saved-card-editing {
	margin: 0;
}
.needCallAboutOrder {
	.agenda;
	font-size: 80%;
}
.mz-checkoutform, .mz-contactselector-new {
    box-sizing: border-box;
    label {
      cursor: default;
      .agenda;
      color:@primary-color;
      margin:0 0 @gutter/5;
      .fullwidth;
    }
    .mz-paymentselector-label-newcreditcard {
    	color: @secondary-color;
    	font-size: 1.6rem;
    }
    .form-group{
    	margin:0 0 @gutter/2 + 2.5;
    }
    a {
      cursor: pointer;
    }
    .mz-checkout-button-link {
      padding: @gutter - 22;
      border: 1px solid @formInputBorder;
      color: @linkHoverColor;
      background-color: #f7f7f7;
      cursor: pointer;
      margin: @gutter/4;
    }
    .mz-checkout-button-link:hover{
      border: 1px solid @storeClosedStatus;
      color: black;
    }

}

.mz-checkoutform-shipping {
  padding-top: @gutter/4;
    display: block;
}


.is-loading select {
    background-image: url('../resources/images/button-loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: rgba(0, 0, 0, .25);
}

.mz-checkoutform-shipping-edit {
    padding: @gutter/4 @gutter/4 @gutter/4 @gutter/4;
    .mz-shipping-row {
      margin: @gutter/4;
      display: flex;
      flex-wrap: wrap;
      .mz-shipping-row-item{
        display: flex;
        align-items: center;
        flex-grow: 1;
      }
    }

}

.mz-l-formfieldgroup-cell {
    > .mz-contactselector {
        width: 100%;
    }
}

.mz-formstep-header {
    &.mz-checkoutform-header {
        background-color: @headerDefaultBg;
        color: @mineShaft;
        padding: @gutter/2 - 2.5 @gutter/2 + 2.5 @gutter/5 + 1;
        font-size:1.8rem;
        .agenda-bold;
        margin:0 0 @gutter/2 + 2.5;
        line-height: 2.4rem;
        > span{
        	@media(max-width:767px){
        		
        	}
        }
        > a {
            color: @white;
            padding-right: @gutter - 10;
        }
        &:before{
		    font-weight: bold;
		    content: attr(data-step);
		    display: inline-block;
		    vertical-align: middle;
		    font-size: 1.6rem;
		    line-height: 1.6;
		    text-align: center;
		    overflow: hidden;
		    width: @gutter - 1;
		    height: @gutter - 1;
		    border-radius: 50%;
		    background: @formInputBorder;
		    margin: -@gutter/5 + 2 @gutter/2 - 2.5 0 0;
        }
    }
}
.is-incomplete {
	.mz-checkoutform-header{
		background:@checkoutSectionHeader;
		color:@white;
		&:before{
		    background: @incompleteIconBG;
		    color:@mineShaft;
		}
	}
}
.is-complete{
	.mz-checkoutform-header{
		background:@checkoutSectionHeader;
		color:@white;  
		margin-bottom: 0;
		&:before{
		 	.material-icons;
		    content: "\E876";
		    background: @completeIconColor;
		    line-height: 1.6;
		}
	}
}
.incomplete-step {
	background:@checkoutSectionHeader !important;
	color:@white !important;
	&:before{
	    background: @incompleteIconBG !important;
	    color:@mineShaft;
	}
}

.mz-formstep-body {
    > .mz-formstep-edit {
        float: right;
        top: @gutter/4;
        position: relative;
        display: inline-block;
	    float: right;
	    font-size: 1.6rem;
	    color: @white;
	    .agenda; 
    }
}

.mz-checkoutform-title {
    font-size:1.6rem;
	.agenda-bold;
	margin-bottom:@gutter/5 + 3;
}

.mz-shipping-method-address{
  width: 100%;
  display: flex;
    .mz-l-formfieldgroup-cell {
      flex-grow: 1;
      margin-left: @gutter;
      padding: @gutter/4 0px @gutter/4 0px;

    }

}

.mz-shipping-method-items {
  div {
    margin-left: @gutter;
  }
  span {
    padding: @gutter/4;
  }
}
.mz-shipping-method-section {
  margin: @gutter/2;
}

.mz-l-formfieldgroup {

    .mz-payment-select-saved-payments {
        width: @gutter * 10 + 10;
        margin-top: @gutter/4;
    }

    .mz-paymenttypes {
        .mz-paymenttype {
            text-align: left;
            margin: @gutter - 21 0;
        }

        input {
            display: inline-block;
            vertical-align: middle;
        }

        .mz-paymenttype-label {
            display: inline-block;
            vertical-align: middle;
        }
    }
    
    .saved-payment-section {
    	display: block;
    	padding-bottom: 0;
    	padding-right: 0;
    	.saved-payments + .saved-payments {
    		margin-top: @gutter - 10;
    		margin-bottom: 0;
    	}
    	.saved-payments {
	    	 position: relative;
    	     -webkit-box-shadow: none;
   			 box-shadow: none;
    		 -moz-box-shadow: none;
    		  
	    	 .expired-card-link {
		    	position: absolute;
		    	z-index: 9;
		    	color: @link-red;
		    	.agenda;
		    	font-size: 1.4rem; 
		    	right: @gutter - 10;
    			top: @gutter - 3;   
		    }
	    	.payment-method-selection-label {
		    	position: relative;
			    z-index: 1;
			    display: block;
			    padding: @gutter - 8 @gutter - 10 @gutter - 12 @gutter * 2;
			    line-height: 2.6rem;
			    border: 1px solid @formInputBorder;
			    border-radius: @gutter / 5;
			    cursor: pointer;
			    background-color: @main-background;
			    text-align: left !important;
			    margin-bottom: 0;
			    
			    .expiry-date-section {
			    	@media (max-width: 767px) {
			    		display: block;
			    		margin-left: @gutter - 15;
			    	}
			    }
			    
			    &.expired-card {
			    	color: @inputBorder;
			    	pointer-events: none;
			    	.payment-method-label {
			    		border: 1px solid @inputBorder;
			    		background: @light-grey;
			    	}
			    }
			    
			    @media (min-width: 768px) {
			    	padding-left: @gutter * 2 + 15;
			    }
			    
			    .card-img {
		    	    position: absolute;
				    top: 12px;
				    bottom: 0;
				    left: 50px;
				    right: 0px;
				    width: 47px;
			    }
			    .card-number {
			    	margin-right: @gutter - 10;
			    	padding-left: @gutter + 15; 
			    	@media (max-width: 767px) {
			    		padding-left: @gutter * 2;
			    	}
			    }
			    .card-expiration-info {
			    	font-size: 1.4rem;
		    		margin-left: @gutter - 10;
		    		@media (max-width: 767px) {
		    			margin-left: 0;
		    		}
			    }
			    .expired-symbol {
			    	&:before {
		    			.material-icons;
					    font-size: 2rem; 
					    height: @gutter + 17;
					    color: @link-red; 
					    content: "\E000"; 
					    line-height: 1.4;
					    position: absolute;
					    bottom: 0;
					    pointer-events: none;
		    		} 
			    }
			    .expired-txt {
			    	margin-left: @gutter - 3;
			    }
			    .card-number, .card-expiration-info {
			    	display: inline-block;
			    	vertical-align: middle;
			    }
			    .saved-indicator {
			    	float: right;
			    	margin-right: @gutter + 5;
			    	color: @greenIndicator;
			    	&:after {
					    .material-icons;
					    font-size: 2rem; 
					    height: @gutter + 17;
					    content: "\E876"; 
					    line-height: 1.4;
					    position: absolute;
					    bottom: 0;
					    right: @gutter - 5;
					    pointer-events: none;
				    }
			    }
			    
		    }
		    .payment-method-radio {
		    	position: absolute;
			    z-index: 1;
			    top: @gutter - 19; 
			    left: @gutter - 10;	
			    .payment-method-label {
			    	min-width: 0;
			    	&:after {
			    		position: absolute;
			    		right: 1px;
			    	}
			    }
		    }
		    
		    .edit-card-modal {
    			.agenda;
    			padding-right:0 !important;
    			@media (max-width: 767px) {
    				position: fixed;
				    top: 0;
				    right: 0;
				    bottom: 0;
				    left: 0;
				    z-index: 1050;
				    overflow: auto;
				    -webkit-overflow-scrolling: touch;
				    outline: 0;
    			}
    			.modal-dialog {
    				@media (max-width: 767px) {
    					margin: 0;
    					width: auto;
    				}
    				@media (min-width: 768px) and (max-width: 991px) {
   						width: auto;
   						margin: @gutter + 5;
    				}
					width: @gutter * 32;
					margin: @gutter + 5 auto;	
					.modal-content {
						@media (min-width: 768px) {
							padding: 0 @gutter + 5;
						}
						@media (max-width: 768px) {
							border: none;
						}
						padding: 0 @gutter - 10;
						.modal-header {
							min-height: @gutter + 5;
						    padding: @gutter - 15 0;
						    border-bottom: 1px solid @border-light;
						    @media (min-width: 768px) {
						    	padding: @gutter - 10 0;
						    }
						    .modal-title {
						    	.agenda-bold;
						    	font-size: 2.2rem;
							    line-height: 1.2;
							    margin: @gutter - 15 @gutter + 15 @gutter - 20 0;
							    text-align: left;
							    @media (min-width: 768px) {
							    	font-size: 3.4rem;
									margin: @gutter - 10 @gutter * 2 @gutter - 10 0;
							    }
					    }
					    .modal-close {
					    	position: absolute;
						    top: @gutter - 15;
						    right: @gutter - 15;
						    width: @gutter + 11;
						    height: @gutter + 11;
						    text-decoration: none;
						    text-align: center;
						    z-index: 1;
						    @media (min-width: 768px) {
					    	    top: @gutter;
											right: @gutter - 2;
						    }
						    .u-sr-only {
						    	&:before {
						    		.material-icons;
						    		font-size: 3rem;
								    line-height: 1.2;
								    content: "\E14C";
						    	}
						    }
					    }
 							}
 							.modal-body {
	    				text-align: left;
	    				padding: @gutter - 10 0;
	    				@media (min-width: 768px) {
    					    padding: @gutter + 5 0;
	    				}
	    				.card-type {
	    					text-align: left;
	    				}
	    				.change-billing-addr-link {
	    					color: @secondary-color;
	    				}
	    				.card-number {
	    					text-align: left;
	    				}
	    				.card-number-with-type {
	    					.mz-payment-credit-card-number {
	    						background-color: @light-grey;
	    						color: @inputBorder;
	    					}
	    				}
	    				.expiration-detail-label {
	    					text-align: left;
	    				}
	    				.security-code-label {
	    					text-align: left;
	    				}
	    				.expired-symbol, .temp-expired-symbol {
					    	&:before {
				    			.material-icons;
							    font-size: 2rem; 
							    height: @gutter + 17;
							    color: @link-red; 
							    content: "\E000"; 
							    line-height: 1.4;
							    position: absolute;
						        bottom: 46px; 
					            left: 93px;
							    pointer-events: none;
				    		} 
					    }
					    .temp-expired-symbol {
					    	position: relative;
					    	&:before {
					    		top: -32px; 
					    		left: 81px;
					    	} 
					    }
					    .highlight-expired-card, .temp-highlight-expired-card {
					    	.select-input {
					    		border: 1px solid @link-red;
					    	}
					    }
	    				.expiration-details {
	    					display: -webkit-box;
						    display: -webkit-flex;
						    display: -ms-flexbox;
						    display: -moz-box;
						    -webkit-box-align: center;
						    -webkit-align-items: center;
						    -ms-flex-align: center;
						    align-items: center;
						    .select-input {
						    	position: relative;
						    	&:first-child {
						    		margin-right: @gutter / 5;
						    	}
						    	&:after {
								    .material-icons;
								    font-size: 3.4rem;
								    height: @gutter + 15;
								    color: @formInputBorder;
								    content: "\E313"; 
								    line-height: 1.4;
								    position: absolute;
								    bottom: 0;
								    right: @gutter - 15;
								    pointer-events: none;
							    }
						    	.expiration-month, .expiration-year {
						    		.agenda;
						    		font-size: 1.6rem;
						    		-webkit-appearance: none;
								    -moz-appearance: none;
								    appearance: none;
								    width: 100%;
								    border: 1px solid @formInputBorder;
								    border-radius: 0px;
								    padding: @gutter - 15 @gutter + 10 @gutter - 15 @gutter - 15;
						    	}
						    }
	    				}
	    				.make-default-card {
	    					label {
	    						display: inline;
	    						min-width: 0;
	    						text-align: left;
	    					}
	    					.make-default-card-label {
	    						margin-left: @gutter - 17;
	    					}
	    				}
	    				.mz-payment-credit-card-type-row {
	    					.card-type-section {
	    						position: relative;
					    		&:after {
								    .material-icons;
								    font-size: 3.4rem;
								    height: @gutter + 15;
								    color: @formInputBorder;
								    content: "\E313";
								    line-height: 1.4;
								    position: absolute;
								    bottom: 0;
								    right: @gutter - 9;
								    top: @gutter + 4;
								    pointer-events: none;
							    }
	    					}
						    
						    .select-credit-type {
						    	.agenda;
					    		font-size: 1.6rem;
					    		-webkit-appearance: none;
							    -moz-appearance: none;
							    appearance: none;
							    width: 100%;
							    border: 1px solid @formInputBorder;
							    border-radius: 0px;
							    padding: @gutter - 15 @gutter + 10 @gutter - 15 @gutter - 15;
						    }
	    				}
	    				
   						.payment-method-label {
   							min-width: 0;
   							&:after {
					    		position: absolute;
					    		right: 1px;
					    	}
   						}
   						.mz-addresssummary {
   							.billing-address-section { 
   								border: none;
   								
   								.billing-new-address-container {
   									background: rgba(125, 167, 217, 0.1);
   									.new-billing-address-form {
		    							padding: @gutter - 10 0 0;  
		    							background: none;
		    							.form-group-row{
			    							.mz-addressform-firstname, .mz-addressform-country, .mz-addressform-state{
			    								@media(max-width:767px){
			    									margin:0 0 @gutter/2 + 2.5;
			    								}
			    							}
		    							}
		    							.add-new-address-radio {
		    								margin-right: @gutter - 10;
		    								.payment-method-label {
										    	min-width: 0;
										    	display:inline-table;
										    	&:after {
										    		position: absolute;
										    		right: 1px;
										    	}
										    }
		    							}
		    							.mz-validationmessage {
		    								display: block;
		    							}
		    							.addNewAddrLabel {
		    								display: inline;
		    							}
		    							span {
		    								display: inline;
		    							}
		    							label { 
		    								text-align: left;
		    							}
		    						}
   								}
		    						
								}
							}
		    			}
		    			.modal-footer {
		    				text-align: center;
		    				.cancel-link {
		    					margin-right: @gutter - 5;
		    					font-weight: normal;
							    text-transform: none;
							    background: transparent;
							    border: 1px solid transparent;
							    color: @link-red;
		    				}
		    				.save-card-btn {
		    					.btn-yellow();
		    					.btn-small(); 
		    					 margin-left: @gutter + 5;
		    				}
		    			}
					}	    				
    			}
    		}
		    
		    .saved-credit-card-info {
		    	margin-top: -@gutter + 5;
		    	padding: @gutter + 15 @gutter - 5;
		    	border: 1px solid @border-light;
		    	
		    	.security-label-section {
		    		@media (max-width: 767px) {
		    			margin-bottom: @gutter - 10;
		    		}
		    	}
		    	.address-section {
		    		@media (max-width: 767px) {
		    			margin-bottom: @gutter - 10;
		    		}
		    	}
		    	
		    	.mz-checkoutform-title {
		    		margin-top: 0;
		    	}
		    	
		    	.cvv-input-box {
		    		width: 100%;
		    	}
		    	.mz-addresssummary {
		    		.agenda;
		    		line-height: 1.1;
		    	}
		    	.security-code-label {
		    		display: inline-block;
		    		text-align: left;
		    		min-width: 0;
		    	}
		    	.security-code-input {
		    		width: 100%;
		    		font-size: 1.6rem;
		    		line-height: 1.6rem;
		    		padding: @gutter - 14 @gutter - 10 @gutter - 17;
		    	}
		    	.edit-card-div {
		    		.agenda;
		    		text-align: right;
		    		@media (max-width: 767px){
		    			text-align: left;
		    		}
		    		.edit-card-link {
		    			color: @secondary-color;
		    		}
		    		
		    	}
		    }
	    }
    }
}

.review-order-text {
	font-size: 1.8rem !important;
	.agenda-bold;
	font-weight: normal !important;
	margin: 0 0 @gutter - 16;
    line-height: 1.1;	
    padding-top: @gutter - 5;
}
.order-note-section {
	.agenda;
    margin-top: @gutter + 5;
    margin-bottom: @gutter + 5;
	.order-note-text {
		color: @secondary-color;
		font-size: 1.6rem;
		margin-left: @gutter - 13;
		
		&.collapsed {
	    	&:before {
	    		content: "\E145"; 
	    	}
	    }
	    &:before {
		    .material-icons;
		    font-size: 1.6rem;
		    height: @gutter + 15;
		    color: @link-red;
		    content: "\E15B"; 
		    line-height: 1.4;
		    position: absolute;
		    left: @gutter - 13;
	    }
	    &:hover,&:focus{
	    	text-decoration:none;
	    	span{
	    		text-decoration:underline;
	    	}
	    }
	}
	.order-note-text-area {
		margin-top: @gutter - 15;
	    width: 100%;
	    border: 1px solid @formInputBorder;
	    font-size: 1.6rem;
	    line-height: 1.6rem;
	    padding: @gutter - 14 @gutter - 10 @gutter - 17;
	}
}
.create-account-section {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: @gutter + 5 !important;
    padding: @gutter - 10;
    background-color: rgba(125, 167, 217, 0.1);
    .create-account-checkbox {
   	    margin-right: @gutter - 15;
    }
    .create-account-label {
    	cursor: pointer;
	    vertical-align: middle;
	    margin: 0 0 0 @gutter - 17;
	    .create-account-txt {
	    	.agenda-bold;
	    }
    }
}
.terms-conditions-section {
	.agenda; 
	font-size: 1.6rem;
	margin-bottom: @gutter + 5;
	margin-top: 0;
	.terms-conditions-text, .privacy-policy-text {
		color: @secondary-color;
	}
}
.place-order-btn {
	.btn-red();
	.btn-medium();
}
.order-msg {
	.agenda;
	margin-top: @gutter + 5;
}
.instore-pickup-info-container {
	margin-bottom: 0;
	padding-bottom: @gutter * 2;
	
	.instore-pickup-info {
		padding-top: @gutter - 5;
		.your-contact-text {
			.agenda-bold;
		    margin: 0 0 @gutter - 15;
		    line-height: 1.1;
		    font-size: 2rem;
		}
		.email-you-txt {
			.agenda;
			font-size: 1.6rem;  
			margin: 0;
			margin-bottom: @gutter + 5;
			line-height: 1.2;
		}
		.attribute-form-element {
			line-height: 1.1;
		}
		.pickup-info-input {
			width: 100%;
		}
		.for-element + .for-element {
			margin-top: @gutter - 10;
		}
		.bottom-margin {
			margin-bottom: @gutter + 15;
		}
		.ask-for-second-person {
			.agenda-bold;
			margin-bottom: @gutter / 5;
		}
		.second-pickup-person-info {
			padding: @gutter - 10;
			margin-bottom: @gutter + 5;
			background-color: rgba(125, 167, 217, 0.1);
			
			.add-second-person-txt {
				.agenda;
				margin: 0 0 0 @gutter - 17;
			}
			.gov-ID-proof-txt {
				.agenda;
				margin-top: @gutter + 5;
	    		margin-bottom: @gutter + 5;
			}
		}
		.pickup-by-txt {
			.agenda-bold;
		    margin: 0 0 @gutter - 16;
		    line-height: 1.1;
		    font-size: 1.8rem;
		}
		.pickup-store-summary {
			.agenda;
			margin-bottom: @gutter + 5;
		}
		.pickup-by-info {
			.agenda;
			margin: 0;
			line-height: 1.1;
		}
		.pickup-hold-txt {
			.agenda;
			margin-top: 0;
		}
		.threeTenDays {
			margin-bottom: @gutter + 5;
		}
		.second-person-summary {
			.agenda;
			margin-bottom: @gutter + 5;
			line-height: 1.1;
		}
		.pickup-store-info-section {
			.agenda;
			line-height: 1.1;
			margin-bottom: @gutter + 5;
    		margin-top: 0;
			.your-pickup-store {
				.agenda-bold;
			    margin: 0 0 @gutter - 15;
			    line-height: 1.1;
			    font-size: 1.8rem; 
			}
			.itemArriveMsgSection {
				.threeToTenDaysTxt {
					.agenda-bold;
				}
			}
		}
	}
}
.is-complete .pickup-info {
	padding: 0;
}
.payment-method-section {
	margin-bottom: 0;
	.mz-formstep-body {
		padding-bottom: @gutter * 2;
	}
	.step-payment-continue-btn-div {
		margin-top: @gutter * 2 !important;
	}
}
.instore-pickup-summary {
	border: 1px solid @formInputBorder;
    border-top: none;
    margin: 0;
    padding: @gutter + 5 @gutter - 5;
    padding-top: @gutter + 5 !important;
}
.coupon-section {
	margin-top: @gutter + 5;
    margin-bottom: @gutter + 5;
    cursor: pointer;
    
    .coupon-code-heading {
    	.agenda-bold;
    	font-size: 1.8rem;
    	margin: 0;
	    padding: @gutter - 5 @gutter + 15 @gutter - 5 @gutter - 10;
	    border: 1px solid @formInputBorder;
	    background: @light-grey;
	    position: relative;	
	    
	    &.collapsed {
	    	&:after {
	    		content: "\E313";
	    	}
	    }
	    &:after {
		    .material-icons;
		    font-size: 3.4rem;
		    height: @gutter + 15;
		    color: @storeResultBorder;
		    content: "\E5CE"; 
		    line-height: 1.4;
		    position: absolute;
		    right: @gutter - 10;
    		top: @gutter - 18;
		    pointer-events: none;
	    }
    }
    .coupon-code-section {
    	margin-top: -1px;
	    border: 1px solid @formInputBorder;
	    border-width: 0px 1px 1px 1px;
	    
	    .coupon-code-input {
	    	margin: 0 @gutter - 10 @gutter - 10 @gutter; 
	    	padding-top: @gutter - 15;
	    	
	    	.coupon-input {
	    		margin-top: @gutter - 10;
	    		
	    		.coupon-code-field {
	    			margin-bottom: @gutter - 10;
	    			.coupon-code {
		    			width: 100%;
		    		}
	    		}
	    		
	    	}
	    	.apply-btn {
	    		.btn-yellow();
	    		.btn-small();   
	    	}
	    	.invalid-coupon {
	    		.agenda;
				font-size: 1.4rem;
				color: @link-red;
			}
	    	.applied-coupons {
	    		.agenda;
	    		margin-left: 0;
	    		
	    		.discount-desc {
					.remove-coupon {
						color: @link-red;
						margin-left: @gutter - 10;
						&:hover {
							cursor: pointer;
						}
					}
				}
	    	}
	    }
    }
}

.checkout-mini-cart {
	.agenda;
	border-top: 1px solid @border-light;
    border-bottom: 1px solid @border-light;
    margin-left: -@gutter + 10;
    margin-right: -@gutter + 10;
    
    @media (min-width: 768px) {
    	border: 1px solid @border-light;
    	margin-left: 0;
    	margin-right: 0;
    }
	.collapsible-cart {
		.collapsible-section {
			.mini-cart-heading[aria-expanded='false']:after {
				content: "\E313";
			}
			.mini-cart-heading {
				position: relative;
				.agenda-bold;
				font-size: 1.8rem;
				margin: 0;
    			padding: @gutter - 5 @gutter + 15 @gutter - 5 @gutter - 10;
   			    cursor: pointer;
   			    
   			    &:after {
				    .material-icons;
				    font-size: 3.4rem;
				    height: @gutter + 15;
				    color: #979797; 
				    content: "\E5CE";
				    line-height: 1.4;
				    position: absolute;
				    top: @gutter - 18; 
				    right: @gutter - 10;
				    pointer-events: none;
			    }
			}
			.cart-list[aria-expanded='true'] {
				max-height: 733.5px;
				overflow: auto;
			}
			.cart-list {
				padding: 0;
    			list-style: none;
    			margin: 0;
    			transition: all 200ms;
    			
    			.cart-item {
   				    border-top: 1px solid @border-light;
				    margin: 0;
				    padding: @gutter @gutter - 10;
				    width: 100%;
				    font-size: 1.6rem;
				    display: table;
				    
				    .cart-item-product {
				    	margin: 0;
				    	
				    	.product-tile {
				    		padding: 0;
				    		
				    		.product-tile-image {
				    			padding: 0;
				    			max-width: @gutter * 4;
				    			margin-right: @gutter;
				    			@media(max-width:1023px) and (min-width:768px){
				    				margin-right:@gutter/5 * 2;
				    				max-width:@gutter * 3 - 5;
				    			}
				    			@media (max-width: 767px) {
				    				margin-right: @gutter - 11;
				    			}
				    			
				    			.product-image, .no-image {
				    				width: 100%;
				    			}
				    		}
				    		
				    		.product-tile-content {
				    			.agenda;
				    			padding: 0;
				    			
				    			.product-tile-title {
				    				font-size: 1.6rem;
				    			}
				    		}
				    	}
				    }
				    .cart-item-details {
				    	text-align: right;
				    	.cart-item-price {
		    				.agenda-bold;
		    				font-size: 1.7rem;
		    			}
		    			.ehf-cost {
		    				margin-top: @gutter - 10;
		    				display: block;
		    			}
		    			.cart-item-total {
		    				margin: @gutter - 10 0 0;
		    				strong{
		    					.agenda-bold;
		    					font-weight:normal;
		    				}
		    			}
				    }
    			}
			}
		}
	}	
}


.edit-card-modal {
    			.agenda;
    			@media (max-width: 767px) {
    				position: fixed;
				    top: 0;
				    right: 0;
				    bottom: 0;
				    left: 0;
				    z-index: 1050;
				    overflow: auto;
				    -webkit-overflow-scrolling: touch;
				    outline: 0;
    			}
    			.modal-dialog {
    				@media (max-width: 768px) {
    					margin: @gutter + 5;
   						width: auto;
    				}
					width: @gutter * 32;
					margin: @gutter + 5 auto;	
					.modal-content {
						@media (min-width: 768px) {
							padding: 0 @gutter + 5;
						}
						padding: 0 @gutter - 10;
						.modal-header {
							min-height: @gutter + 5;
						    padding: @gutter - 15 0;
						    border-bottom: 1px solid @border-light;
						    @media (min-width: 768px) {
						    	padding: @gutter - 10 0;
						    }
						    .modal-title {
						    	.agenda-bold;
						    	font-size: 2.2rem;
							    line-height: 1.2;
							    margin: @gutter - 15 @gutter + 15 @gutter - 20 0;
							    text-align: left;
							    @media (min-width: 768px) {
							    	font-size: 3.4rem;
									margin: @gutter - 10 @gutter * 2 @gutter - 10 0;
							    }
					    }
					    .modal-close {
					    	position: absolute;
						    top: @gutter - 15;
						    right: @gutter - 15;
						    width: @gutter + 11;
						    height: @gutter + 11;
						    text-decoration: none;
						    text-align: center;
						    z-index: 1;
						    @media (min-width: 768px) {
					    	    top: @gutter;
											right: @gutter - 2;
						    }
						    .u-sr-only {
						    	&:before {
						    		.material-icons;
						    		font-size: 3rem;
								    line-height: 3.6rem;
								    content: "\E14C";
						    	}
						    }
					    }
 							}
 							.modal-body {
	    				text-align: left;
	    				padding: @gutter - 10 0;
	    				@media (min-width: 768px) {
    					    padding: @gutter + 5 0;
	    				}
	    				.card-type {
	    					text-align: left;
	    				}
	    				.change-billing-addr-link {
	    					color: @secondary-color;
	    				}
	    				.card-number {
	    					text-align: left;
	    				}
	    				.expiration-detail-label {
	    					text-align: left;
	    				}
	    				.expired-symbol, .temp-expired-symbol {
					    	&:before {
				    			.material-icons;
							    font-size: 2rem; 
							    height: @gutter + 17;
							    color: @link-red; 
							    content: "\E000"; 
							    line-height: 1.4;
							    position: absolute;
						        bottom: 46px; 
					            left: 93px;
							    pointer-events: none;
				    		} 
					    }
					    .temp-expired-symbol {
					    	&:before {
					    		bottom: 32px; 
					    	}
					    }
					    .highlight-expired-card, .temp-highlight-expired-card {
					    	.select-input {
					    		border: 1px solid @link-red;
					    	}
					    }
	    				.expiration-details {
	    					display: -webkit-box;
						    display: -webkit-flex;
						    display: -ms-flexbox;
						    display: -moz-box;
						    -webkit-box-align: center;
						    -webkit-align-items: center;
						    -ms-flex-align: center;
						    align-items: center;
						    .select-input {
						    	position: relative;
						    	&:first-child {
						    		margin-right: @gutter / 5;
						    	}
						    	&:after {
								    .material-icons;
								    font-size: 3.4rem;
								    height: @gutter + 15;
								    color: @formInputBorder;
								    content: "\E313"; 
								    line-height: 1.4;
								    position: absolute;
								    bottom: 0;
								    right: @gutter - 15;
								    pointer-events: none;
							    }
						    	.expiration-month, .expiration-year {
						    		.agenda;
						    		font-size: 1.6rem;
						    		-webkit-appearance: none;
								    -moz-appearance: none;
								    appearance: none;
								    width: 100%;
								    border: 1px solid @formInputBorder;
								    border-radius: 0px;
								    padding: @gutter - 15 @gutter + 10 @gutter - 15 @gutter - 15;
						    	}
						    }
	    				}
	    				.make-default-card {
	    					label {
	    						display: inline;
	    						min-width: 0;
	    						text-align: left;
	    					}
	    					.make-default-card-label {
	    						margin-left: @gutter - 17;
	    					}
	    				}
	    				.mz-payment-credit-card-type-row {
	    					.card-type-section {
	    						position: relative;
					    		&:after {
								    .material-icons;
								    font-size: 3.4rem;
								    height: @gutter + 15;
								    color: @formInputBorder;
								    content: "\E313";
								    line-height: 1.4;
								    position: absolute;
								    bottom: 0;
								    right: @gutter - 9;
								    top: @gutter + 4;
								    pointer-events: none;
							    }
	    					}
						    
						    .select-credit-type {
						    	.agenda;
					    		font-size: 1.6rem;
					    		-webkit-appearance: none;
							    -moz-appearance: none;
							    appearance: none;
							    width: 100%;
							    border: 1px solid @formInputBorder;
							    border-radius: 0px;
							    padding: @gutter - 15 @gutter + 10 @gutter - 15 @gutter - 15;
						    }
	    				}
	    				
   						.payment-method-label {
   							min-width: 0;
   							&:after {
					    		position: absolute;
					    		right: 1px;
					    	}
   						}
   						.mz-addresssummary {
   							.billing-address-section { 
   								border: none;
   								
   								.billing-new-address-container {
   									background: rgba(125, 167, 217, 0.1);
   									.new-billing-address-form {
		    							padding: @gutter - 10 0 0;  
		    							background: none;
		    							
		    							.add-new-address-radio {
		    								margin-right: @gutter - 10;
		    								.payment-method-label {
										    	min-width: 0;
										    	display:inline-table;
										    	&:after {
										    		position: absolute;
										    		right: 1px;
										    	}
										    }
		    							}
		    							.addNewAddrLabel {
		    								display: inline;
		    							}
		    							span {
		    								display: inline;
		    							}
		    							label { 
		    								text-align: left;
		    							}
		    						}
   								}
		    						
								}
							}
		    			}
		    			.modal-footer {
		    				text-align: center;
		    				.cancel-link {
		    					margin-right: @gutter - 5;
		    					font-weight: normal;
							    text-transform: none;
							    background: transparent;
							    border: 1px solid transparent;
							    color: @link-red;
		    				}
		    				.save-card-btn {
		    					.btn-yellow();
		    					.btn-small(); 
		    					 margin-left: @gutter + 5;
		    				}
		    			}
					}	    				
    			}
    		}
    		
.aeroplan-section {
	.agenda;
	margin-top: @gutter + 5;
	padding: @gutter - 10;
	background-color: rgba(125, 167, 217, 0.1);
	
	.aeroplan-member-heading-section {
		display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    /* display: flex; */
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -ms-flex-align: center;
	    align-items: center;
	    margin-bottom: @gutter + 5;
	    
	    .aeroplan-member-checkbox {
    	    margin-right: @gutter - 15;
	    }
	    .aeroplan-title-label {
	    	cursor: pointer;
		    vertical-align: middle;
		    margin: 0 0 0 @gutter - 17;
		    
		    .aeroplan-title {
		    	.agenda-bold;
		    }
		    .aeroplan-img {
		    	margin-right: @gutter / 5;
		    }
	    }
	}
	
	.aeroplan-info-section {
		.aeroplanNumber, .lastName {
			margin-bottom: @gutter - 10;
			.TextInput {
				width: 100%;
			}
		}
	}
}
.mz-checkout{
	&.french-content{
		.is-complete .mz-checkoutform-header[data-step="1"]{
			@media(max-width:400px){
				span{
					display:inline-table;
					line-height:1;
					width:60%;
				}
				.change-label-first-step{
					top:@gutter/5 + 3.25;
					bottom:auto;
				}
			}
		}
		.mz-l-formfieldgroup .saved-payment-section .saved-payments {
			.saved-credit-card-info .edit-card-div{
				@media(min-width:768px){
					padding-left:0;
				}
			}
			.edit-card-modal{
				.modal-dialog{
					.modal-content{
						.modal-footer{
							@media(max-width:440px){
								.flex-display(flex);
								flex-direction:column;
								.cancel-link, .save-card-btn{
									margin:0 0 @gutter/5 * 3 ;
								}
							}
						}
					}
				}
			}
		}
	}
}