.commercial-maintenance{
	.agenda;
	font-size:1.6rem;
	strong{
		.agenda-bold; 
	}
	h1{
		.agenda-bold;
		font-size:2.4rem;
		margin-top:0;
	}
	h2{
		.agenda-bold;
		font-size:2.4rem;
		margin-top:0;
	}
	.commercial-maintenance-navigation{
		.footer-list{
			margin-top:@gutter/5 * 3;
			@media(max-width:767px){
				display:block !important;
			}
		}
	}
	.commercial-maintenance-store{
		background:@serviceBg;
		padding:@gutter/5 * 3;
		margin-top:@gutter;
		overflow:hidden;
		p{
			margin: 0px;
		}
		.commercial-maintenance-store-btn{
			.btn-red();
			.agenda;
			text-transform:normal;
			float:left;
			margin-top: @gutter - 15;
			i{
				vertical-align: middle;
				@media(max-width:767px){
					display: none;
				}
			}
		}
		.commercial-maintenance-store-btn + .mz-validationmessage{
			.fullwidth;
			float:left;
			margin:@gutter/5 0;
			&:link, &:visited{
				color:@errorText;
			}
		}
	}
	.commercial-maintenance-form{
		margin:@gutter 0;
		.form-group{
			overflow:hidden;
			fieldset{
				border:none;
			}
			label{
				font-weight:normal;
				margin-right:@gutter/5 * 2 + 2;
				.fullwidth;
			}
			.form-control{
				font-size:1.4rem;
				.agenda;
			}
			.phone-numbercontainer{
				.digit-length{
					width:30.5%;
					margin-right:4%;
					float:left;
					&:last-child{
						margin-right:0;
					}
				}
			}
		}
		.form-content{
			.agenda-bold;
		}
		
		.mz-commercial-maintenance-button{
			.btn-yellow();
			margin-top:@gutter/5 * 3;
		}
		
	}
	.sucess-email-template {
		display: none;
		.thank-you-msg {
			text-align: center;
   		 	width: 360px;
    		margin: 0 auto;
			.header {
				color: @torchRed;
    			font-size: 2.2rem;
			}
			.msg {
				font-size: 1.6rem;
			}
		}
		.store-details-box {
			background: @light-grey;
    		padding: @gutter - 5;
			&>p{
				margin: 0;
    			font-size: 2rem;
			}
			.store-info {
				padding: 0;
				margin-top: @gutter - 15;
				@media(min-width:768px){
					display: flex;
				}
    			
    			&>.col-sm-6 {
    				flex: 1;
				    background: white;
				    border: 1px solid @aeroplanBorder;
				    &:nth-child(1) {
				    	@media(min-width:768px){
							margin-right: @gutter;
						}
				    }
				    &:nth-child(2) {
				    	@media(max-width:767px){
							margin-top: @gutter - 15;
						}
				    }
				    
				    .store-name {
				    	color: @torchRed;
				    }
				    .address {
				    	margin: 0;
				    }
				    .sign-up {
			    	    font-size: 2.3rem;
				    }
				    .signup-btn {
				    	.btn-red();
				    	margin-bottom: @gutter - 15;
			    	    display: inline-block;
				    }
    			}
			}
		}
		.button-wrap {
		    text-align: center;
		    margin-bottom: @gutter - 5;
			.shopping-btn {
				margin-top: @gutter - 5;
				.btn-red();
			    display: inline-block;
			}
		}
		
	}
}