body.mz-confirmation {
	font-size:1.6rem;
    .agenda;
    line-height:normal;
    small{
    	font-size:80%;
    }
    .mz-breadcrumbs{
    	.hidden;
    }
    .mz-propertylist {
        dt {
            min-width: 120px;
            margin-bottom: @gutter/2;
        }

        dd {
            margin-bottom: @gutter/2;
        }
    }
    //updated CSS
    .mz-l-pagecontent{
    	.no-padding;
    }
    .confirmation-link{
		color:@link-red;
	}
    .view-order-detail-container{
    	background:@viewOrderDetailBg;
    	padding:@gutter + 5 0;
    	.view-order-title{
    		.agenda-bold;
    		color:@confirmationColor;
    		line-height:1.1;
    		font-size: 4rem; 
    		margin:@gutter/2 - 2.5 0 @gutter - 5; 
    	}
    }
    .order-detail-section{
		margin-bottom:@gutter + 5;
		overflow:hidden;
		p{
			.no-margin;
			strong{
				font-weight:normal;
				.agenda-bold;
			}
		}
		.errored-message-container{
			color:@torchRed;
			h4{
				color:@torchRed;
				margin:0 0 @gutter/5;
			}
		}
	}
	.question-with-link{
		@media(max-width:767px){
			margin-bottom:@gutter/2 - 2.5;
		}
	}
	.confirmation-container{
		padding:@gutter + 5 0;
	    .order-detail-header{
	    	border-bottom:1px solid @border-light;
	    	overflow:hidden;
	    	margin-bottom:@gutter + 5;
	    	@media(max-width:767px){
	    		.no-border;
	    	}
	    	.order-detail-title{
	    		font-size:3.4rem;
	    		.agenda-bold;
	    		color:@confirmationColor;
	    		line-height:1.1;
	    		margin:0 0 @gutter - 8;
	    		@media(max-width:767px){
	    			font-size:2.6rem;
	    		}
	    	}
	    	.order-date-number{
	    		span{
    				.fullwidth;
    				float:left;
	    		}
	    	}
	    	.print-button{
	    		.fullwidth;
	    		float:left;
	    	}
	    }
	    .confirmation-subtitle{
	    	.agenda-bold;
	    	font-size:2rem;
	    	line-height:1.1;
	    	margin-bottom:@gutter - 5;
	    }
	    
	    //Store pickup details
	    .store-detail-container{
	    	color:@mineShaft;
	    	margin-bottom:@gutter * 2;
	    	.store-pickup-note{
	    		background:@storePickBg;
	    		padding:@gutter/2 + 2.5;
	    		margin-bottom:@gutter + 5;
	    		float:left;
	    		.fullwidth;
	    		p{
	    			.no-margin;
	    		}
	    	}
	    	//Store hours
	    	.store-opening-hours{
	    		margin-bottom:@gutter + 5;
	    		.hour-list{
	    			.no-margin;
	    			.no-padding;
	    			list-style-type:none;
	    			li{
	    				.week-day{
	    					width:@gutter * 4 - 5;
	    					float:left;
	    					@media(max-width:767px){
	    						width:45%;
	    					}
	    				}
	    			}
	    		}
	    	}
	    	.pickup-by-section{
	    		.pickup-person, .second-pickup-person{
	    			.agenda-bold;
	    		}
	    	}
	    	
	    	//Payment Billing Section
	    	.payment-billing-section{
	    		margin-bottom:@gutter * 2;
	    		.payment-method-section{
	    			p{
	    				margin:0 0 30px;
	    				img{
	    					margin:0 @gutter/5 0 0;
	    				}
	    			}
	    		}
	    		.billing-addess-section{
	    			margin-bottom:@gutter + 5;
	    			@media(max-width:767px){
	    				.fullwidth;
	    				float:left;
	    			}
	    			.mz-addresssummary{
	    				span:first-child{
	    					.agenda-bold;
	    				}
	    			}
	    		}
	    	}
	    	
	    	//Order Notes Section
	    	.order-note-section{
	    		margin-bottom:@gutter * 2;
	    		padding:@gutter/5 * 8 0;
	    		border-bottom:1px solid @mercury;
	    		border-top:1px solid @mercury;
	    	}
	    	
	    	//Order Summary detail 
	    	.items-in-order-container{
	    		.order-item-container{
	    			.no-padding;
	    		}
	    		.order-detail-title{
	    			font-size:2.4rem;
	    		}
	    	}
	    	
	    }
    }
    /******** Print css ********/
    @media print {
		.mz-pagefooter, .header-container,.print-button{
			.hidden;
		}
		.print-section{
			display:block !important;
			font-size:1.6rem;
		}
		.store-detail-cont{
			.fullwidth;
			border-bottom:1px solid #979797;
			padding-bottom:@gutter;
			.top-container{
				float:left;
				margin-right:@gutter;
			}
			.store-list{
				padding:0 0 0 @gutter - 5;
				list-style:none;
			}
		}
		.view-order-detail-container{
			padding-bottom:0;
		}
		.order-detail-header{
			border-bottom:1px solid #ccc;
		}
		.store-detail-container{
			.store-opening-hours, .store-pickup-location{
				float:left;
				width:50%;
			}
			.pickup-by-section{
				.fullwidth;
				float:left;
				p{
					float:left;
					width:45%;
				}
			}
			.payment-billing-section{
				float:left;
				.fullwidth;
				.payment-method-section{
					margin-top:@gutter;
					float:left;
					width:45% !important;
				}
				.payment-billing-section{
					width:45% !important;
					float:left;
					margin-left:0;
				}
				.order-summary-section{
				 	.fullwidth;
				 	float:left;
					.order-summary-details{
						border: 1px solid #e1e1e1;
					}
				 }
			}
			
			.items-in-order-container{
				.order-item-container{
					.order-item-block {
						.order-item-product{
							width:50% !important;
							float:left;
						}
						.order-item-quantity, .order-item-details{
							width:25% !important;
							float:left;
							border:none !important;
						}
					}
				}
			}
		}
	}
    
    /************/
    
}
