.contact-us{
	.agenda;
	font-size:1.6rem;
	strong{
		.agenda-bold; 
	}
	.contactus-navigation{
		.footer-list{
			margin-top:@gutter/5 * 3;
			@media(max-width:767px){
				display:block !important;
			}
		}
		.subnav-container{
			font-size:1.4rem;
			margin-top:-@gutter + 5;
			padding-left:@gutter - 5;
			.footer-list{
				margin-top:@gutter/5;
				li{
					position:relative;
					&:before{
						content:'\E315';
					    line-height: 41px !important;
					    .material-icons;
				        font-size: 2.4rem; 
			            position: absolute;
					    top: -@gutter/5 + 1;
					    left: -@gutter + 5;
					    pointer-events: none;
					}
				}
			}
		}
	}
	.contact-information{
		a{
			color:@torchRed;
		}
		.header{
			.flex-display(flex);
			margin:@gutter/5 * 3 0;
			h1{
				.no-margin;
				.fullwidth;
				.agenda-bold;
			}
			.print{
				margin:@gutter/5 0 0;
				@media(min-width:768px){
					.text-right;
				}
			}
		}
	}
	.contactus-form{
		margin:@gutter 0;
		.form-group{
			fieldset{
				border:none;
			}
			label{
				font-weight:normal;
				margin-right:@gutter/5 * 2;
				.fullwidth;
			}
			.form-control{
				font-size:1.4rem;
				.agenda;
			}
			.phone-numbercontainer{
				.flex-display(flex);
				.digit-length{
					margin-right:@gutter/5 * 2;
					&:last-child{
						margin-right:0;
					}
				}
			}
		}
		.mz-contact-button, .mz-unsubscribe-button{
			.btn-yellow;
			margin-top:@gutter/5 * 3;
		}
	}
	 /******** Print css ********/
    @media print {
		.mz-pagefooter, .header-container, .print, .g-recaptcha, .contactus-navigation{
			.hidden;
		}
		.print-section{
			display:block !important;
			font-size:1.6rem;
		}
		.store-detail-cont{
			.fullwidth;
			border-bottom:1px solid #979797;
			padding-bottom:@gutter;
			.top-container{
				float:left;
				margin-right:@gutter;
			}
			.store-list{
				padding:0 0 0 @gutter - 5;
				list-style:none;
			}
		}
	}
	/******** Print css ********/
}
