.help-and-support-details{
	color:@mineShaft;
	font-size:1.6rem;
	.agenda;
	.mz-l-pagecontent{
		padding:@gutter - 5 0;
	}
	.help-page-title{
		margin:0 0 @gutter - 5;
		font-size:4rem;
		.agenda-bold;
		line-height:1.1;
	}
	.help-support-container{
		.help-details-conainer{
			ol{
				padding:0 @gutter - 5;
				color:@torchRed;
			}
			.mz-cms-content{
				padding: 0 0 @gutter/5 * 8 0;
				border-bottom:1px solid @mercury;
			}
		}
		.rich-text-editor-title{
			font-size:2rem;
			line-height:1.1;
			.agenda-bold;
			margin:0 0 10px;
		}
		a{
			color:@torchRed;
		}
		h5{
			font-size:1.8rem;
			.agenda-bold;
			margin: 0 0 @gutter/5 * 2;
		}
		ul, ol{
			padding:0 @gutter - 5;
			li{
				margin: 0  0 @gutter/5 - 2;
			}
		}
		.block{
			&:first-child{
				.mz-cms-content{
					padding-top:0;
				}
			}
			&:last-child{
				margin-bottom:@gutter * 2;
			}
			.mz-cms-content{
				padding:@gutter/5 * 8 0;
				border-bottom:1px solid @mercury;
				.mz-richtext-widget-inner-wrap{
					@media(min-width:768px){
						.flex-display(flex);
					}
					.rich-text-editor-title{
						@media(min-width:992px){
							width:25%;
						}
						@media(min-width:768px) and (max-width:991px){
							width:33.33%;
						}
					}
					.rich-text-content{
						@media(min-width:992px){
							width:75%;
						}
						@media(min-width:768px) and (max-width:991px){ 
							width:66.67%;
						}
					}
					table{
						margin:@gutter - 5 0;
						.fullwidth;
						tr{
							th, td{
								padding:@gutter/2 - 0.5;
								@media(min-width:768px){
									padding:@gutter - 5;
								}
							}
							th{
								background:@skyblue;
								color:@white;
							}
							&:nth-child(even){
								background:rgba(125, 167, 217, 0.15);
							}
						}
					}
				}
			}
		}
		.help-block{
			margin-top:@gutter * 2;
		}
	}
}