.help-and-support{
	color:@mineShaft;
	.mz-breadcrumbs{
		display:none;
	}
	.mz-l-pagecontent{
		padding:@gutter 0;
	}
	.help-page-title{
		.agenda-bold;
		line-height:1.1;
		margin:0 0 @gutter - 5;
		font-size:4rem;
	}
	.accordion-main-title, .rich-text-editor-title{
		.agenda-bold;
		font-size:2.6rem;
		margin:0 0 @gutter/5 * 3;
		@media (min-width: 768px){
		    font-size: 3.4rem;
    		margin: 0 0 @gutter + 5;
    	}
	}
	.block{
		margin:0 0 @gutter * 2;
	}
	.service-tile-container{
		margin: 0 -@gutter/5 * 3 @gutter;
    	padding: @gutter/5 * 3;
    	color:@mineShaft;
    	@media(min-width:768px){
    		display: table;
		    width: 100%;
		    margin: 0;
		    padding: 20px 0;
    	}
    	&.service-block-1{
    		background:@blueBg;
    		margin-bottom:@gutter;
    	}
    	&.service-block-2{
    		background:@storePickBg;
    		margin-bottom:@gutter/5 * 8;
    	}
    	.service-tile-content{
    		@media(min-width:768px){
	    		display: table-cell;
			    width: 53%;
			    vertical-align: top;
			    padding: 0 20px 0
		    }
	    	.service-tile-title{
			    .agenda-bold;
			    font-size: 2.2rem;
			    margin: 0 0 @gutter/5;
			    @media(min-width:768px){
			        margin: 0 0 @gutter/5 * 3;
			    }
	    	}
	    	a{
	    		font-size: 1.9rem;
    			.agenda-bold;
    			color: @torchRed;
	    	}
    	}
	}
	#mz-drop-zone-faq-links{
		.mz-cms-content{
			.no-padding;
			a{
				color:@torchRed;
			}
		}
	}
}