.mz-homepage {
	.agenda;
	.home-slider {
        visibility: visible;
    }
	.mz-breadcrumbs{
		.hidden;
	}
	.mz-l-pagecontent {
		padding: 0;
		@media (max-width: 767px) {
			text-decoration: none;
		}
		.mz-cms-row {
		    margin: 0;
		    max-width: 100%;
		    .mz-cms-content {
			    padding: 0;
			}
		}
	}
	.carousel-container {
		margin-bottom: @gutter + 5;
	}
	.home-banner-section{
		margin-bottom: @gutter + 5;
	}
	.banner-container {
		.promotional-banner {
			min-height: 0;
			padding: @gutter * 2 + 10 @gutter - 10	;
			
			@media (min-width: 768px) {
				padding: @gutter * 3;
			}
			.content {
			    position: relative;
			    top: 0;
			    left: 0;
			    transform: none;
			}
			.title {
				font-size: 4rem;
				@media(max-width:767px){
					font-size: 3.4rem;
				}
			}
		}
		
	}
	.promotional-services-banner {
		padding-top: @gutter + 15;
    	padding-bottom: @gutter + 15;
    	background-color: @light-grey;
    	
    	.title {
    		.agenda-bold;
   		    text-align: center;
   			margin: 0 0 @gutter - 5;
   			font-size: 4rem;
    	}
    	
    	.subtitle {
   		    margin-bottom: @gutter + 5;
		    margin-top: 0px;
		    text-align: center;
    	}
    	.services {
    		@media (max-width: 767px) {
   			    margin-left: -@gutter - 10;
   				margin-right: -@gutter - 10;
    		}
    		.title {
    			.agenda-bold;
    			text-align: left;
    			font-size:3rem;
    		}
    		.link {
    			.agenda-bold;
    			font-size:1.9rem;
    		}
    	}    	
	}
	.themed-content {
		margin-top: -@gutter + 5;
		margin-left: -@gutter - 10;
    	margin-right: -@gutter - 10;
    	padding: @gutter - 10;
    	background: @white;
    	.mz-productlist{
		    @media(max-width:767px){
		    	border-bottom: 1px solid @mercury;
		    	margin: 0 0 35px;
    			padding-bottom: 20px;
		    }
	    }
    	.themed-content-grouping {
    		.title {
    			.agenda-bold;
    			font-size:3.4rem;
    			@media (max-width: 767px){
    				font-size: 2.6rem;
    				margin: 0 0 @gutter - 15;
    			}
    		}
    		.heading {
    			.desc {
    				@media (max-width: 767px){
   					    margin: 0 0 0px;
    				}
    			}
    			.button-wrapper {
    				.button {
    					.agenda-bold;
    					font-size: 1.6rem;
    					padding-left: @gutter + 10;
    					padding-right: @gutter + 10;
    				}
    			}
    		}
    	}
    	.tile-group {
    		@media (min-width: 768px){
    			margin: 0 0 @gutter;
    			padding-bottom: 0px;
    			border-bottom: none;
    		}
    		.themed-content-1 {
    			.heading {
    				display: block;
    				.desc {
    					display: block;
    					width: 100%;
    					padding-right: 0px;
    				}
    				.button-wrapper {
    					display: block;
						text-align: left;
						margin: @gutter 0 @gutter - 10;
						text-align: center;
						
						@media (min-width: 768px) {
							margin: @gutter - 5 0 0;
						}
    				}
    			}
    		}
    		
    	}
    	.themed-content-sections {
    		display: -webkit-box;
		    display: -webkit-flex;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		    @media (min-width: 768px) {
		    	padding-bottom: @gutter - 10;
		    	border-bottom: @gutter/25 solid @mercury;
		    	padding-bottom: @gutter/5;
		    }
		    
		    .themed-content-category {
		    	width: 100%;
		    	&:first-child {
    				@media(min-width:768px){
    					border-bottom: @gutter/25 solid @mercury;
    				}
		    	}
				@media (min-width: 768px) {
					width: 50%;
					
					&:first-child {
						margin: 0;
					    padding-right: @gutter - 10;
					    padding-bottom: 0px;
					    border-right: @gutter/25 solid @mercury;
					    border-bottom: none;
					}
					
					&:last-child {
						padding-left: @gutter - 10;
					}
				}
		    }
		    .themed-content-section-1, .themed-content-section-2 {
		    	.themed-content-grouping {
		    		.heading {
		    			.desc {
		    				@media (max-width: 767px) {
		    					margin: 0 0 @gutter;
		    				}
		    			}
		    		}
		    	}
		    }
		    .themed-content-section-2-items{
		    	.mz-productlist{
		    		border:none;
		    		padding:0;
		    	}
		    }
		    .themed-content-section-1-items, .themed-content-section-2-items {
		    	.mz-productlist-list {
		    		.mz-productlist-item {
		    			width: 50%;
		    			@media (min-width: 768px) {
	    				    min-height: 0px;
		    			}
		    			@media (max-width: 767px) {
		    				margin: 0 0 @gutter + 5;
		    				min-height: 0;
		    			}
		    			.mz-productlist-tiled {
		    				padding-right: @gutter - 10;
		    				padding-left: @gutter - 10;
		    				.mz-productlisting-image {
		    					@media (max-width: 767px) {
		    						margin: 0 0 @gutter - 10;
		    					}
		    					.mz-product-image {
				    				display: block;
				    				width: 100%;
				    			}
				    			.mz-productlisting-imageplaceholder {
				    				    height: @gutter * 8 + 4.98;
				    				    width: 100%;
				    				    line-height: @gutter * 8 + 4.98;
				    			}
		    				}
		    			}
		    		}
		    	}
		    	.mz-productlisting-productcode {
		    		display: none;
		    	}
		    	.mz-pricestack {
		    		font-size: 1.7rem;
		    		margin: @gutter - 15 0 0;
		    	}
		    	.mz-productlisting-title {
		    		font-size: 1.6rem;
		    		margin: 0 0 @gutter - 17;
		    	}
		    }
    	}
	}
	.product-category-summary {
		padding: @gutter + 10 0;
   		text-align: center;
   		
   		.product-category-summary-title {
   			.agenda-bold;
   			font-size: 2.6rem;
    		margin: 0 0 @gutter - 10;
    		@media(min-width:768px){
    			font-size:3.4rem;
    		}
   		}
   		.product-category-summary-description {
   			font-size: 1.7rem;
   			margin: 0 0 @gutter + 5;
   		}
   		.product-category-summary-products {
   			margin: 0 -@gutter - 10;
   			
   			.product-category-container {
   				@media (min-width: 768px) {
   					width: 100%;
				    display: -webkit-box;
				    display: -webkit-flex;
				    display: -ms-flexbox;
				    display: flex;
   				}
   				@media (max-width: 767px) { 
   					    display: -webkit-box;
					    display: -webkit-flex;
					    display: -ms-flexbox;
					    display: flex;
					    -webkit-flex-wrap: wrap;
					    -ms-flex-wrap: wrap;
					    flex-wrap: wrap;
   				}
   				.product-tile {
   					padding: 0 @gutter - 10;
   					text-align: left;
   					white-space: normal;
   					margin: 0 0 @gutter + 5;
   					@media (min-width: 768px) {
   						-webkit-box-flex: 1;
					    -webkit-flex: 1;
					    -ms-flex: 1;
					    flex: 1;
					    display: block;
					    width: auto;
					    margin-bottom: @gutter * 2;
   					}
   					@media (max-width: 767px) { 
   						display: block;
    					width: 50%;
   					}
   					.product-tile-image-link {
   						display: block;
					    position: relative;
					    margin: 0 0 @gutter - 10;
					    
					    .product-tile-image {
					    	display: block;
					    	width: 100%;
					    }
   					}
   					.product-tile-content {
   						.product-tile-title {
   							font-size: 1.6rem;
   							margin: 0 0 @gutter - 17;
   							a{
   								color:@primary-color;
   								&:visited,&:hover{
   									color:@primary-color;
   								}
   							}
   						}
   						.product-tile-price {
   							font-size: 1.7rem;
   							margin: @gutter - 15 0 0;
   							.agenda-bold;
   						}
   					}
   				}
   			}
   		}
	}
	.community-involvement {
	    padding-top: @gutter + 15;
    	padding-bottom: @gutter + 15;
    	@media (max-width: 767px) { 
    		padding-left: 0;
    		padding-right: 0;
    	}
	}
	/***** RTI  *****/
	.recommended-product-container{
		.rti-recommended-products-title{
			.text-center;
		}
	}
	
	/***** FRENCH CONTENT ****/
	&.french-content{
		.promotional-services-banner {
			.services{
				.title{
				 	@media(min-width:768px) and(max-width:1024px){
				 		font-size:2.8rem;
				 	}
				}
			}
		}
	}
}

.mz-cms-content {
	.mz-productlist {
		.mz-productlisting {
			-webkit-box-flex: 1;
		    -webkit-flex: 1;
		    -ms-flex: 1;
		    flex: 1;
		}
	}
}

#related-product-category {
	.title {
	    border-top: 1px solid @mercury;
   		padding-top: @gutter + 5;
	}
	
}

.pinit-wrap {
	&>span {
		&>span:nth-child(2) {
		    margin-right: 1px;	
		}
	}
}
