.mz-loginpage{
	.agenda;
	.mz-breadcrumbs{
		.hidden;
	}
	.login-container{
		margin-top:@gutter;
		margin-bottom:@gutter * 3;
		.login-cont{
			margin-bottom:@gutter/5 * 8;
		}
	}
	.static-login-container{
		margin-top:@gutter * 2 + 10;
		margin-bottom:@gutter * 3;
		.login-cont{
			margin-bottom:@gutter/5 * 8;
		}
	}
	.login-banner-container{
		[class*='mz-cms-col-'] .mz-cms-content{
			.no-padding;
		}
	}
	.section-title{
		.agenda-bold;
		margin: 0 0 @gutter - 5 ;
	    font-size:2rem;
	}
	
	.keep-signed-in{
		font-weight:normal;
		margin: 0 0 0 @gutter / 5 + 3 ;
	}
	.info-icon{
		vertical-align: middle;
		display: inline-block;
		cursor: default;
	}
	.form-group{
		.popover{
			.agenda;
			font-size:1.6rem;
			.no-padding;
			max-width:400px;
			left: 0 !important;
			.popover-content{
				.no-padding;
				.keepme-signin-container{
					font-size:1.4rem;
					h3{
						margin:0 0 @gutter/5;
						font-size:1.6rem;
						padding:@gutter/5 + 3 @gutter/5 * 3;
						background:@secondary-color;
						color:@white;
						font-weight:normal;
						.agenda-bold;
						a{
							float:right;
							color:@white; 
							font-weight:normal;
							opacity:1;
						}
					}
					p{
						padding:0 @gutter/5 * 3; 
					}
					.btn-container{
						float:left;
						padding:@gutter/5 * 2 @gutter/5 * 3; 
						width:100%;
						.back{
							float:left;
							padding:@gutter/5 @gutter/5 * 2;
							color:@white;
							background:@secondary-color;
							i{
								float:left;
								margin:0 @gutter/5 0 0; 
							}
						}
						.cancel{
							float:right;
							.link;
							padding:@gutter/5 @gutter/5 * 2;
							font-size:1.4rem;
						}
					}
				}
			}
		}
	}
		
	.checkout-options{
		.flex-display();
		.flex-direction(column-reverse);
		margin: @gutter + 15 0 @gutter * 2;
		
		@media(min-width:768px){
			.flex-direction();
			margin: @gutter * 4 0;
		}
		
		.authenticate-block, .guest-block{
			@media(min-width:768px){
				width : 50%;
			}
		}
		
		.authenticate-block{
		
			@media(min-width:768px){
				padding: 0 @gutter * 2 0 0;
			}
			@media(min-width:992px){
				padding: 0 @gutter * 4 0 0;
			}
			
		}
		.guest-block{
		
			border-bottom: 1px solid @border-light;
		    margin: 0 0 @gutter + 15;
		    padding: 0 0 @gutter + 15;
			
			@media(min-width:768px){
				padding: 0 0 0 @gutter * 2;
			    margin: 0;
			    border-left: 1px solid @border-light;
			    border-bottom: none;
			}
			@media(min-width:992px){
				padding: 0 0 0 @gutter * 4;
			}
			.guest-message{
				p{
					margin:0 0 @gutter - 15;
				}
				p:last-child{
					margin-bottom: @gutter + 5;
				}
			}
		}
	}
	
	.register-block{
		background-color: @light-grey;
		margin-bottom: @gutter * 3;
		padding:@gutter + 5;
		
		.section-title{
			margin: 0 0 @gutter - 15;
		}
		p{
			margin: 0 0 @gutter - 15;
		}
	}
	.login-submit{
		.btn-yellow();
		.btn-large();
	}
	.guest-submit{
		.btn-yellow();
		.btn-large();
		cursor:pointer;
	}
	.control-label{
		font-weight:normal;
		margin: 0 0 @gutter / 5;
		cursor:default;
	}
	.show-hide-container{
		position:relative;
		
		.form-control{
			padding-right:@gutter * 2;
		}
		.show-hide{
			display: block;
		    position: absolute;
		    width: 50px;
		    height: 40px;
		    right: 0;
		    top:0;
		    text-align: center;
		    font-size: 1.2rem;
		    line-height: 3.2;
		}
	}
	.mz-l-pagecontent{
		padding:0;
	}
	&.static-login{
		[class*='mz-cms-col-'] .mz-cms-content{
			.no-padding
		}
		.forgot-pwd-cont, .keep-me-signed-in{
			.hidden;
		}
	}	
}
.keepme-signin-container{
	
}