.mz-myaccount {
	.agenda;
	font-size:1.6rem;
	.mz-l-pagecontent{
		.no-padding;
	}
	.mz-breadcrumbs{
		.hidden;
	}
	.mz-pagetitle{
		.agenda-bold;
		font-size:4rem;
		margin:@gutter + 5 0 @gutter - 5;
	}
	.myaccount-block{
		border:1px solid @mercury;
		position:relative;
		padding:@gutter/2 + 2.5;
		overflow:hidden;
		margin:0 0 @gutter - 5;
		&.settings-block{
			.no-border;
			.no-padding;
			.no-margin;
			.myaccount-sub-block{
				border:1px solid @mercury;
				position:relative;
				padding:@gutter/2 + 2.5;
				overflow:hidden;
				margin:0 0 @gutter - 5;
			}
		}
		.myaccount-sectiontitle{
			font-size:1.8rem;
			.agenda-bold;
			margin:0 0 @gutter - 5;
			@media(min-width:992px){
				width:30%;
				padding-right:@gutter - 5;
				img{
					margin-top:@gutter/5 + 4;
				}
			}
		}
		.myaccount-content-block{
			@media(min-width:992px){
				width:70%;
			}
		}
		.edit-link{
			color:@torchRed;
			font-size:1.6rem;
			.agenda;
			position:absolute;
			top:@gutter/2 + 2.5;
			right:@gutter/2 + 2.5;
		}
		.link{
			color:@torchRed;
			font-size:1.6rem;
			.agenda;
			cursor:pointer;
		}
		.show-hide-container{
			position:relative;
			input[type="password"]{
				padding-right:@gutter * 2;
			}
			.link{
				display: block;
			    position: absolute;
			    width: @gutter * 2;
			    height: @gutter/5 * 8 ;
			    right: 0;
			    top:0;
			    text-align: center;
			    font-size: 1.2rem;
			    line-height: 3.2;
			}
		}
		.btn-block{
			button{
				font-size:1.6rem;
				color: @link-red;
				font-weight: normal;
			    text-transform: none;
			    padding:@gutter/2 - 0.5 @gutter/2 + 2.5 @gutter/2 - 2.5;
			    line-height:1;
			    background-color:transparent;
			}
			.save-button{
			    .btn-yellow();
				.btn-small(); 
				 margin-left: @gutter + 5;
			}
			.cancel-button{
			    border: 1px solid transparent;
			    margin:0 @gutter - 5 0 0;
			    .agenda;
			    min-width:@gutter * 3 + 1;
			    &:hover{
			    	text-decoration:underline;
			    }
			}
		}
	}

   .billing-address-summary {
   		margin-bottom: @gutter - 15;
   		&>span {
   			display: block;
   			&:first-child{
   				.agenda-bold;
   			}
   		}
   }
   
    #mz-printReturnLabelView {
        display: none;
    }
    .is-loading select, button[data-mz-action="startOrderReturn"] {
        background-image: none;
        color: #444;
    }
    .editingcard-is-primary {
		margin-left: @gutter/2 - 4.5;
	}
	.mz-payment-credit-card-defaultflag-row {
		margin-bottom:@gutter/2 + 2.5;
		
	}
	.add-new-address-for-new-user{
		background:rgba(125, 167, 217, 0.1);
		padding:@gutter/2 + 2.5;
		margin-bottom:@gutter;
		.form-group-row, .mz-addressform-address1{
			margin-bottom:@gutter/2 + 2.5;
			overflow:hidden;
			select{
				.no-appearance;
				font-size:1.6rem;
				.agenda;
			}
			.mz-addressform-firstname, .mz-addressform-country, .mz-addressform-state {
				@media(max-width:767px){
					margin-bottom:@gutter/2 + 2.5;
				}
			}
		}
	}
   	.edit-card-modal {
   		padding-right:0 !important;
   		.modal-dialog {
			@media(max-width:767px){
				   margin:0;
				   top: 0;
   			}
   			.modal-content {
				.modal-body {
					   padding: @gutter - 10 0 0 0;
					   @media (min-width: 768px) {
						   padding: @gutter + 5 0 0 0;
						}
   					
   					.mz-creditcard-actions {
  							clear: both;
					    padding: @gutter - 10;
					    border-top: 1px solid @mercury;
					    border-bottom: none;
					    margin: 0;
				        text-align: center;
				        
				        .save-button {
				        	.btn-yellow();
	    					.btn-small(); 
	    					 margin-left: @gutter + 5;
	    					 @media(max-width:767px){
	    					 	margin-left:0;
	    					 }
				        }
   					}	
				}
				&.modal-content-popup{
					@media (max-width: 768px) {
						min-height: 600px;
					}
				}
			}
			   
   		}
   	}
    .address-form {
    	select {
    		.no-appearance;
    		font-size:1.6rem;
    		.agenda;
    		&::-ms-expand {
			    display: none;
			}  
    	}
    	
    	.form-group-row {
    		margin-bottom:@gutter/2 + 2.5;
			overflow:hidden;
    	}
    }
    /***** FRENCH CONTENT *****/
    &.french-content{
		.myaccount-block .btn-block .save-button{
			margin-left:@gutter - 5;
		}
	}
    
}

.mz-anonymous-account {
    #mz-printReturnLabelView {
        display: none;
    }
    .is-loading select, button[data-mz-action="startOrderReturn"] {
      background-image: none;
      color: #444;
    }
}
