.page-not-found-container{
	h1{
		.agenda-bold;
		font-size:4rem;
		margin:0 0 @gutter - 5;
		line-height:1.1;
	}
	.not-found-content{
		font-size:2rem;
		.agenda;
		p{
			margin:0 0 @gutter + 5;
		}
		.home-button{
			.btn-red();
			padding:@gutter/2 - 0.5 @gutter/5 *7 @gutter/2 - 2.5;
		}
	}
}
