.mz-parent-category {
    .agenda;
    color: @primary-color;
    .mz-l-pagecontent {
        padding: 0;
        .mz-breadcrumbs {
            display: none;
        }
    }

    .promotional-product-banner {
        margin-bottom: @gutter + 15;
        .banner-section1,
        .banner-section2 {
            padding: 0px;

            .mz-cms-content {
                padding: 0px;
            }

            .mz-cms-row {
                max-width: 100%;
                display: block;

                @media (min-width: 768px) {
                    display: -webkit-box;     
                    display: -moz-box;         
                    display: -ms-flexbox;     
                    display: -webkit-flex;     
                    display:flex;
                } 

                .mz-cms-col-6-12 {
                        display: -webkit-box;     
                        display: -moz-box;         
                        display: -ms-flexbox;     
                        display: -webkit-flex;     
                        display:flex;
				
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                        -moz-box-orient: vertical;
                        -moz-box-direction: normal;
                        -ms-flex-direction: column;
                        -webkit-flex-direction: column;
                        flex-direction: column;
                        width: 100%;
						height: 385px;
						
						&:first-child {
							@media (max-width: 767px) { 
								height: 168px;
							}
						}
						@media(min-width:1500px){
							height:415px;
						}
						
                        .mz-cms-block {
                            height: 100%;

                            .mz-cms-content {
                                height: 100%;

                                .promotional-banner,    
                                .promotional-product {
                                    height: 100%;
                                }
                            }
                        }
                        
                        
					}
				}
        }

    }

    .excerpt-tile {
        display: block;
        margin: 0 0 @gutter + 5;

        .excerpt-tile-image {
            display: block;
            position: relative;
            margin: 0 0 @gutter - 10;

            .category-image {
                display: block;
                width: 100%;
            }
            
            .no-image {
            	width: 85.93%;
            }
        }

        .excerpt-tile-content {
        	
            .excerpt-tile-title {
            	.agenda-bold;
                font-size: 1.8rem;
                margin: 0;                
	            min-height: @gutter + 35;
	            
                @media(max-width:420px){
	            	min-height: @gutter + 33;
	            }
	            
                .excerpt-tile-title-link {
                	color: @primary-color;
                }
            }
        }
    }

    .popular-products {
        margin-top: @gutter - 5;
        border-top: 1px solid @mercury;
        padding: @gutter + 10 0;
        text-align: center;

        .title {
        	.agenda-bold;
            font-size: 3.4rem;
            margin: 0 0 @gutter - 10;
            @media(max-width:767px){
            	font-size:2.6rem;
            }
        }

        .description {
            font-size: 1.7rem;
            margin: 0 0 @gutter + 5;
        }

        .product-tile {
            margin-bottom: @gutter + 25;
            .product-tile-image {
                display: block;
                position: relative;
                margin: 0 0 @gutter - 10;

                .product-image {
                    display: block;
                    width: 100%;
                    max-width: 250px;
                }
            }

            .content {
                text-align: left;
                .product-title {
                    font-weight: normal;
                    font-size: 1.6rem;
                }

                .price {
                    font-size: 1.7rem;
                    margin: @gutter - 15 0 0;
                    .agenda-bold;
                }
            }
        }
    }

    .featured-brands-section {
        margin-bottom: @gutter + 15;
        .mz-cms-content {
            padding: 0px;
        }
        
        &>.col-sm-6 {
        	@media (max-width: 767px) {
				padding: 0;
			}
        }
    }

    .brand-logo-section {
        margin-bottom: @gutter + 25;

        .mz-cms-content {
            padding: 0px;
        }
    }
    
    .expert-advice-section {
		background-color: @light-grey;
		&.container {
			padding: 0;
			.mz-cms-row {
			    max-width: 100%;
			    .mz-cms-content{
		    	    padding: 0;
			    }
			}
			
		}
	}
	/***** RTI  *****/
	.recommended-product-container{
		.rti-recommended-products-title{
			.text-center;
		}
	}
}



