.bv-cv2-cleanslate .bv-core-container-16 .bv-compat .bv-content-search .bv-masthead .bv-masthead-product .bv-stars-container .bv-rating-stars-off {
	color: @horizontalLine !important;
}
.bv-cv2-cleanslate .bv-core-container-16 .bv-rating-stars-container .bv-rating-stars-off {
	color: @horizontalLine !important;
}


body.mz-product {
	.agenda;	
	.mz-l-pagecontent{
		overflow:visible;
		padding:0;
	}
	.mz-breadcrumbs{
		background-color:@light-grey;
		padding:@gutter 0;
	}
	.section-title{
		font-size:2.2rem;
		.agenda-bold;
		margin: 0 0 @gutter - 10;
	}
	.productdetails-container{
		background-color:@light-grey;
		.product-details{
			 padding-bottom:@gutter * 2;
			 
			 @media(min-width:768px){
			 	padding-bottom:@gutter * 3 - 5;
			 }
		   	.productdetails-title{
		  		    .agenda-bold;
		  			font-size: 2.6rem;
		  			margin: 0 0 @gutter - 5;
		  			
		   		@media (min-width: 768px){
		   			font-size: 3.4rem;
		   		}
		   	}
		   	.productdetails-detail{
	  		    padding: 0;
	  			list-style: none;
	 			margin: 0 0 @gutter;
	 			li{
	  				@media(min-width:768px){
	  				display: inline-block;
	    			vertical-align: bottom;
	    			margin: 0 @gutter - 5 0 0;
	  				}
	   			}
	   			.product-brand{
	   				.agenda-bold;
	   				text-transform:uppercase;
	   			}
	   		}
	   		.productdetails-wrapper{
	   			@media(min-width:992px){
			 		margin-left: @gutter * 2;
			 	}
	   		}
		}

	}
	/* Bazaar voice */
	#mz-drop-zone-bazaarvoice-ratings{
		width:100%;
		overflow:hidden;
	}
	#BVRRSummaryContainer{
		.bv-cv2-cleanslate .bv-shared .bv-primarySummary-rating-container{
			.agenda;
			.bv-rating-stars-on{
				color:@torchRed !important;
				font-size: 2.5rem!important;
			}
			.bv-rating-stars-container {
				.bv-rating-stars-off{
					color:@horizontalLine !important;
					font-size: 2.5rem!important;
				}
			}
			.bv-text-link{
				color:@torchRed !important;
				&:visited, &:active{
					color:@torchRed !important;
				}
			}
			.bv-details-bar,.bv-action-bar{
				.hidden;
			}
		}
	}
	#BVRRSearchContainer{
		.bv-cv2-cleanslate{
			.bv-shared{
				.bv-text-link, .bv-content-secondary-ratings-value, .bv-secondary-rating-summary-value, .bv-content-slider-value{
					color:@torchRed !important;
				}
				.bv-content-search {
					.bv-masthead {
						.bv-masthead-product{
							.bv-stars-container{
								.bv-rating-stars-on{
									color:@torchRed !important;
									font-size: 2.5rem!important;
								}
								.bv-rating-stars-off{
									color:@horizontalLine !important;
									font-size: 2.5rem!important;
								}
							}
						}
					}
				}
			}
		}
	}
	.bv-cv2-cleanslate{
		.bv-shared{
			font-size:1.6rem !important;
			.agenda !important;
			.bv-action-bar-header{
				font-size:2.2rem !important;
				.agenda-bold !important;
			}
			.bv-rating-stars-on, .bv-author.bv-fullprofile-popup-target{
				color:@torchRed !important;
				font-size: 2.5rem!important;
			}
			.bv-rating-stars-off{
				color:@horizontalLine !important;
				font-size: 2.5rem!important;
			}
			button.bv-write-review, button.bv-read-review, button.bv-ask-question, .bv-button{
				background:@torchRed !important;
				&:hover{
					background:@torchRed !important;
				}
			}
			 dl, ol, ul, dt{
			 	font-size:1.4rem !important;
			 }
			.bv-content-secondary-ratings-value, .bv-secondary-rating-summary-value, .bv-secondary-slider-summary-value, .bv-content-slider-value{
				background:@torchRed !important;
			}
			.bv-content-review, .bv-section-summary .bv-section-summary-inline .bv-secondary-rating-summary .bv-secondary-rating-summary-list .bv-secondary-rating-summary-id{
				font-size:1.6rem !important;
				.agenda !important;
			}
			.bv-content-summary p,  .bv-author.bv-fullprofile-popup-target {
				font-size:1.7rem !important;
				.agenda !important;
			}
			.bv-content-title{
				font-size:1.7rem !important;
				.agenda-bold !important;
			}
			.bv-author-profile .bv-author-cdv .bv-author-userinfo-value, .bv-mbox-fullprofile .bv-author-cdv .bv-author-userinfo-value{
				font-weight:normal !important;
				.agenda-bold !important;
				font-size:1.6rem !important;
			}
			.bv-author-location, .bv-author-userstats-reviews, .bv-author-userstats-votes, .bv-author-userstats-votes, .bv-author-cdv{
				.agenda !important;
				font-size:1.6rem !important;
			}
		}
		.bv-core-container-5 .bv-content-placeholder .bv-write-review-label{
			color:@black !important;
			margin-top:@gutter/5;
		}
	}
	
}

body.mz-article {
	.agenda;
	.mz-l-pagecontent{
		overflow:visible;
		padding:0;
	}
	.article-details {
		header {
		    margin-bottom: @gutter + 5;
			.article-heading {
			    margin: @gutter - 5 0 @gutter - 5 0;
			    font-size: 4rem;
			    .agenda-bold;
		        line-height: 1.1;
			}
			.auther-name {
			    margin: 0 0 @gutter - 15;
			}
			.article-image {
				width: 100%;
			}
			.no-image {
				width: 100%;
			}
		}
		
	}
	
}

.article-detail-widget-area {
	.mz-cms-block{
		&:first-child {
			.themed-content-grouping {
				border-top: 1px solid @mercury;
    			padding-top: @gutter + 5;
			}
		}
	}
	.mz-cms-content {
		padding: 0 !important;
		.mz-productlisting-title {
			.agenda-bold;
		}		
		.button-wrapper {
		    text-align: center !important;
		}
	}
}

.related-article-ondetail {
    background-color: @light-grey;
    .article-detail-widget-area {
    	.mz-cms-block{
			&:first-child {
				.themed-content-grouping {
					border-top: none;
	    			padding-top: @gutter + 5;
				}
			}
		}	
    }
    .themed-content-grouping {
    	.heading {
    		.button-wrapper {
    			.button {
    				.btn-red();
		        	.btn-medium();
    			}
    		}
    	}
    }
}


.bv-cleanslate .bv-shared .bv-compat .bv-inline-rating-container .bv-rating-stars-container .bv-rating-stars-off {
	color: @horizontalLine !important;
}

.bv-cleanslate .bv-shared .bv-primarySummary-rating-container .bv-stars-container .bv-rating-stars-off {
	color: @horizontalLine !important;
}

@media print {
	.mz-product{
		.mz-pagefooter, .header-container, .mz-breadcrumbs .socialshare, .brand-spotlight, .mz-productdetail-buttons, .toggle-container, .mz-productoptions, .quantity-input-button , .address-change, .recently-viewed-clear{
			.hidden;
		}
		.product-image-container{
			width:@gutter * 18;
			margin-left:@gutter;
		}
		.print-section{
			display:block !important;
			font-size:1.6rem;
		}
		.mz-productimages-mainimage{
			border:none;
		}
		.store-detail-cont{
			.fullwidth;
			border-bottom:1px solid #979797;
			padding-bottom:@gutter;
			.top-container{
				float:left;
				margin-right:@gutter;
			}
			.store-list{
				padding:0 0 0 @gutter - 5;
				list-style:none;
			}
		}
	}
}