.static-page{
	.agenda;
	strong{
		.agenda-bold;
		font-weight:normal;
	}
	.mz-l-pagecontent{
		.no-padding;
		.mz-breadcrumbs{
			.hidden; 
		}
		.mz-richtext-widget-wrap {
			a {
				color: @secondary-color;
		    	text-decoration: underline;
			}
			table {
				tbody {
					tr {
						td {
							padding: 10px;
						}
						th {
							padding: 10px;
						}
					}
				}
			}
		}
		.static-navigation-with-content, .static-template-1, .static-content-with-image {
			margin-top: @gutter - 15;
			
			.mz-cms-content {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
		.static-navigation-container{
			margin-bottom: @gutter - 15;
			&>button {
				width: 100%;
			    padding: @gutter - 15;
			    background: @light-grey;
			    &::after {
		    	    content: "\E316";
		    	    .material-icons;
		    	    vertical-align: middle;
		    	    margin-left: 10px;
			    }
			    &.collapsed {
			    	&::after {
			    	    content: "\E5CF";
			    	    .material-icons;
			    	    vertical-align: middle;
			    	    margin-left: 10px;
				    }
			    }
			}
			#static-navigation-collapse {			    
    			padding-bottom: @gutter - 15;   			    
   			    @media(max-width:767px){
   			    	border: 1px solid @formInputBorder;
			    	padding-top: @gutter - 15;
			    	border-top: none;
   			    }
			}
			.footer-list{
				margin-top:@gutter/5 * 3;
				@media(max-width:767px){
					display:block !important;
				}
			}
			.subnav-container{
				font-size:1.4rem;
				margin-top:-@gutter + 5;
				padding-left:@gutter - 5;
				.footer-list{
					margin-top:0;
					li{
						position:relative;
						&:before{
							content:'\E315';
						    line-height: 41px !important;
						    .material-icons;
					        font-size: 2.4rem; 
				            position: absolute;
						    top: -@gutter/5 + 1;
						    left: -@gutter + 5;
						    pointer-events: none;
						}
					}
				}
			}
		}
	}
	
	.grid-info {
		.footer-list {
			li {
				a {
					display: block;
					.image-header {
					    margin-left: 0;
					    .agenda-bold;
					    line-height: @gutter - 3;
   						display: block;		
					}
					img {
						width: 100%;
    					height: auto;
					}
				}
			}			
		}		
	}
	
	
}