.update-mailing-address{
	.agenda;
	font-size:1.6rem;
	strong{
		.agenda-bold; 
	}
	h1{
		.agenda-bold;
	}
	h2{
		font-size:2.2rem;
		.agenda-bold;
	}
	a{
		color:@torchRed;
	}
	.update-mailing-navigation{
		.footer-list{
			margin-top:@gutter/5 * 3;
			@media(max-width:767px){
				display:block !important;
			}
		}
	}
	.update-mailing-form{
		margin:0 0 @gutter 0;
		.form-group{
			label{
				font-weight:normal;
				margin-right:@gutter/5 * 2;
				.fullwidth;
			}
			.form-control{
				font-size:1.4rem;
				.agenda;
			}
		}
		.mz-update-mailing-button{
			.btn-yellow;
			margin-top:@gutter/5 * 3;
		}
	}
	#mz-drop-zone-update-concern-privacy{
		[class*='mz-cms-col-']{
			.mz-cms-content{
				padding:@gutter/5 * 5;
			}
		}
		font-size:1.6rem;
		background:@concernBg;
		.agenda;
		h3{
			font-size:1.8rem;
			.agenda-bold;
			.no-margin
		}
		a{
			color:@torchRed;
		}
	}
}