.mz-checkout-payment {

    clear: both;
    @media(min-width:768px){
    	min-width: @gutter * 12 + 40;
    }
    .mz-checkout-paymenttitle {
        border-bottom: 1px solid @slider-arrow-background;
        font-weight: normal;
        strong {
            font-size: @fontSizeLarger;
        }
    }


    &-change, &-done {
        float: right;
    }
}

.mz-paymentselector.mz-l-formfieldgroup {
	border:1px solid 
    .mz-digitalwallets {
        padding-top: @gutter/2;
    }
    display: block;
    .mz-l-formfieldgroup .mz-l-formfieldgroup-row {
        display: table-row;
    }
    .mz-l-formfieldgroup-row {
        display: block;
    }
    .mz-paymentselector-option .mz-checkoutform-radio {
        text-align: left;
        display: block;
    }
    .mz-l-formfieldgroup-cell {
        > label {
            text-align: right;
            display: block;
            min-width: 155px;
        }
        .mz-paymentselector-reenter-cvv {
            label {
                text-align: left;
                min-width: auto;
                display: inline-block;
                margin-right: @gutter/4;
            }
        }
    }
    .mz-payment-credit-card-savepayment-row {
        margin: 0 0 @gutter/5 + 3;
        
        label.mz-inline {
        	width: auto;
        }
    }
    .mz-payment-credit-card-number, .mz-payment-credit-card-type, .mz-payment-credit-card-name{
    	.fullwidth;
    }
}
.mz-payment-credit-card-expiration-row{
	padding-left:0;
}
.billing-new-address-container{
	padding:0 @gutter/2 + 2.5 @gutter/2 + 2.5;
	overflow:hidden;
	.form-group-row{
		margin-bottom:@gutter/2 + 2.5;
		overflow:hidden;
		.form-control{
			.fullwidth;
			font-size:1.6rem;
			.agenda;
			.no-appearance;
		}
	}
	.address-form-background {
		background:rgba(125, 167, 217, 0.1);
		padding-left: @gutter - 10 !important;
		padding-right: @gutter - 10 !important;
	}
	.new-billing-address-form {
		padding: @gutter - 10 0 @gutter - 10 @gutter - 20;
		.form-group-row{
			.mz-addressform-firstname, .mz-addressform-country, .mz-addressform-state{
				@media(max-width:767px){
					margin:0 0 @gutter/2 + 2.5;
				}
			}
		}
		.add-new-address-radio {
			margin-right: @gutter - 10;
			.payment-method-label {
		    	min-width: 0;
		    	display:inline-table;
		    	&:after {
		    		position: absolute;
		    		right: 1px;
		    	}
		    }
		}
		.addNewAddrLabel {
			.agenda-bold;
			margin: 0 0 @gutter - 5;
    		line-height: 1.1;
    		font-size: 1.6rem;
    	
    		.provide-billing-addr-txt {
		    	display: block;
   				margin-bottom: 20px; 
    		}
		}
		
	}
	.mz-addressform-address1 {
		margin-bottom: @gutter - 10;
	}
}
//For select box icon
.select-icon-cont{
	position:relative;
	select + i {
		font-size: 3.4rem;
	    height: @gutter * 2 - 10;
	    color: @selectArrow;
	    position: absolute;
	    top: @gutter/5;
	    right: 0;
	    pointer-events: none;
	    font-style:normal;
	}
}

.mz-paymentselector-label-separator {
    text-align: center;
    border-bottom: 1px dashed @slider-arrow-background;
    text-decoration: none;
}

.mz-paymentselector-separator {
    border-top: 1px solid @slider-arrow-background;
    padding-top: @gutter;
}

.mz-paymentselector-newcreditcard .mz-l-formfieldgroup-cell:first-child label {
    min-width: 155px;
}

.mz-paymentselector-newcreditcard {
	.addNewAddrLabel {
		display: inline;
	}
	.add-new-addr-txt {
		display: inline;
	}
}
.mz-paymentselector-savedcreditcard {
	.mz-l-formfieldgroup-row {
		padding-top: @gutter - 5;
	}
	.select-payment-label {
		.agenda-bold;
		margin: 0 0 @gutter - 16;
	    line-height: 1.1;
	    font-size: 1.8rem;
	}
}

.credit-card-form-section {
	position: relative;
	.payment-method-card-selection {
		position: relative;
	    z-index: 1;
	    display: block;
	    padding: @gutter - 8 @gutter - 10 @gutter - 12 @gutter * 2;
	    line-height: 2.6rem;
	    border: 1px solid @formInputBorder;
	    border-radius: @gutter / 5;
	    cursor: pointer;
	    background-color: @white;
	    
	    @media (min-width: 768px){
	    	padding-left: @gutter * 2 + 15;
	    }
	    
	    .add-credit-card-label {
	    	.agenda;
	    	display: inline-block;
	   		vertical-align: middle;
	    	margin-right: @gutter - 10;
	    }
	}
	.payment-method-card-radio {
		position: absolute;
	    z-index: 1;
	    top: @gutter - 17; 
	    left: @gutter - 10;
	    .payment-method-label {
	    	min-width: 0;
	    	display:inline-table;
	    	&:after {
	    		position: absolute;
	    		right: 1px;
	    	}
	    }
	}
	.new-card-info-section {
		padding: @gutter + 15 @gutter - 5 0;
		margin-top: -@gutter + 5;
	    border: 1px solid @border-light;
	    border-bottom: none;
	    
	    .card-info-section-margin {
	    	.mz-payment-credit-card-securitycode-row{
	    		padding-right:0;
	    		@media(max-width:767px){
	    			.no-padding;
	    		}
	    	}
	    	.mz-payment-credit-card-type-row {
	    		.card-type-section {
	    			position: relative;
		    		&:after {
					    .material-icons;
					    font-size: 3.4rem;
					    height: @gutter + 15;
					    color: @formInputBorder;
					    content: "\E313";
					    line-height: 1.4;
					    position: absolute;
					    bottom: 0;
					    right: @gutter - 15;
					    pointer-events: none;
				    }
	    		}
			    .select-credit-type {
			    	.agenda;
		    		font-size: 1.6rem;
		    		-webkit-appearance: none;
				    -moz-appearance: none;
				    appearance: none;
				    width: 100%;
				    border: 1px solid @formInputBorder;
				    border-radius: 0px;
				    padding: @gutter - 15 @gutter + 10 @gutter - 15 @gutter - 15;
			    }
	    	}
	    	.expiration-details {
	    		display: -webkit-box;
			    display: -webkit-flex;
			    display: -ms-flexbox;
			    display: -moz-box;
			    -webkit-box-align: center;
			    -webkit-align-items: center;
			    -ms-flex-align: center;
			    align-items: center;
			    .select-input {
			    	position: relative;
			    	&:first-child {
			    		margin-right: @gutter / 5;
			    	}
			    	&:after {
					    .material-icons;
					    font-size: 3.4rem;
					    height: @gutter + 15;
					    color: @formInputBorder;
					    content: "\E313"; 
					    line-height: 1.4;
					    position: absolute;
					    bottom: 0;
					    right: @gutter - 15;
					    pointer-events: none;
				    }
			    	.expiration-month, .expiration-year {
			    		.agenda;
			    		font-size: 1.6rem;
			    		-webkit-appearance: none;
					    -moz-appearance: none;
					    appearance: none;
					    width: 100%;
					    border: 1px solid @formInputBorder;
					    border-radius: 0px;
					    padding: @gutter - 15 @gutter + 10 @gutter - 15 @gutter - 15;
			    	}
			    }
	    	}
	    	.security-card-info {
	    		width: 100%;
			    border: 1px solid @formInputBorder;
			    font-size: 1.6rem;
			    line-height: 1.6rem;
			    padding: @gutter - 14 @gutter - 10 @gutter - 17;
	    	}
	    	.mz-payment-credit-card-savepayment-row {
	    		margin-top: @gutter + 5;
	    		margin-bottom: @gutter - 10;
	    		.save-card-label {
	    			margin-left: @gutter - 17;
	    		}
	    		.disabled-input {
	    			background-color: @light-grey;
	    			color: @inputBorder;
	    		}
	    	}
	    	.mz-payment-credit-card-maydefault-row {
	    		margin-bottom: @gutter + 5;
	    		.make-default-card-label {
	    			margin-left: @gutter - 17;
	    		}
	    		label.mz-inline {
		        	width: auto;
		        }
	    	}
	    }
	}
}
.billing-address-section {
	border: 1px solid @border-light;
	border-top: none;
	margin: 0;
}
.step-payment-continue-btn-div {
	text-align: right;	
	margin-top: @gutter - 5 !important;
	.step-payment-continue-btn {
		.btn-yellow();
		.btn-medium();
	}
}

.payment-summary {
	.agenda;
	font-size: 1.6rem;
	margin-bottom: @gutter + 5;
	
	.card-expires-section {
		margin: 0;
	}
	.payment-summary-card-number {
		position: relative;
		.card-img-in-summary {
			top: -6px;
    		left: -7px;
		}
		.card-number-part {
			padding-left: @gutter + 15;
		}
	}
}

.aeroplan-summary {
	.agenda;
	margin-bottom: @gutter + 5;
}
.is-complete .payment-method-summary {
	border: 1px solid @formInputBorder;
    border-top: none;
    margin: 0;
    padding: @gutter + 5 @gutter - 5;
    padding-bottom: @gutter + 5 !important;
    margin-bottom: @gutter * 2;
    
    .mz-checkout-payment {
    	margin: 0;
    }
    .bill-to-label {
    	font-size: 1.8rem;
    	margin-top: 0;
    }
    .payment-address-summary {
    	.agenda;
    	line-height: 1.1;
    }
}
.is-complete {
	.coupon-code-field, .aeroplan-section{
		display: none;
	}
}
