.mz-productlist-carousel{overflow-x:auto;}.mz-l-carousel{margin:0;padding:0;list-style-type:none;height:250px;width:auto;overflow:hidden;display:inline-flex;li{float:left;padding-top:32px;width:@defaultTileWidth;.mz-productlisting-shortdesc,.mz-productlisting-productcode{display:none;}}}