.mz-l-paginatedlist {
	position: relative;
	.mz-sortby {
		float: left;
		line-height: @gutter + 15;
		@media(max-width: 991px)and(min-width:768px) {
			line-height:@gutter - 5;
		}
		@media(max-width:767px) {
			float: right;
			margin-top: @gutter - 15;
			line-height: @gutter - 5;
		}
	}
	.mz-pagingcontrols {
		float: left;
		margin-right: @gutter;
		line-height: @gutter + 15;
		@media(max-width: 991px) {
			line-height:@gutter - 5;
		}
		@media(max-width: 767px) {
			line-height:@gutter - 5;
		    margin-right: 0;
    		float: none;
		}
	}
	.checkbox-filters {
		margin-left: @gutter + 15;
		float: left;
		@media(max-width: 767px) {
			margin: 0;
		}
		.sold-online {
			margin-right: @gutter/5 + 2;
		}
		.checkbox-wrap {
			float: left;
		}
		.checkbox-wrap {
			@media(max-width: 767px) {
				margin-top:3px;
				margin-bottom: 3px;
			}
		}
	}
	.result-toggle {
		position: relative;
		float: right;
		@media(max-width: 767px) {
			display:none;
		}
	}
	.mz-pagenumbers {
		float: right;
		margin-top: 5px;
		margin-left: @gutter;
	}
	.mz-l-tiles {
		clear: both;
	}
	.mz-l-paginatedlist-header {
		.clearfix();
		padding-top: 1px;
		position: relative;
		.result-options {
			padding: @gutter/2 + 2.5 0 @gutter/2 - 2.5;
			float: left;
			width: 100%;
		}
	}
	.mz-l-paginatedlist-footer {
		.clearfix();
		.mz-pagenumbers {
			margin-top: 0;
		}
		.mz-pagingcontrols-pagesize-label {
			display: none;
		}
	}
	.mz-l-paginatedlist-list {
		.clearfix();
	}
}