﻿.is-loading {   
	input {
        .opacity(.6);    
	 }   
	 input[type=submit], button, input[type=button] {    	
		 background-image: url(../resources/images/button-loading.gif);	    
		 background-position: 50% 50%;	    
		 background-repeat: no-repeat;	    
		 background-size: 50px;	    
		 color: transparent;	    
		 cursor: no-drop;	    
		 text-indent: -9999px;     
	 }
}