.store-address{
	 display: table;
	 width: 100%;
	 padding: @gutter - 10  @gutter - 5;
	 background: @white;
	 border: 1px solid @torchRed;
	 margin: @gutter - 5 0 @gutter - 10;
	 
	 .address-card{
	 	padding-right: @gutter - 10;
	 	display: table-cell;
			vertical-align: top;
			
			.store-name{
				.agenda-bold;
				color:@primary-color;
				
				&:hover,&:visited{
					color:@primary-color;
				}
			}
			.store-address-details{
			    margin: 0;
			    line-height: 1.2;
			    .store-street, .store-locality, .store-telephone{
			    	display:block;
			    }
			    .store-tel{
					color:@primary-color;
					text-decoration:none;
				}
			}
	 }
	 .address-change{
	 	width: 60px;
	 	display: table-cell;
		vertical-align: top;
		.store-change{
			color:@torchRed;
		}
	 }
}
.no-preferred-store-block{
	margin-bottom: @gutter;
	.select-preferred-store{
		.btn();
		.btn-red();
		.btn-medium();
		padding: @gutter - 15 @gutter @gutter - 15;
		.play-arrow{
			vertical-align: text-bottom;
			font-size: 2rem;
		}
	}
}
.go-to-store-locator-modal {
	.agenda;
	@media (max-width: 767px) {
		padding-right: 0 !important;  
	}
	.modal-sm {
		width: 550px; 
		@media (max-width: 767px) {
			width: 300px;
		}
	}
	.modal-dialog {
		margin: @gutter + 5 auto;	
		.modal-content {
			@media (min-width: 768px) {
				padding: 0 @gutter + 5 @gutter + 5;
			}
			@media (max-width: 767px) {
				padding: @gutter - 10 @gutter - 5;
			}
			padding: 0 @gutter - 10;
			.modal-header {
				min-height: @gutter + 5;
			    padding: @gutter - 15 0;
			    border-bottom: none;
			    @media (min-width: 768px) {
			    	padding: @gutter - 10 0;
			    }
			    .modal-title {
			    	.agenda-bold;
			    	font-size: 2.2rem;
				    line-height: 1.2;
				    margin: @gutter - 15 @gutter + 15 @gutter - 20 0;
				    text-align: left;
				    @media (min-width: 768px) {
				    	font-size: 3.4rem;
						margin: @gutter - 10 @gutter * 2 @gutter - 10 0;
				    }
			    }
			    .modal-close {
			    	position: absolute;
				    top: @gutter - 15;
				    right: @gutter - 15;
				    width: @gutter + 11;
				    height: @gutter + 11;
				    text-decoration: none;
				    text-align: center;
				    z-index: 1;
				    @media (min-width: 768px) {
			    	    top: @gutter - 15;
						right: @gutter - 15;
				    }
				    .u-sr-only {
				    	&:before {
				    		.material-icons;
				    		font-size: 3rem;
						    line-height: 3.6rem;
						    content: "\E14C";
				    	}
				    }
			    }
			}
			.modal-body {
   				text-align: center; 
   				padding: @gutter - 10 0;
   				@media (min-width: 768px) {
				    padding: @gutter + 5 @gutter * 2 + 5;
   				}
   				.storeChangeMsg {
   					.agenda-bold;
   					font-size: 2.4rem;
					margin-bottom: @gutter - 5;
   				}
   				.confirmationMsg {
   					font-size: 1.8rem;
   					@media (max-width: 767px) {
					    margin-right: @gutter - 5;
    					margin-left: @gutter - 5;
   					}
   					.changesWillNotSaveTxt {
   						display: block;
   					}
   					.makeSureForStoreChangeMsg {
   						display: block;
   					}
   				}
			}
			.modal-footer {
   				text-align: center;
   				border: none;
   				.cancel-link {
   					.btn-transparent();
   					padding: @gutter - 13 @gutter + 10 @gutter/5*2;
   					margin-right: @gutter - 5;
   					font-weight: normal;
				    text-transform: none;
				    background: transparent;
				    border: 1px solid @torchRed;
				    color: @link-red;
				    display:inline-block;
				    margin-bottom:@gutter/5 * 3;
				    @media (max-width: 767px) {
				    	display: block;
				    	margin-bottom: @gutter - 5;
				    	margin-right: 0;
				    }
   				}
   				.save-card-btn {
   					.btn-red();
   					.btn-small(); 
   					display:inline-block;
   					padding: @gutter - 13 @gutter + 10 @gutter/5*2;
					@media (max-width: 767px) {
				    	display: block;
				    }
   				}
   			}
		} /* end of modal-content */
	}
}