.recently-viewed-section {
	.agenda;
	.recently-viewed-products {
		border-top: 1px solid @border-light;
	    border-bottom: 1px solid @border-light;
	    background-color: @light-grey;
	}
    
    .recently-viewed {
    	padding: @gutter + 10 0;
    	
    	.recently-viewed-title {
    		.agenda-bold;
    		font-size: 2rem;
		    display: inline-block;
		    margin: 0 @gutter - 5 @gutter - 5 0;
		    
		    .history-clear-msg {
		    	.agenda;
		    	margin-left: @gutter;
		    	font-size: 1.6rem;
		    	@media(max-width:767px){
		    		display:block;
		    		margin:@gutter/2 - 2.5 0 0;
		    	}
		    }
    	}
    	
    	.recently-viewed-clear {
    		.agenda-bold;
    		float: right;
		    color: @secondary-color;
		    display: inline-block;
		    font-size: 1.9rem;
    	}
    	
    	.hide-on-tablet {
    		@media(min-width:768px) and (max-width:991px) {
    			display: none;
    		}
    	}
    	.mz-productlisting {
    		width: 100%;
    		padding: 0;
    		@media(max-width:767px){
    			margin:0 0 @gutter/2 + 2.5;
    		}
    		.mz-productlisting-image{
    			.image-wrap{
    				img{
    					.no-border;
    				}
    			}
    		}
            .product-not-available{
                .agenda-bold;
                margin:0;
                font-size:1.5rem;
                margin : @gutter/5 0 0 0;
            }
    	}
    }
	.productdetails-container {
	  	background-color: @white !important;
	}
}
