.mz-contactselector {
    .mz-contactselector-contact {
        display: table;
        > * {
            display: table-cell;
            vertical-align: middle;
            padding: 4px;
        }
        min-height: 150px;
       
    }
}
.contact-selector-section {
	.agenda;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center; 
    align-items: center;
    padding: 15px;
    
    .existing-billing-address-radio {
    	margin-right: @gutter - 10;
    	display:table;
    } 
    .mz-addresssummary {
    	cursor: pointer;
	    vertical-align: middle;
	    margin: 0 0 0 8px;
	    display:inline-table;
	    .first-last-name {
	    	.agenda-bold;
	    	display:block;
	    }
	    span:nth-child(2){
	    	display:inline-block;
	    	padding-right:@gutter/5 * 3;
	    }
    }
}