﻿.mz-formstep {
    margin-bottom: @gutter*1.25;
    .mz-formstep-header {
        border-bottom: 1px solid #eee;
        padding: @gutter/4 0;
        margin-bottom: @gutter;
        font-size: @fontSizeLarge;
        font-weight: bold;
        position: relative;
    }
    .mz-formstep-edit {
        font-size: @fontSize;
        position: absolute;
        right: 0;
        bottom: @gutter/4;
        display: inline-block;
	    float: right;
	    font-size: 1.6rem;
	    color: #ffffff;
	    .agenda; 
    }
    .mz-formstep-next {
        margin-top: @gutter/2;
    }
    .mz-formstep-desc {
        font-size: @fontSizeLarger;
        font-weight: bold;
    }
    &.is-new {
        //.opacity(.4);
        .mz-formstep-body, .mz-formstep-edit {
            display: none;
        }
    }
    &.is-invalid, &.is-incomplete{
        .mz-formstep-edit, .mz-formstep-summary {
            display: none;
        }
    }
    &.is-undefined {
    	.mz-formstep-edit {
    		display: none;	
    	}
    }
    &.is-complete {
        .mz-formstep-fields, .mz-formstep-next {
            display: none;
        }
    }
    .mz-ordersummary {
        width: 100%;
        box-sizing: border-box;
    }
}
