.no-search {
	.agenda;
	.search-box-container {
	    padding: @gutter + 5 @gutter - 10;	    
	    .no-search-text {
			.agenda-bold;
		    padding: 0 0 @gutter 0;
	   		margin: 0;
		}
		.mz-searchbox-field {
		    position: relative;
			overflow: hidden;
			
			.twitter-typeahead {
				width: 100%;
			}
			input {
			    padding-right: @gutter + 15;
		        box-sizing: border-box;
		        &:invalid {
		       	    background: @white;
		        }
			}
			.searchicon {
				display: none;
			}
			.mz-searchbox-button {
			    width: 0px;
			    height: 0px;
			    padding: 0px;
			    border: 0px;
			}
			&:after {
				.material-icons;
				content: "\e8b6";
				position: absolute;
			    right: @gutter - 15;
			    top: @gutter - 15;
			    font-weight: bold;
			    line-height: 1;
			    font-size: 2.2rem;
			}
		}
	}
	.helpblock {
	 color: @primary-color;
	 margin-top: @gutter + 15;
		.title {
			.agenda-bold;
		    font-size: 2.6rem;
	        margin: 0 0 @gutter - 5;
	        @media (min-width: 768px) {
	        	font-size: 3.4rem;
   				margin: 0 0 @gutter + 5;
	        }
		}
		.subtitle {
		    font-size: 1.8rem;
		    margin: 0 0 @gutter - 15;
		    .agenda-bold;
			.link {
				color: @torchRed;
			}
		}
		p {
			margin-bottom: @gutter + 5;
			strong {
				.agenda-bold;
			}
			&.nomargin-bottom {
				margin-bottom: 0
			}
		}
		.contact-link {
			margin-top: @gutter - 15;
		}
		.store-locator-btn {
			.btn-medium();
			.btn-yellow();
		    margin: 0 0 @gutter + 5;
		}
	}
	
}