.product-order-title{
	margin: 0 0 @gutter - 5;
    line-height: 1.1;
    font-size: 2.4rem;
    .agenda-bold;
}
.order-item-block{
	padding: @gutter + 10 @gutter/2 + 2.5;
	 border-bottom:1px solid @mercury;
	 overflow:hidden;
	 @media(min-width:768px){
	    .flex;
	    .flex-wrap;
	    .flex-row-direction;
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
    }
    @media(max-width:767px){
    	padding: @gutter + 10 0;
    	border-color:@cart-block-border;
    }
	.order-item-product{
		margin: 0 0 @gutter;
		overflow:hidden;
		.no-padding;
		@media(min-width:768px){
		    .no-margin;
		    padding:0 @gutter + 5 0 0;
		}
		.product-tile{
			display: block; 
		    font-size: 1.6rem;
		    .product-tile-image{
		    	padding-left:0;
		    	@media(max-width:767px){
		    		width:@gutter * 5 + 5;
		    	}
		    	img{
		    		.fullwidth;
		    	}
		    }
		    .product-tile-content{
		    	padding-right:0;
		    	color:@mineShaft;
		    	@media(max-width:767px){
		    		.no-padding;
		    	}
		    	.product-tile-title{
		    		font-size:1.6rem;
		    		margin:0 0 @gutter/5 + 3;
		    		line-height:1.1;
		    		a{
		    			color:@mineShaft;
		    		}
		    	}
		    	.product-tile-brand{
		    		margin:@gutter/2 - 2.5 0;
		    		strong{
		    			font-weight:normal;
		    			.agenda-bold;
		    		}
		    	}
		    }
		}
	}  
	.order-item-quantity{
		color:@mineShaft;
		padding-left:0;
		.agenda-bold;
		@media(max-width:767px){
			.text-right;
			padding:@gutter/2 + 2.5 0;
			margin:0 0 @gutter/2 + 2.5;
			border-bottom:1px solid @mercury;
			border-top:1px solid @mercury;
		}
		strong{
			font-weight:normal;
			.agenda-bold;
		}
		span{
			.agenda;
		}
	} 
	.order-item-details{
		padding-right:0;
	    .order-item-price{
	    	.text-right;
	    	strong{
	    		.agenda-bold;
	    	}
	    	.unit-price{
	    		.agenda-bold;
	    	}
	    	.mz-item-price{
	    		.text-right;
	    	}
	    	ul{
		    	.no-margin;
		    	.no-padding;
		    	list-style-type:none;
		    	li{
		    		.text-right;
		    		.mz-item-price.is-saleprice{
		    			color:@secondary-color;
		    		}
		    	}
	    	}
	    }
	    .order-item-total{
	    	.text-right;
	    	.ehf-cost {
	    		margin-top: @gutter - 10;
	    		display: block;
	    	}
	    	strong{
	    		.agenda-bold;
	    		margin: @gutter/2 + 2.5 0;
	    		display:inline-block;
	    	}
	    	.mz-item-rowtotal.is-saleprice{
	    		color:@mineShaft;
	    	}
	    	.mz-item-discount{
	    		font-weight:normal;
	    	}
	    	.order-item-subtotal{
	    		margin:@gutter/2 + 2.5 0 0;
	    		color:@mineShaft;
	    	}
	    }
    }
}


