.order-summary-details{
	.agenda;
	border: 1px solid @mercury;
    background: @light-grey;
    font-size: 1.7rem;
    padding: @gutter/2 + 2.5;
    @media(max-width:767px){
    	.row;
    	border-left:none;
    	border-right:none;
    }
    table{
    	.fullwidth;
    	margin:0 0 @gutter/2 - 2.5;
    	caption{
		    .agenda-bold;
		    font-size: 1.8rem;
		    background: @light-grey;
		    margin: 0 0 @gutter/2 + 2.5;
		    color:@mineShaft;
		    padding: 0;
	    }
	    tr{
		    th{
		    	font-weight: normal;
			    padding: 0 @gutter/5 - 2 0 0;
			    width: 52%;
			    vertical-align: top;
		    }
		    td{
		    	.agenda-bold;
			    .text-right;
			    padding: 0 0 0 @gutter/5 - 2;
			    vertical-align: top;
		    }
	    }
	    .order-summary-total{
	    	border-top: 1px solid @mercury;
	    	tr{
	    		th{
	    			font-weight: normal;
				    padding: @gutter/2 + 2.5 @gutter/5 - 2 0 0;
				    width: 52%;
				    vertical-align: bottom;
				    font-size: 2rem;
	    		}
	    		td{
	    			.agenda-bold;
				    .text-right;
				    padding: @gutter/2 + 2.5 0 0 @gutter/5 - 2;
				    vertical-align: bottom;
				    font-size: 2.2rem;
	    		}
	    	}
	    }
	    .order-summary-taxes{
	    	tr:first-child{
	    		th, td{
	    			padding-top:@gutter/2 + 2.5;
	    		}
	    	}
	    }
	    .order-summary-shipping{
	    	tr{
	    		th, td{
	    			padding:@gutter/2 + 2.5 0;
	    		}
	    	}
	    }
    	
    }
    
}