.mz-pagenumbers {
	text-align: center;
	margin: @gutter - 5 0;
	@media(max-width:767px){
		margin:@gutter - 5 auto;
		max-width:@gutter * 10 - 10;
	}
	.mz-pagenumbers-prev,
	.mz-pagenumbers-next { 
		display: block;
	    font-size: 1.875rem;
	    font-weight: 700;
	    line-height: 1;
	    text-align: center;
	    color: @white;
	    border: none;
	    width: @gutter;
	    height: @gutter;
	    padding: 0;
	    border-radius: 50%;
	    background: @torchRed;
	    vertical-align: middle;	
	    position: relative;
	    
	    &.is-disabled {
	    	background: @grey;
    	    cursor: no-drop;
    	    color:@white;
	    }
	    &:before{
	    	font-size: 2.5rem;
   		    position: absolute;
		    width: 25px;
		    height: 25px;
		    left: 0;
		    top: 0;
	    }
	    &:hover{
	    	text-decoration:none;
	    }
	}
	
	.mz-pagenumbers-prev {
		.material-icons;
		line-height: 1;
		margin-right: @gutter - 15;
		
		&:before {
			content: "\E314";	
			margin-left:-@gutter/5 + 2;
		}
		@media(max-width:767px){
			float:left;
		}
	}
	
	.mz-pagenumbers-next {
		.material-icons;
		margin-left: @gutter - 15;
		
		&:before {
			content: "\E315";
		}
		@media(max-width:767px){
			float:right;
		}
	}
	
    .mz-pagenumbers-number {
   		color: @torchRed;
        text-decoration: none;
        .agenda-bold;
        padding:@gutter/5 @gutter/2 - 0.5;
        line-height: 1.428571429;
        &:hover{
        	background:@light-grey;
        }
    	&.is-current {
    		color: @black;
    		cursor: not-allowed;
    		&:hover{
    			background:none;
    		}
    	}
    }
    .mz-pagenumbers-break{
    	font-weight:bold;
    	letter-spacing: @gutter/5 - 4.2;
    	line-height: 1.428571429;
    }
    
    .mobile-navigation {
    	color: @torchRed;
        margin: 0px @gutter - 30;
        display: none;
        
        @media (max-width: 767px) {
        	display:inline-block;
        }
    }
}
