.mz-pagingcontrols {
	
	@media (max-width: 768px) {
		float: left;
    	margin-bottom: @gutter - 15;
	}
    .mz-pagingcontrols-pagestate-label {
        display: inline-block;
        strong {	
        	.agenda-bold;
        	 @media (max-width: 991px) and (min-width: 768px) {
	       	    display: block;	
	       	    height: @gutter;
	        }
        }
        @media (max-width: 768px) {
		    float: right;
   			margin-top: @gutter - 18;
		}
    }
    .mz-pagingcontrols-pagesize-label {
        display: inline-block;
        margin-right: @gutter;
        
        strong {	
        	.agenda-bold;
        	 @media (max-width: 991px) and (min-width: 768px) {
	       	    display: block;	
	        }
        }
        @media (max-width: 768px) {
   			margin-top: @gutter - 18;
		}
		
		.select-input {
			position: relative;
		    display: inline-block;
			&:after {
			    .material-icons;
			    font-size: 2.4rem;
			    height: @gutter + 15;
			    color: @formInputBorder;
			    content: "\E313"; 
			    line-height: 1.7;
			    position: absolute;
			    top: 0;
			    right: @gutter/5;
			    pointer-events: none;
			    @media (max-width: 991px) {
		   			line-height: 1.3;
				}
			    
		    }
		}
		
		

    }
    .mz-pagingcontrols-pagesize-dropdown {
        width: 60px;
        display: inline-block;
        padding: 6px;
         transition: none;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    -ms-appearance: none;
	    appearance: none;
    }
}
