.mz-paymentmethod {
    .mz-paymentmethod-actions {
        float: right;
        margin: 0 @gutter/2;
        a {
            .permalink(#666);
            display: inline-block;
            padding: 0 @gutter/4;
            border-right: 1px solid #eee;
            &:last-child {
                border-right-width: 0;
                padding-right: 0;
            }
        }
    }
    .mz-paymentmethod-methoddetails {
        float: left;
        clear: both;
    }
}
/* card modal */
.delete-card-modal{
	padding-right:0 !important;
    	.modal-dialog{
    		width:auto;
    		margin:auto;
	    	@media(min-width:768px){
	    		max-width:800px;
	    		margin:@gutter + 5 auto;
	    	}
    	}
    	.modal-close{
    		width: @gutter + 5;
		    height: @gutter + 5;
		    position: absolute;
		    right: -@gutter/5;
		    z-index:1000;
		    font-size: 3rem;
		    i{
		    	font-style:normal;
		    	font-size:3rem;
		    	line-height:3.6rem;
		    }
    	}
    	.modal-content{
    		padding: 0 @gutter/2 + 2.5;
    		@media(min-width:768px){
    			padding:0 @gutter + 5;
    			margin: 0 @gutter/2 + 2.5;
    		}
    		.modal-body{
    			padding: @gutter/2 + 2.5 0;
    			@media(min-width: 768px){
    				padding: @gutter + 5 0;
    			}
    			
    		}
    		h3{
    			margin:0 @gutter*2 @gutter/2 - 0.5 0;
    			.agenda-bold;
    			font-size:2.4rem;
    		}
    		.modal-subtext{
    			font-size:2rem;
    			margin:0 0 @gutter/2 - 2.5;
    		}
    		.card-information{
    			background:rgba(125, 167, 217, 0.1);
    			padding:@gutter/2 + 2.5 @gutter + 5;
    			display:inline-block;
    			font-size:1.6rem;
    			.agenda;
    			position:relative;
    			.card-number{
    				.card-img{
    					left:@gutter;
    				}
    				.card-text{
    					padding-left:@gutter - 5;
    				}
    			}
    			
    		}
    		.modal-footer{
    			.text-center;
    			a{
    				padding:@gutter/2 - 0.5 @gutter/2 + 2.5 @gutter/2 - 2.5;
    				display:inline-block;
    			}
    			.modal-cancel{
    				margin-right:@gutter - 5;
    				color:@torchRed;
    			}
    			.modal-delete-card{
    				.btn-red();
    				&:hover{
    					text-decoration:none;
    				}
    				@media(min-width: 768px){
    					margin-left:@gutter + 5;
    				}
    			}
    		}
    	}
    }
.french-content{
	.delete-card-modal{
		.modal-dialog{
			.modal-footer{
				@media(max-width:767px){
					padding:@gutter/2 + 2.5 0;
				}
			}
		}
	}
}