.related-articles {
	border-top: 1px solid @mercury;
    padding-top: @gutter + 10;
    &>.col-sm-12 {
    	padding: 0;
    }
	.title {
	    text-align: center;
	    font-size: 2.6rem;
	    margin: 0 0 @gutter - 10;
	    .agenda-bold;
		@media (min-width: 768px) {
			font-size: 3.4rem;
		}
	}	
	p {
	    text-align: center;
	    font-size: 1.7rem;
    	margin: 0 0 @gutter + 5;
	}
	.mz-productlist {
		padding-top: 0px;	
		@media (max-width: 768px) {
		    padding: 20px;
		}	
		.mz-productlisting  {
			padding-top: 0px;
			display: block;
			flex: none !important;
			.mz-productlisting-image {
		    	max-width: 400px;
    			width: auto;
			}
			.product-code{
				display:none;
			}
		}
	}
	
	#mz-drop-zone-related-article-widget {
		.mz-cms-row {
	    	max-width: 100%;
	    	.mz-cms-content {
				padding: 0;
			}
		}		
	}
}

