.result-view-toggle {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;	
    
    li {
   	    display: inline-block;
	    font-size: 3rem;
	    line-height: 1;
	    float:left;
	    &>a {
	    	width:@gutter - 3.72;
	    	height:@gutter + 8;
	    	position:relative;
	    	float:left;
	    	color: @primary-color;
	    	&:focus {
	    		outline: none;
	    	}
	    	
	    	.toggle-icon {
		    	.material-icons;
	    	    font-size: inherit;
	    	    display: inline-block;
	    	    position:absolute;
	    	    top:0;
	    	    left:-@gutter/5;
	    	    &.view-list {
		 	  	 	&:before {
			   	 		content: '\E8EF';
			   	 	}
		   	    }
		   	    
		   	    &.view-module {
		   	    	&:before {
			   	 		content: '\E8F0';
			   	 	}
		   	    }
	    	}
	    }
	    
    	
   	 	&.is-current {
   	 		border-bottom: 3px solid @torchRed;
   	 		
   	 		a {
   	 			color: @torchRed;
   	 		}
   	 	}
   	 	
   	 	&+li {
   	 		margin-left: @gutter - 5;
   	 	}
    	    
   	    
    }
}