.aggregate-rating{
 .star-rating{
  width: 15px;
     height: 18px;
     font-size: 1.8rem;
     vertical-align: middle;
     color:@torchRed;
     
     @media(min-width:768px){
      font-size:1.8rem;
     }
 }      
 .rating-total{
  margin-left: @gutter - 20;
     font-size: 1.6rem;
 }
}