.mz-wishlist {
	.agenda;
	.mz-l-pagecontent{
		.no-padding;
		.mz-breadcrumbs{
			.hidden;
		}
		.mz-l-stack-sectiontitle{
			font-size:4rem;
			.agenda-bold;
			margin:@gutter/5 * 8 0 @gutter/5 * 4;
		}
	}
	.emailMessage{
		margin: @gutter;
	}
	#wishlist-success-message{
		.text-center;
		font-size:1.6rem;
		.agenda;
		margin:@gutter * 3 auto;
		padding:0 @gutter/2 + 2.5;
		max-width:@gutter * 10;
		h3{
			.agenda-bold;
			font-size:2.4rem;
			margin:0 0 @gutter/2 + 2.5;
		}
		p{
			margin:0 0 @gutter/2 + 2.5;
			&:nth-child(3){
				padding:@gutter/2 + 2.5 0;
			}
		}
		.signin-link{
			color:@torchRed;
		}
		.signup-link-button{
			.btn-yellow();
			padding:@gutter/2 - 2.5 @gutter/2 + 2.5;
			&:hover, &:focus{
				text-decoration:none;
			}
		}
		
	}
	.wishlist-items-container {
		margin-bottom: @gutter + 15;
		.wishlist-items{
			.no-padding;
			.no-margin;
			list-style-type:none;
			.wishlist-item{
				.flex-display(flex);
				.flex-wrap(wrap);
				border-bottom:1px solid @mercury;
				padding:@gutter/5 * 7 @gutter/2 + 2.5;
				
				.removed-item-name{
					color:@torchRed;
				}
				
				.wishlist-added-to-cart{
					display:none;
				}
				
				&.added-to-cart-item{
					background:rgba(125, 167, 217, 0.1);
					.wishlist-added-to-cart{
						display:inline-flex;
						font-size:1.7rem;
						.agenda-bold;
						margin:0 0 @gutter - 5;
						.fullwidth;
						i{
							font-size:2rem;
							margin-right:@gutter/5;
						}
					}
				}
				
				.product-tile-list{
					margin:0 0 @gutter;
					@media(min-width:768px){
						width: 50%;
					    .no-margin;
					    padding-right: @gutter + 5;
					}
					
					.product-tile, .product-tile-content{
						display: table-cell;
		    			vertical-align: top;
		    			@media(min-width:768px){
		    				width:50%;
		    			}
					}
					.product-tile{
						.print-image{
							display:none;
						}
						@media(min-width:768px){
							padding:0 @gutter/5 * 3 0 0;
						}
						img{
							.fullwidth;
							@media(max-width:767px){
								max-width:@gutter * 10;
								padding-right:@gutter/5 * 3;
							}
						}
					}
					.product-tile-content{
						@media(min-width:768px){
							padding:0 0 0 @gutter/5 * 3;
						}
						.product-tile-title{
							font-size:1.6rem;
							margin:0 0 @gutter/5 * 2 - 2; 
							a{
								text-decoration: none;
							}
						}
						.product-code{
							font-size:1.6rem;
							margin:0 0 @gutter/5;
						}
						.product-tile-brand{
							margin:@gutter/5 * 2 0 0;
							.agenda-bold;
						}
					}
				}
				
				//Quantity section
				.wishlist-item-quantity{
					border-top: 1px solid #e1e1e1;
		    		border-bottom: 1px solid #e1e1e1;
		    		.text-right;
				    padding:@gutter/5 * 3 0;
				    margin: 0 0 @gutter/5 * 3;
				    font-size:1.6rem;
				    .agenda;
				    .fullwidth;
		    		@media(min-width:768px){
					    width: 25%;
					    padding: 0 @gutter/5 * 3 0 0;
					    .no-margin;
					    .no-border;
		    		}
		    		.form-element{
		    			display:inline-block;
		    			.quantity-label{
		    				vertical-align:top;
		    				display:inline-block;
		    				font-weight:normal;
		    				margin-top:@gutter/5 + 3;
		    				@media (min-width: 1200px){
		    					margin:@gutter/5 + 3 @gutter/5 * 2 0 0;
		    				}
		    				@media (min-width: 768px){
		    					margin:@gutter/5 + 3 @gutter - 5 @gutter/5 * 2 0;
		    				}
		    			}
		    			.quantity-input{
		    				display:inline-block;
		    				.quantity-input-button{
		    					color:@torchRed;
		    					font-size:2.6rem;
		    					&.is-disabled{
		    						color:@iconDisabled;
	   						    	pointer-events: none;
		    					}
		    					span{
		    						margin:@gutter/5 + 3 0 0;
		    						float:left;
		    					}
		    				}
		    				.quantity-input-field{
		    					float:left;
							    vertical-align: middle;
							    -webkit-appearance: textfield;
							    -moz-appearance: textfield;
							    appearance: textfield;
							    border: 1px solid @formInputBorder;
							    font-size: 1.6rem;
							    line-height: 1.6rem;
							    padding: @gutter/2 - 1.5 @gutter/2 - 2.5 @gutter/5 + 3;
							    width: @gutter * 2 + 10;
							    text-align: center;
							    margin: 0 @gutter/2 + 2.5;
		    				}
		    			}
		    			
		    		}
				}
				
				// Price details
				.wishlist-item-details{
					.text-right;
					font-size:1.6rem;
					.agenda;
					.fullwidth;
					position:relative;
					@media(min-width:768px){
						width: 25%;
		    			padding-left: @gutter/5 * 3;
		    		}
		    		.wishlist-item-price{
		    			.is-saleprice{
		    				display:block;
		    			}
		    		}
		    		.wishlist-item-total{
		    			strong{
		    				font-weight:normal;
		    				.agenda-bold;
		    				margin: @gutter/5 * 3 0 0;
		    				display:inline-block;
		    				font-size:1.7rem;
		    			}
		    			.ehf-cost {
		    				margin-top: @gutter - 10;
		    				display: block;
		    			}
		    		}
		    		.wishlist-item-links{
		    			margin:@gutter/2 + 2.5 0 0;
		    			@media(min-width:768px){
		    				position:absolute;
		    				bottom:0;
		    				right:0;
		    			}
		    			a{
		    				color:@link-red;
		    			}
		    			
		    			a + a{
		    				margin:@gutter/2 + 2.5 0 0 @gutter - 5;
		    			}
		    		}
				}
				
			}
		}
	}
	.aeroplan-section-wishlist {
		margin-bottom: @gutter - 5;
		
		.aeroplan-miles-info {
			.agenda;
			text-align: center;
		    background: @white;
		    padding: @gutter + 5 @gutter - 10 @gutter - 10;
		    border: solid 1px @aeroplanBorder;
			@media (min-width: 1200px) {
				padding-left: @gutter * 4;
				padding-right: @gutter * 4;
			}
			@media (min-width: 992px) and (max-width: 1199px) {
				padding-left: @gutter * 3 - 3;
				padding-right: @gutter * 3 - 3;
			}
			@media (min-width: 768px) and (max-width: 991px) {
			    padding-left: @gutter + 15;
				padding-right: @gutter + 15;
			}
			
			&:after {
				@media (min-width: 768px) {
				    height: @gutter + 15;
					background-size: @gutter * 3 + 10 @gutter + 15;
				}
				content: "";
			    display: block;
			    margin-top: @gutter - 10;
			    height: @gutter * 2;
			    background: url(../resources/images/aeroplan.png) no-repeat center center;
			    background-size: @gutter * 4 @gutter * 2;
			}
			.aeroplan-miles-info-lead {
				font-size: 3rem;
				line-height: 1;
				
				.miles {
					.agenda;
					font-size: 4rem;
			    	color: @milesColor;
			    	vertical-align: middle;
					@media (min-width: 768px) {
						font-size: 4.4rem;
					}
				}
			}
		}
	}
	.mz-itemlisting-prompt{
		.fullwidth;
		padding:@gutter/2 + 2.5;
		margin:@gutter/2 + 2.5 0;
		font-size:1.6rem;
		.agenda;
		.actions{
			margin:@gutter/5  0;
			a{
				color:@link-red;
				&:first-child{
					margin-right:@gutter;
					@media (max-width: 767px){
            			display: block;
           				 }
					}
			   }
			}
		}
	//wishlist results
	.wishlist-results-container{
		border-top:1px solid @mercury;
		border-bottom:1px solid @mercury;
		background:@light-grey;
		font-size:1.6rem;
		.agenda;
		.wishlist-result-option{
			padding: @gutter/2 + 2.5 0 @gutter/2 - 2.5;
			@media (min-width: 768px){
				.flex-display(flex);
				-webkit-box-align: center;
			    -webkit-align-items: center;
			    -ms-flex-align: center;
			    align-items: center;
			    padding: @gutter/2 - 2.5 0;
			}
			@media(max-width:767px){
				overflow:hidden;
			}
			.sort-and-filter{
				color:@link-red;
				.agenda-bold;
				font-size:1.6rem;
				span{
					margin: @gutter/5 - 2 0 0;
					float:right;
				}
			}
			.result-options-link{
				line-height: 1.5; 
	    		margin-left: auto;
	    		@media(max-width:767px){
	    			float:left;
	    			margin:0 0 @gutter/2 - 2.5;
	    		}
	    		a{
	    			color:@link-red;
	    			.agenda-bold;
	    			font-size:1.6rem;
	    		}
			}
			.mz-sortby{
				line-height: 1.5;
				a{
					&:hover,&:focus{
				 		text-decoration: none;
				 		span{
				 			text-decoration:underline;
				 		}
					}
				}
				@media (min-width: 992px){
					line-height: @gutter/5 * 8;
				}
				strong{
					.agenda-bold;
					font-weight:normal;
					display:inline;
				}
				.dropdown-menu{
					border-radius:0;
				}
			}
			
			.checkbox-filters{
				.flex-display(flex);
			    .flex-wrap(wrap); 
			    -webkit-box-align: center;
			    -webkit-align-items: center;
			    -ms-flex-align: center;
			    align-items: center;
			    margin-left: @gutter/5 * 8;
			    @media(max-width:767px){
			    	.no-margin;
			    	float:left;
			    	.fullwidth;
			    }
			    .checkbox-wrap{
			    @media (max-width: 767px) {
                        margin-top: @gutter - 22;
                        margin-bottom: @gutter - 22;   
                    }
			    
			    	&:first-child{
			    		margin-right:@gutter/2 - 2.5;
			    	}
			    }
			}
		}
	}
	
	//Wishlist filter
	
	.filters {
	    padding: 50px 0;
	    @media(min-width:768px){
	    	.hidden
	    }
		@media (max-width: 767px) {
		    position: fixed;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    background: white;
		    z-index: 10;
		    padding: 0 @gutter - 10;
		    display: none;
		    -webkit-box-orient: vertical;
		    -webkit-box-direction: normal;
		    -webkit-flex-direction: column;
		    -ms-flex-direction: column;
		    flex-direction: column;
		}
		
		
		&.open {
			display: -webkit-box;     
            display: -moz-box;         
            display: -ms-flexbox;     
            display: -webkit-flex;     
            display:flex;
            z-index: 200;
		}
		
		.filters-menu {
			padding: @gutter - 10;
		    margin: 0 -15px;
		    border-bottom: 1px solid @formInputBorder;
		    
		    @media (min-width: 768px) {
		    	display: none;
		    }
		    
	    	    color: @torchRed;
				line-height: 40px;
		    }
		    
		    .filter-button {
		    	.btn-red();
		    	.btn-medium();
	    	    float: right;
	    	    .agenda-bold;
	    	    .fullwidth;
		    }
		    
		   
		}
		
		.filters-facets{
			-webkit-box-flex: 1;
		    -webkit-flex: 1;
		    -ms-flex: 1;
		    flex: 1;
		    padding: @gutter + 5 @gutter - 10;
		    margin: 0 -15px;
		    overflow: auto;
		    @media (min-width: 768px) {
			    padding: 0;
			    margin: 0;
			}
			&>h3 {
			    .agenda-bold;
			    font-size: 1.8rem;
			    margin: 0 0 @gutter - 8 0;
			    .text-uppercase;
			}
			.filter-list{
				.no-padding;
				.no-margin;
				list-style-type:none;
				li{
					.fullwidth;
					.no-margin;
					float:left;
					.radio {
						margin-top: 0px;
					}
					label{
						font-size:1.6rem;
						.agenda;
						font-weight:normal;
					}
					.radio{
						.radio-label-inside{
							position:relative;
							&:after{
								position: absolute;
    							left: 1.6px;
    							top: 0;
							}
						}
					}
					
				}
			}
		}			
			//End filter code
			
	.print-wishlist-container{
		margin:@gutter - 5 0;
		@media(min-width:768px){
			.text-right;
		}
		a{
			color:@torchRed;
			display:inline-flex;
			&:first-child{
				margin-right:@gutter/2 + 2.5;
			}
			span{
				margin-left:@gutter/2 - 2.5;
			}
			i{
				font-size:2.4rem;
				width:@gutter - 1;
				.text-center;
			}
			&:hover, &:focus, &:active{
				text-decoration:none;
				span{
					text-decoration:underline;
				}
			}
		}
	}
	//Empty wishlist
	.empty-wishlist-container{
		display:none; 
		background:@myaccountNavBg;
		padding-bottom:@gutter * 3;
		.empty-list-content{
			.agenda;
			font-size:1.6rem;
			p{
				margin: 0 0 @gutter/2 - 2.5;
				a{
					color:@torchRed;
					font-size:2.2rem;
					margin: 0 0 0 @gutter/5; 
				}
			}
		}
		
	}
	.print-section{
		display:none;
	}
}
@media print {
	
.mz-wishlist{
	.mz-pagefooter,.recently-viewed-section, .wishlist-header, .wishlist-results-container, .header-container{
		.hidden;
	}
	.print-section{
		display:block !important;
		font-size:1.6rem;
		
	}
	.wishlist-use-container{
		.fullwidth;
		border-bottom:1px solid #979797;
		padding-bottom:@gutter - 20 ; 
		margin-top: -23px; 
	}
	
		.store-detail-cont{
			.fullwidth;
			border-bottom:1px solid #979797;
			padding-bottom:@gutter;
			
			.top-container{
				float:left;
				margin-right:@gutter;
			}
			.store-list{
				padding:0 0 0 @gutter - 5;
				list-style:none;
			}
		}
	
	
	.wishlist-items-container {
		.wishlist-items{
			.wishlist-item{
				padding:@gutter/5 * 4 @gutter/2 + 2.5;
			 	 .wishlist-item-details, .wishlist-item-quantity{
			 	 	.hidden;
			 	}
			 	.product-tile-list{
					 margin-bottom: 0;
				 	 .product-tile{
				 	 	.print-image{
							  display:block;
							  width:@gutter * 5 - 5;
				 	 	}
					 	a.product-tile-image{
				 	 		display:none;
				 	 	}
				 	 	 img{
					 		width:@gutter * 5 - 5 ;
							 clear:right;
							
				 		}
				 	}
			 	}
			}
		}
	}
	.aeroplan-section-wishlist{
		text-align:left;
		.aeroplan-miles-info{
			padding:0;
			text-align:left;
			border:none !important;
			width:100%;
			float:left;
			&:after{
				display:none;
			}
			.aeroplan-miles-info-lead{
				.text-left;
				br{
					.hidden;
				}
			}
		}
	}
}
}