.mz-breadcrumbs {
	padding: 25px 0;
	line-height:normal;
    .mz-breadcrumb-link {
		color: @link-red;
        font-size: 1.6rem;
    }
    .mz-breadcrumb-current {
        color: @link-red;
        font-size: 1.6rem;        
    }
    .mz-breadcrumb-separator {
        display: inline-block;
        font-size: 1.6rem;
        margin: 0 10px;
        color: @separatorColor;
    }
    
    .print-email {
    	text-align: right;
    	.icon-link {
    		text-decoration: none;
		    font-size: 0;
		    color: @torchRed;
		    display: inline-block;
		    &:first-child {
		    	margin-right:  @gutter - 10;
		    }
    		span {
    		    font-size: 1.6rem;
			    display: inline-block;
			    vertical-align: middle;
		        float: left;
		        &.icontext {
		        	margin-top: @gutter - 22;
		        }
    			&.emailicon {
   				    font-size: 2.4rem;
				    text-align: center;
				    margin-right: @gutter - 15;
				    width: 24px;
				    
				    &:before {
				    	.material-icons;
			    	    content: '\E0BE';
				    }
    			}
    			
    			&.printicon {
    				font-size: 2.4rem;
				    text-align: center;
				    margin-right: @gutter - 15;
				    width: 24px;
				     &:before {
				    	.material-icons;
			    	    content: '\E8AD';
				    }
    			}
    		}
    	}
    }
    .socialshare{
    	font-weight: 400;
	    text-align: right;
	    margin-bottom: 1rem;
	    font-size: 1.4rem;
	    text-transform: uppercase;
	    ul {
	    	list-style-type: none;
		    padding: 0;
		    margin: 0;
		    display: inline-block;
		    li {
		    	display: inline-block;
    			margin-right: -1px;
    			a {
    				img {
    					margin-top: -3px;
    					padding-left: 5px;
    				}
    			}
		    }
	    }
	    @media (max-width: 767px) {
			text-align: left;
    		margin-top: 1rem;
		}
    }
}
