.mz-pagefooter {
	.agenda;
    overflow: hidden;
    font-size: 1.6rem;
    .mz-pagefooter-copyright {
        padding: 15px 0;
        text-align: center;
        color: @main-background;
        line-height: 130%;
        a {
            color: @main-background;
        }
    }
    .footerHeader {
    	margin: @gutter / 25 @gutter / 25;
    	.agenda-bold;
    }
	.footer-partial {
		@media (min-width: 768px) {
			padding-top: @gutter - 5;
		}
		border-bottom: solid 1px @border-light;
		.bringHomeTitle {
			font-size: 1.8rem;
			.agenda-bold;
		}
		.eventUpdates {
		    padding-left: 0px;
		    padding-bottom: @gutter + 5;
		    .form-inline{
		    	.flex-display(flex);
		    	label{
		    		.text-indent;
		    		width:0;
		    	}		    	
		    }
	    	.emailFormatError {
	    		display: none;
	    	}
		}
		.sociallinks {
			padding-right: 0px;
			padding-left: @gutter + 5;
			padding-bottom: @gutter + 5;
			ul li:not(:first-child) {
				 margin-left: @gutter - 3;
			}
			.mz-cms-content, ul li {
				padding: 0px;
			} 
			.sociallinksTitle {
				.agenda-bold;
				font-weight: normal;
				font-size:1.8rem;
			}
		}
		.footer-newsletter-email {
			width: 78.23%;
			padding: @gutter - 13;
			margin-right: @gutter - 13;
			font-size: 1.6rem;
		}
		.signup-btn {
			.btn-yellow();
			.btn-small();
			font-size:1.6rem;
			@media(max-width:1024px) and (min-width:768px){
				min-width:@gutter * 4 - 10;
			}
		}
	}
	.demoFooter {
		padding-top:@gutter/5 * 3;
		.footerHeader {
		    font-size: 1.8rem;
		    line-height: 2;
	    }
	    .footerWithIcons .imageHeader {
			margin-left: @gutter - 9;
		}
		.footer-accessibility, .footer-accessibility-for-sm, .footer-accessibility-for-xs {
			.accessibility-heading {
				font-size: 1.8rem;
				.agenda-bold;
			}
			.accessibility-link {
			    display: inline-block;
			    width: @gutter + 59;
			    height: @gutter + 8;
			    background: url(../resources/images/accessibility.png) no-repeat center center;
			    background-size: contain;
			    
			    .download-label {
		    	    position: absolute;
				    width: @gutter - 24;
				    height: @gutter - 24;
				    margin: @gutter - 26;
				    padding: 0;
				    overflow: hidden;
				    clip: rect(0, 0, 0, 0);
				    border: 0;
		    	}
		    }
		}
		.servicesForBusiness {
			margin-bottom: @gutter + 7;
		}
		.footer-list.in, .footer-list.collapsing {
		    display: block !important;
		}
		.footerDiv, .footer1, .footer1 .mz-cms-content  {
			padding-left: 0px;
		}
	}
	
	
	.bottomFooterContainer {
	    .bottomFooterDiv {
	    	background: @footerBg;
	    	padding: @gutter + 7 @gutter/5 * 3;
	    	font-size:1.6rem;
	    }
	    .bottomFooterLinks ul {
	    	li{
	    		.no-padding;
	    	}
	    	li:not(:last-child) {
				margin-right: @gutter - 9;
			}
		}
		
		.bottomFooter {
			float: right;
		}	
		
		.bottomFooter a:hover { 
			text-decoration: none;
		}
		.bottomFooterLinks {
			visibility: visible;
			font-size:1.6rem;
		}
		.bootmFooter1 .mz-cms-content {
			.no-padding;
		}
		.checkoutFooter {
			.mz-cms-row {
				.no-margin;
				.mz-cms-content {
					.no-padding;
				}
			}
		} 
	}
	
	.footerWithIcons, .socialLinks {
		a[class='footerImageLink']:hover {
			text-decoration: none;
		}
	}
	.socialLinks {
		height: @gutter + 5;
	}
	
	.footer5 .mz-cms-content {
		padding-bottom: @gutter + 5;
	}
	
	@media (min-width: 320px) and (max-width: 480px) {
		.demoFooter { 
			.footer-list {
				padding: @gutter - 21 0px @gutter - 13 @gutter - 13 ! important;
			}
			.footer1 .footer-list {
				padding-left: 0px !important;
			}
			.footerWithIcons .imageHeader {
				margin-left: @gutter - 13;
			}
		}
	}
		
	@media (max-width: 767px){
	
		.servicesForBusiness {
			margin-bottom: 0px !important;
		}
		.collapseBtnPlus, .collapseBtnMinus, .footerHeader {
			line-height: 1 !important;
    		margin-bottom: @gutter - 17;
    		cursor: pointer;
		}
		.collapseBtnPlus, .collapseBtnMinus, .collapseBtn {
			width: @gutter - 11.5;
			display: inline-block !important;
		}
		.bottomFooterContainer {
			 font-size: 1.143rem;
			 padding: 0px;
			 .bottomFooterDiv {
		    	margin-left: 5 - @gutter;
    			margin-right: 5 - @gutter;
    			display: flex;
    			align-items: center;
    			padding-left: @gutter - 5;
				.bottomFooterLinks .footer-list{
					margin-left: 0px !important;
					li {
						display: block;
						margin-right: 0px !important;
					}
				}
				.bottomFooter .imageList {
			    	a:nth-child(2) {
			    		display: block;
			    		line-height: 1;
			    	}
			    	.imageHeader {
			    		margin-left: 0px;
			    	}
			    }
			    .bootmFooter1 {
					padding-right: 0px;
			    	.mz-cms-content {
						padding-left: 0px;
						padding-right: 0px;
					}
			    }
			    .bootmFooter2 {
			    	padding-left: 0px;
			    	padding-right: 0px;
			    	.mz-cms-content {
						float: left;
					}
			    } 
		    }
		    .checkoutFooter {
		    	.footer-list {
		    		margin-left: 0px !important;
					li {
						display: block;
						margin-right: 0px !important;
					}
		    	}
		    }
		}
		
		.demoFooter {
			padding: 0px;
			.footerCell {
				padding-left: @gutter - 5;
			}
			.footerDiv, .footer3, .footer4, .footer5, .bootmFooter1 { 
				padding-left: 0px;
			}
			.footer1 {
				padding: @gutter + 5  @gutter - 5;
		    	border-top: solid 1px @header-border;
		    }
		    .footer2 {
		    	padding-top: @gutter - 5;
		    	padding-left: 0px;
		    }
			.footer4 {
				padding-bottom: @gutter + 5;
			}
			.footer1 .mz-cms-content, .footer2 .mz-drop-zone .mz-cms-content, .footer3 .mz-drop-zone .mz-cms-content, .footer4 .mz-drop-zone .mz-cms-content {
				padding: 0px;
			}
			 .footer-list {
		    	padding: @gutter - 21 @gutter - 13 @gutter - 13 @gutter - 13;
		    	font-size: 1.6rem;
		    } 
		}
		
		.footer-partial {
			border-bottom: none; 
			border-top: solid 1px @header-border;
			.eventUpdates {
				border-bottom: solid 1px @header-border;
				padding: @gutter + 5 @gutter - 5;
			}
			.sociallinks {
				border-bottom: solid 1px @silver;
				padding-top: @gutter + 5;
				padding-left: @gutter - 5;
			} 
			.footerPartialText {
				font-size: 1.6rem; 
			}
		}
	   
	    .footerWithIcons .footer-list {
	    	margin-left: 0px !important;
	    	padding-left: 0px;
	    }
	    .footer5, .footer-accessibility-for-sm {
			display : none;
		}
		.footer-accessibility-for-xs {
			margin-left: @gutter - 10 ;
		}
	} 
	
	@media (min-width: 992px) {
		.footerDiv:nth-child(1) {
			display: flex;
			flex-direction: row-reverse;
			.footerCell {
				flex: 2;
			}
			.footer1 {
				flex: 1;
			}
			.footerCell {
				padding-left: 0px;
			}
			.footer2 {
				padding-left: 0px;
				padding-right: 0px;
			}
		}
		.footer-list {
			height: auto; 
		}
		.footer-accessibility-for-sm, .footer-accessibility-for-xs {
			display : none;
		}
	} 
	
	@media (min-width: 768px) and (max-width: 992px) { 
		.footerDiv:nth-child(1) {
			display: flex;
			flex-direction: row-reverse;
			.footerCell {
				flex: 2;
				display: flex;
			}
			.innerFooterCell {
				flex: 2;
				display: flex;
    			flex-direction: column;
			}
			.footer1 {
				flex: 1.4;
				padding-right: 0px;
			}
			.footerCell {
				padding-left: 0px;
			} 
			.footer2 {
				padding-left: 0px;
				padding-right: 0px;
				flex: 2;
			}
			.footer4 .mz-cms-content {
				padding-top: 0px;
			}
		}
		.footer-list {
			height: auto; 
		}
			 
		.bottomFooterContainer {
			width: 750px;
			font-size: 1.143rem;
			 margin: 0 auto;
			.bottomFooter .imageList {
		    	a:nth-child(2) {
		    		display: block;
		    		line-height: 1;
		    	}
		    	.imageHeader {
		    		margin-left: 0px;
		    	}
		    }
		    .bottomFooterLinks ul{
		    	li{
		    		.no-padding;
		    	}
		    	li:not(:last-child) {
					padding-left: 0px;
				}
			}
			.bootmFooter1 {
				.mz-cms-content {
					padding-left: 0px;
					padding-right: 0px;
				}
			}
	    }
	    .footer5, .footer-accessibility-for-xs {
	    	display: none;
	    }
	}
}
.french-content{
	.footer-partial{
		.signup-btn{
			min-width:@gutter * 6; 
		}
		.sociallinks{
		 	ul {
		 		li:not(:first-child){
		 			margin-left:@gutter/5 * 2;
		 		}
			}
		} 
	}
	.footerWithIcons{
		.footer-list{
			.image-list{
				.flex-display(flex);
				.flex-direction(row);
				align-items:center;
				.footer-image-link{
					width:@gutter * 4 + 10;
					margin-right:@gutter/2 - 2.5;
					img{
						width:@gutter * 3 + 5;
						height:@gutter * 2;
					}
				}
				.image-header-wraper{
					line-height:1.1;
					.fullwidth;
					span{
						margin-left:0;
					}
				}
			}
		}
	}
	.bottomFooterContainer{
		.footer-list{
			li{
				@media(max-width:767px){
					.fullwidth;
				}
			}
		}
	}
}