@headerHeight: 154px;
@headerBaseline: 66px;
@searchBoxHeight: 28px;
@utilityNavHeight: @headerBaseline - (@gutter / 2) - @searchBoxHeight;

.mz-pageheader {
    position: relative;
    height: @gutter*3 - 13;
    background: @main-background;
    margin-left: auto;
    margin-right: auto;
	border-bottom: 1px solid @header-border;
	padding:@gutter/2 - 2.5 0 @gutter;
    &.mz-pageheader-hasbanner {
        background: #eee url('{{themeSettings.bannerImage}}') {{ themeSettings.bannerImageRepeat }};
    }
   	.checkout-heading {
		.agenda-bold;
		color: @primary-color;
		text-transform: capitalize;
		font-size: 4rem;
		margin:@gutter/5 - 2 0 0 @gutter/5;
		float:left;
		@media(max-width:767px){
			font-size:2.4rem;
			margin:@gutter/5 0 0;
		}
	}
	.go-back-to-cart {
		.agenda;
		padding-top: @gutter/5 + 1;
		.mz-navright-link {
			vertical-align: middle;
               .fa-list-ol {
                   font-size: 1.5rem;
                   color: @secondary-color;
               }
               .fa-shopping-cart {
                   font-size: 2.4rem;
                   color: @secondary-color;
                   padding-right: @gutter - 17; 
               }
           }
	}
	
    &.mz-pageheader-hasbanner .mz-storebranding {
        text-indent: -9999px;
    }

    .mz-utilitynav {
        float:right;
        margin-top:@gutter - 4;
        .no-padding;
        .mz-utilitynav-list{
        	float:right;
        }
    }

    .mz-searchbox {
        position: absolute;
        top: @utilityNavHeight + ( @gutter / 2 );
        right: @gutter;
    }

    @media only screen {
        @media (max-width: 767px) {
			margin:0 -@gutter/2 - 2.5;
            .mz-storebranding, .mz-searchbox {
                position: relative;
                clear: both;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }

            .mz-searchbox-expands .mz-searchbox-input {
                width: auto;
                &:focus {
                    width: auto;
                }
            }
        }
    }
}
.mz-pageheader.is-search-open {
    @media (max-width: 767px) {
        display: none;
    }
}

.top-header {
    background: @secondary-color;
    color: @main-background;
    font-size: 1.6rem;
    line-height:1;
    .agenda;
    .top-head-wrapper {
        margin: 0 auto;
        padding:@gutter/2 + 0.5 @gutter/2 + 2.5 @gutter/2 - 1.5;
        @media(max-width:991px) and (min-width:768px){
        	padding-bottom:@gutter/5 + 4;
        }
        .mz-cms-content {
        	.no-padding;
        }
        .first-section {
        	padding-left: 0;
        	display: inline-block;
        	.mz-cms-content {
        		padding-left: 0;
        	}
        }
        .second-section {
        	float:right;
        	.no-padding;
        	.mz-cms-content {
        		padding-right: 0;
        	}
        	@media (max-width: 768px) {
        		margin-left: @gutter - 9;
        	}
        	.top-head-text{
        		b{
        			.agenda-bold;
        		}
        	}
        }
        .mz-content-widget-inner-wrap{
        	line-height:1;
        	overflow:hidden;
	        .top-head-link {
	            color: @main-background;
	            font-size: 1.4rem;
	            line-height: 1;
	            padding-right: @gutter/2 + 1.5;
	            float:left;
	        }
        }
        .leftbar {
            border-left: 1px solid @main-background;
            padding-left: @gutter/2 + 1.5;
        }
        .top-head-text {
            float:right;
        }
    }
}
.header-container{
	.checkout-header{
		.no-border;
		height:@gutter * 3 - 3;
		padding:@gutter/2 + 2.5 0 @gutter;
		@media(max-width:767px){
			height:@gutter * 2 + 2;
			padding:@gutter/2 - 2.5 0 @gutter;
		}
		.mz-storebranding{
			@media(max-width:767px){
				width:@gutter + 10;
				height:@gutter + 6.8181818182;
			}
		}
		.mz-navright-link-cart{
			@media(max-width:767px){
				margin-right:@gutter;
			}
		}
	}
}
    
 .checkout-header-container {
   	border-bottom: 1px solid @header-border;
   }
   
   
.go-back-to-cart-modal {
	.agenda;
	@media (max-width: 767px) {
		padding-right: 0; 
	}
	.modal-sm {
		width: 550px; 
		@media (max-width: 767px) {
			width: 300px;
		}
	}
	.modal-dialog {
		margin: @gutter + 5 auto;	
		.modal-content {
			@media (min-width: 768px) {
				padding: 0 @gutter + 5 @gutter + 5;
			}
			@media (max-width: 767px) {
				padding: @gutter - 10 @gutter - 5;
			}
			padding: 0 @gutter - 10;
			.modal-header {
				min-height: @gutter + 5;
			    padding: @gutter - 15 0;
			    border-bottom: none;
			    @media (min-width: 768px) {
			    	padding: @gutter - 10 0;
			    }
			    .modal-title {
			    	.agenda-bold;
			    	font-size: 2.2rem;
				    line-height: 1.2;
				    margin: @gutter - 15 @gutter + 15 @gutter - 20 0;
				    text-align: left;
				    @media (min-width: 768px) {
				    	font-size: 3.4rem;
						margin: @gutter - 10 @gutter * 2 @gutter - 10 0;
				    }
			    }
			    .modal-close {
			    	position: absolute;
				    top: @gutter - 15;
				    right: @gutter - 15;
				    width: @gutter + 11;
				    height: @gutter + 11;
				    text-decoration: none;
				    text-align: center;
				    z-index: 1;
				    @media (min-width: 768px) {
			    	    top: @gutter - 15;
						right: @gutter - 15;
				    }
				    .u-sr-only {
				    	&:before {
				    		.material-icons;
				    		font-size: 3rem;
						    line-height: 1.2;
						    content: "\E14C";
				    	}
				    }
			    }
			}
			.modal-body {
   				text-align: center; 
   				padding: @gutter - 10 0;
   				@media (min-width: 768px) {
				    padding: @gutter + 5 0;
   				}
   				.checkoutLeaveMsg {
   					.agenda-bold;
   					font-size: 2.4rem;
   					@media (max-width: 767px) {
   						margin-bottom: @gutter - 5;
   					}
   				}
   				.changesWillNotSaveTxt {
   					font-size: 1.8rem;
   					@media (max-width: 767px) {
					    margin-right: @gutter - 5;
    					margin-left: @gutter - 5;
   					}
   				}
			}
			.modal-footer {
   				text-align: center;
   				border: none;
   				.cancel-link {
   					.btn-transparent();
   					padding: @gutter - 13 @gutter + 10 @gutter/5*2;
   					margin-right: @gutter - 5;
   					font-weight: normal;
				    text-transform: none;
				    background: transparent;
				    border: 1px solid @torchRed;
				    color: @link-red;
				    display:inline-block;
				    margin-bottom:@gutter/5 * 3;
				    @media (max-width: 767px) {
				    	display: block;
				    	margin-bottom: @gutter - 5;
				    	margin-right: 0;
				    }
   				}
   				.save-card-btn {
   					.btn-red();
   					.btn-small(); 
					@media (max-width: 767px) {
				    	display: block;
				    }
   					.fa-shopping-cart {
	                   padding-right: @gutter - 17; 
	               	}
   				}
   			}
		} /* end of modal-content */
	}
}
.french-content{
	.top-header {
		.first-section, .second-section{
			@media(min-width:768px){
				width:50%; 
				margin-left:0;
			}
		}
	}
}