.mystore-details {
    border-top: 1px solid @header-border;
    border-bottom: 1px solid @header-border;
	margin-top:-@gutter/5 + 4;
	.store-links{
		padding:0 @gutter * 2 + 10;
		overflow:hidden;
		@media(max-width:991px){
			.no-padding;
		}
		.store-detail-cont{
			.no-padding;
		}
	}
    .store-list {
        line-height: 1.2;
        .no-padding;
        .store-list-title{
        	margin-bottom:@gutter/5 - 2;
        }
        .store-list-item {
            list-style: none;
            .agenda;
            font-size: 1.6rem;
        }
        @media (max-width: 1024px) and (min-width: 320px) {
            padding: 0;
            margin-bottom: 0;
        }
    }
    .store-weekday-hours-list{
    	@media(min-width:992px){
			padding-left:@gutter + 2;
		}
		.week-day{
			width:@gutter * 3 + 8;
			float:left;
		}
	}
	.store-weekend-hours-list{
		float:right;
		.week-day{
			width:@gutter * 3;
			float:left;
		}
	}
    .other-details {
        padding: 0 0 @gutter/2 - 0.5;
        .agenda;
        .store-link {
            color: @secondary-color;
            .agenda;
            font-size: 1.6rem; 
        }
    }
    .other-detail-number{
    	margin-top:@gutter/5 * 3;
        .store-tel{
            color:@primary-color;
            text-decoration:none;
        }
    }
    .other-links {
        border-top: solid 1px @border-light;
        padding: @gutter/2 + 0.5 @gutter * 2 + 10;
        float:left;
        .fullwidth;
        margin-top:@gutter/5 - 3;
        @media (max-width: 1024px) and (min-width: 768px) {
            padding: @gutter/2 - 2.5 0;
        }
        @media (max-width: 767px) and (min-width: 320px) {
            padding: @gutter/2 + 0.5 0;
        }
        @media(max-width:417px){
        	padding:@gutter/2 + 0.5 0;
        }
        
        .store-link {
            color: @secondary-color;
            .agenda;
            font-size: 1.6rem;
        }
        .choose-another-store-link{
        	float:left;
        	.no-padding;
       		@media(min-width:768px){
        		margin-right:@gutter + 7;
        	}
        	@media(max-width:417px){
        		.text-left;
        		width:50%;
        	}
        }
        .store-locator-link{
        	.no-padding;
        	@media(max-width:767px) and (min-width:418px){
        		.text-right;
        	}
        	@media(max-width:767px){
        		float:right;
        	}
        	@media(max-width:417px){
        		width:50%;
        		.text-right;
        	}
        }
    }
    .store-link-mobile{
    	border-top: solid 1px @border-light;
    	padding:@gutter/2 + 0.5 0 @gutter/2 - 0.5;
    	margin-top:@gutter/5 * 3 + 3;
    	div{
    		.no-padding;
    	}
    }
}
.is-locked {
	.mystore-details{
		@media(max-width:767px){ 
			padding-bottom:@gutter * 2 + 10;
		}
	}
}
.navbar-inverse {
    border: 0;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    .navbar-collapse {
    	overflow-x: hidden;
        padding: 0;
        line-height: 1;
        border: 0;
        @media (max-width: 767px) {
            background: @secondary-background;
            margin-top: @gutter*2 + 5;
            border-top: solid 1px @header-border;
            height: ~'calc(100vh - 100px)';
        }
    }
}
.navbar-inverse {
    .navbar-toggle {
        border-color: @header-border;
        &:hover, &:focus {
            background-color: @main-background;
            border-radius: 0;
        }
    }
} 
.mz-sitenav {
    @navHeight: 37px;
    background: @main-background;
    min-height: @gutter*2 + 10;
    overflow: visible;
    .clearfix();
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid @header-border;
	.sitenav-container {
		//border-top: 1px solid @header-border;
		@media(min-width:768px){
			height:@gutter/5 * 12 - 1;
		}
	}
    .mz-utilitynav {
        display: none;
    }
    .mz-sitenav-list {
        display: inline-block;
        > .mz-sitenav-item:first-child {
            .dropdown-open{
                padding-left: 0;
            }
        }
    } 

    .mz-sitenav-item {
        z-index: 3; 
        float: left;

        .mz-sitenav-item-inner {
            position: relative;

            .dropdown-open[aria-expanded="false"] {
                &:before {
                    background-image: url(../resources/images/hamburger-lg.svg);
                    content: "";
                    display: block;
                    width: @gutter + 5;
                    height: @gutter - 5;
                    float: left;
                    margin: @gutter/5 - 4 @gutter/2 + 5.5 0 0;
                }
            }
            .dropdown-open[aria-expanded="true"] {
                .agenda-bold;
                &:hover {
                    color: @secondary-color;
                }
                &::before {
                    background-image: url(../resources/images/close.svg);
                    content: "";
                    display: block;
                    width: @gutter - 3;
                    height: @gutter - 3;
                    float: left;
                    margin: 0 @gutter + 1 0 0;
                }
            }
            .menu-link {
                @media (max-width: 767px) {
                    &:before{
                        background-image: url('../resources/images/close.svg');
                        background-size: @gutter - 3 @gutter - 3;
                        background-repeat: no-repeat;
                        background-position: center center;
                    }
                }
            }
        }

        &:hover .mz-sitenav-sub {
            visibility: visible;
            .transition-delay(0s);
        }
    }
    .primary-menu-nav {
    	display: none;
    	position: absolute;
	    background: @white;
	    z-index: 99999;
	    padding-left: 0;
	    padding-right: 0;
	    top: @gutter * 2 + 10;
    	@media (min-width: 768px) {
		    height: auto;
		    border: solid 1px @header-border;
		    border-top-width: 0;
		    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
		    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
	    }
	    
		.primary-menu {
			@media (min-width: 768px) {
			    display: -moz-box !important;
				display: -webkit-box;
			    display: -webkit-flex;
			    display: -ms-flexbox;
			    -webkit-box-orient: horizontal;
			    -webkit-box-direction: normal;
			    -webkit-flex-flow: row nowrap;
			    -ms-flex-flow: row nowrap;
			    flex-flow: row nowrap;
			    -webkit-box-align: stretch;
			    -webkit-align-items: stretch;
			    -ms-flex-align: stretch;
			    align-items: stretch;
			    width: 100%;
		    }
			.primary-menu-tabs {
				width: @gutter * 8;
	    		background: @secondary-background;
	    		@media (max-width: 767px) {
	    			float: left;
	    		}
			}
			.primary-menu-pannel {
				width: 50%;
	    		overflow: auto;
	    		webkit-overflow-scrolling: touch;
				@media (min-width: 768px){
					-webkit-box-flex: 1;
				    -webkit-flex: 1;
				    -ms-flex: 1;
				    flex: 1;
				}
			}
			.our-brands {
				float: left;
			    width: 100%;
			    padding-left: 15px;
			    
			    .our-brand-label {
			    	margin-bottom: 0;
			    	padding-left: 0;
			    }
			    
			    .mz-drop-zone {
			    	float: left;
			    	border-top: solid 1px @header-border;
			    	width: 45%;
			    	
			    	.mz-cms-content {
			    		padding-left: 0;
			    		
			    		.image-list {
		    			    line-height: 2.8;
		    			    
		    			    .image-header-wraper {
	    			    	    font-size: 1.6rem;
		    			    }
			    		}
			    	}
			    }
			}
			.our-brand-mobile{
				.fullwidth;
				float:left;
				overflow:hidden;
			}
		}
	}
    .mz-sitenav-sub {
		margin: 0;
	    padding: 0;
	    list-style: none;
        .mz-sitenav-sublink {
            width: 100%;
            color: @primary-color;
        }
        .mz-sitenav-sublink.selected {
        	.agenda-bold;
            color: @primary-color;
            background: @subnav-background;
        }

        .mz-sitenav-item {
            display: block;
            width: @gutter*8;
            height: 100%;
            .mz-sitenav-link {
                padding: @gutter/2 - 0.5 @gutter/2 + 2.5;
                font-size: 1.6rem;
                text-transform: none;
                margin-top: 0;
                &:hover {
	             	color: @primary-color;
	        		text-decoration: underline;
	             }
            }
            .mz-sitenav-item-inner{
            	.mz-sitenav-link{
            		padding-left: 0;
    				margin-top: @gutter/5;
            	}
            }

            &:hover {
                text-decoration: none;
            }
        }
        .mz-sitenav-item:first-child {
            margin-top: @gutter - 5;
        }
    }
    .featuredCategories {
    	display: inline-block;
    	.mz-sitenav-item {
    		.mz-sitenav-link {
    			&:hover {
    				color: @secondary-color;
    				text-decoration: none;
    			}
    		}
    	}
    }
    .mz-sitenav-sub-sub {
         display: none;
         .subsubsublinks-section {
         	@media (min-width: 992px) {
         		display: -webkit-box;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
         	}
         	@media (min-width: 768px) and (max-width: 992px){
         		column-count: 2;
         	}
         	@media (max-width: 767px) {
         		margin-top: @gutter - 1;
         	}
         	.subsubsublinks-contents {
         		@media (min-width: 992px) {
	          		flex: 1.48;
		           	column-count: 2; 
		           	column-gap: @gutter - 15;
		           	margin-right: @gutter - 13;
         		}
          }
          .featured-content {
          	flex: 0.66;
          	.section-1, .section-2 {
          		@media (min-width: 768px) and (max-width: 992px){
        			float: left;
          		}
          	}
          	.section-1, .section-2 {
          		.mz-cms-content {
          			padding: 0;
          		}
          	}
          	.section-1 {
          		.mz-sitenav-item:last-child{
          			.mz-sitenav-link {
          				color: @primary-color;
          			}
          		} 
          	}
          	.section-2{
          		.expert-advice-tile{
          			.no-border;
          			.no-padding;
          		}
          	}
          }
          .mz-sitenav-section {
			-webkit-column-break-inside: avoid;
			break-inside: avoid;
			page-break-inside: avoid;
			/*width: 100%;
			float: left;*/
          }
          .section-padding {
          	padding-bottom: @gutter - 2; 
          	@media (min-width: 992px) { 
          		overflow: hidden;
          	}
          }
         }
         .mz-sitenav-item {
             color: @primary-color;
             background: @main-background;
             margin-top: 0;
             width: 100%;
             float:none;
             .mz-sitenav-link {
             	 .agenda-bold;
             	 font-size: 1.6rem;
                 text-transform: none;
                 padding: @gutter/2 - 4.5 0;
                 &:hover {
	             	color: @primary-color;
	        		text-decoration: underline;
	             }
             }
         }
     }
     .mz-sitenav-sub-sub-sub {
     	 .mz-sitenav-item {
     	 	.featured-item {
				color: @primary-color !important;
				font-size: 1.6rem !important;
			}
	         .mz-sitenav-link {
	         	.agenda;
	             text-transform: none;
	             font-weight: normal;
	             padding: @gutter/2 - 4.5 0;
	             font-size: 1.6rem;
	             &:hover {
	             	color: @primary-color;
	        		text-decoration: underline;
	             }
	         }
	          .mz-sitenav-link.is-current{
	          	background:none;
	          }
		 }
         .mz-sitenav-item:last-child {
             .mz-sitenav-link {
                 font-size: 1.4rem;
                 color: @secondary-color;
             }
         }
     }
     .mz-sitenav-sub-sub.active {
         padding: @gutter - 5 @gutter + 5;
    	 border: 0;
    	 display: block;
    	 .mz-sitenav-item{
    	 	.mz-sitenav-link.is-current{
            	background:none;
            }
    	 }
         .secondary-menu {
             margin-bottom: @gutter + 7;
             .agenda;
             .secondary-menuheading {
             	 .agenda-bold;
                 font-size: 1.8rem;
                 font-weight: normal;
                 text-transform: uppercase;
                 color: @primary-color;
             }
         }
     }

    .mz-sitenav-link.is-current {
    	.agenda-bold;
        background: @subnav-background;
        color: @primary-color;
    }
    .mz-sitenav-item:hover .mz-sitenav-sub {
        .sitemenu-item {
            .mz-sitenav-link {
                opacity: 1;
                &:active {
                    color: @primary-color;
                    background: @subnav-background;
                    font-weight: bold;
                }
            }
            .mz-sitenav-sub-sub {
                .mz-sitenav-item {
                    font-weight: bold;
                    &:active {
                        background: @main-background; 
                    }
                }
            }
        }
    }

    .mz-sitenav-link {
        color: @primary-color;
        text-decoration: none;
        display: inline-block;
        padding: @gutter/2 + 0.5 @gutter*.75;//@gutter*.325;
        font-size: 1.8rem;
        position: relative;
        .agenda;
        text-transform: uppercase;
        margin-top: @gutter/5;
        line-height: 1.2;
        &:hover {
            color: @secondary-color;
        }
    }
    .mz-sitenav-item-inner{
    	.mz-sitenav-link.dropdown-open{
    		padding-left:0;
    	}
    }

    .mz-navright-list {
        display: inline-block;
        margin-top: @gutter/2 + 4;

        .mz-navright-item {
            float: left;
            text-align: right;
            .agenda;
            &.wishlist-item-link{
            	margin-right:@gutter/2 + 2.5; 
            	@media(max-width:767px){
            		margin-right:@gutter/5 - 1;
            		margin-left:@gutter/2 + 2.5;
            		padding-left:0;
            	}
            	.mz-navright-link{
	            	span{
	            		float:right;
	            		margin-top:@gutter/5 - 4;
	            	}
            	}
            }
            .mz-navright-link {
            	&:hover{
            		text-decoration:none;
            		 span{
            			 color:@torchRed; 
            		 }
            	}
                .wishlist-thumbnail {
                    padding:@gutter/5 - 4 @gutter/5 + 3 0 0;
                }
                .fa-shopping-cart {
                    font-size: 2.2rem;
                    color: @secondary-color;
                    padding-right: @gutter/5 + 1.5; 
                }
                span{
                	margin-top:-@gutter/5 - 2;
                }
                .hf-nopadright{
                    padding-right: 0; 
                }
            }
            &.hf-nomargin-right{
                margin-right:0; 
            }
        }
    }

    @media only screen {
        @media (max-width: 800px) {
            height: auto;
            > .mz-sitenav-list {
                display: block;
            }
            .mz-sitenav-item {
                display: inline-block;
            }
           .mz-sitenav-item-more {
                display: none;
            }
        }
    }
}
.mobilemenutoggle {
    position: absolute;
    top: 0; 
    left: 0;
    z-index:100;
    color: @primary-color;
    .agenda;
    font-size: 1.6rem;
    padding: @gutter/2 + 2.5;
    border: 0;
    border-bottom: 1px solid @header-border;
    width: 100%;
    border-radius: 0;
    margin-top: @gutter/5 - 3;
    &:before {
        background-image: url(../resources/images/hamburger-sm.svg);
        content: "";
        display: block;
        width: @gutter - 3;
        height: @gutter - 3;
        float: left;
        margin: 0 @gutter/5 + 1 0 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    } 
    &:hover {
        color: @secondary-color;
        text-decoration: none;
    }
}
.mobilemenutoggle[aria-expanded="true"]{
   .glyphicon-menu-hamburger{
        color: @secondary-color;
    }
}
.mobilemenuclose[aria-expanded="true"]{
    position: absolute;
    top: -@gutter*3 + 8; 
    left: 0;
    z-index:100;
    color: @primary-color;
    .agenda;
    font-size: 1.6rem;
    padding: @gutter/2 + 2.5;    
    width: 100%;
    background-color: @main-background;
    border: 0;
    border-radius: 0;
}
.mobilemenuclose {
    &:before {
        background-image: url(../resources/images/close.svg);
        content: "";
        display: block;
        width: @gutter - 3;
        height: @gutter - 3;
        float: left;
        margin: 0 @gutter/5 + 1 0 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    } 
    &:hover {
        color: @secondary-color;
        text-decoration: none;
    } 
}
.mobilemenuclose[aria-expanded="false"]{
    position: absolute;
    top: 0; 
    left: 0;
    z-index:100;
    color: @primary-color;
    .agenda;
    font-size: 1.6rem;
    padding: @gutter/2 + 2.5;
    border: 0;
    border-bottom: 1px solid @header-border;
    width: 100%;
    border-radius: 0;
    margin-top: @gutter/5 - 3;
    &:before {
        background-image: url(../resources/images/hamburger-sm.svg);
        content: "";
        display: block;
        width: @gutter - 3;
        height: @gutter - 3;
        float: left;
        margin: 0 @gutter/5 + 1 0 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
}
.overlay {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.7);
    z-index:10;
    height:100vh; 
    width:100%;
    display:none;

}
.mobilemenutoggle[aria-expanded="true"] + nav + .overlay{
    display:block;
}
@media only screen {
   @media (min-width: 768px) {
       .mz-sitenav{
            .navbar-collapse.collapse {
                display: inline-block !important;
                .mz-sitenav-item:hover{
                    .main-nav-link{
                        color: @secondary-color;
                    }
                }
            }
            .primary-menu-nav.container{
            	left:-10%;
            }
       }
   }
    @media (max-width: 992px) and (min-width: 768px) {
    .mz-sitenav{
            min-height: @gutter * 2 - 10;
            > .mz-sitenav-list {
                display: block;
            }
            .mz-sitenav-item {
                display: inline-block;
                .mz-sitenav-link{
                    padding: @gutter/2 @gutter/2 + 3.5;
                    font-size: 1.8rem;
                }
            }
            .mz-sitenav-sub {
                top: @gutter*2 + 8;
            }
            .mz-navright-list {
                margin-top: @gutter/2 + 1.5;
                margin-left: -@gutter*16 + @gutter/2 + 4.5;
            } 
            .featured-content {
            	.section-1 {
            		.mz-sitenav-section {
            			padding-top: @gutter + 7;
            		}
            	}
            }
         }
    }

     @media (max-width: 767px){
     	.is-locked {
     		overflow: hidden;
     		height: 100%;
     	}
        .mz-sitenav{
            border-radius:0;
            position: relative;
            width: 100%;
            min-height: @gutter + 30;
            left: 0;
            top: @gutter/5 - 4;
            z-index: 99;
            height: auto;
            &.fixed-on-search{
            	position:fixed;
            	top:-@gutter/5 + 4;
            }
            &.fixed-on-search + .mz-l-pagecontent{
            	margin-top:@gutter * 2 - 5;
            }
            .mz-sitenav-list{
                display:block;
            }
            .navbar-collapse.in {
                .mz-sitenav-list {
                    .mz-sitenav-item {
                        .mz-sitenav-item-inner {
                            .dropdown-open[aria-expanded="false"]:before {
                                background-image: none;
                                width: 0;
                                height: 0;
                            }
                        }
                    }
                }
            }
            .mobilemenuclose[aria-expanded="true"] + .mz-utilitynav {
                display: block;
                .mz-utilitynav-item {
                    padding: @gutter/2 + 0.5 0;
                    &.register-link{
                    	margin: 0 0 0 @gutter/5 + 2; 
                    }
                    .mz-utilitynav-link {
                    	font-size: 1.6rem;
                    }
                }
                .mz-utilitynav-item:last-child {
                    float: right;
                }
            }
            .navbar-collapse.in + .mz-navright-list {
                top: -@gutter*2 - 11;
            }
            .mz-navright-list {
                top: 0;
                z-index: 100;
                background: transparent;
                position: absolute;
                right: @gutter/2 + 2.5;
                margin-top: @gutter/2 + 1.5;
                @media(max-width:767px){
                	right:0;
                }
                .mz-navright-item {
                    padding-left: @gutter/5;
                } 
            }
            .nav-title{
                font-size: 1.333rem;
                color:@label-color;
                text-transform: uppercase;
                padding:@gutter/2 - 7.5 @gutter/2 + 0.5 ; 
            }
            .is-category-selected {
               	margin-top: 0px;
               	width: 100%;
		    	position: absolute;
		    	z-index: 1;
		    	height: ~'calc(100vh - 60px)'; 
		    	padding: 0;
		    	border: none;
             }
            .mz-sitenav-item{
                width:100%;
                float:left;
                .mz-sitenav-item-inner {
                    .dropdown-open {
                        padding: @gutter/2 + 2.5 0  @gutter/2 + 2.5;
                        border-bottom: 1px solid @header-border;
                        margin-top: 0;
                        text-decoration: none;
    					pointer-events: none;
                        &:before {
                            background-image: none;
                            content: none;
                            margin: 0;
                        }
                    }
                }
                .mz-sitenav-item-more{
                    .clearfix;
                }
                .mz-sitenav-link{
                    width:100%;
                    float:left;
                    font-size: 1.8rem;
                    padding: @gutter - 10;
                    text-transform: none;
                    line-height: 1;
                    margin-top: 0;
                    &:hover{
                        color: @secondary-color;
                    }
                }
                .top-0 {
                	top: 0 !important;
                }
                .mz-sitenav-sub{
                    position:relative;
                    top: 0;
                    float: left;
                    border-radius: 0;
                    width: 100%;
                    border: none;
                    visibility:visible;
                    display: block;
                    padding: 0 @gutter -10; 
                    box-shadow: none;
                    .mz-sitenav-item:first-child {
                        margin-top: 0px;
                    }
                    .mz-sitenav-item{
                        margin-bottom:0;
                        display: block;
                        width: 100%;
                        .mz-sitenav-link{
                            font-size:1.6rem;
                            padding: @gutter/2 - 0.5 @gutter - 10;
                            &:hover{
                                color:@primary-color; 
                                text-decoration: underline;
                            }
                        }
                    }
                    .mz-sitenav-sublink.selected, .mz-sitenav-sublink.is-current {
                    	.agenda;
                        color: #333;
                        background: none;
                    }
                }
                .mz-sitenav-sub-sub.active {
                     display: none;
                     .secondary-menu {
                     	margin-bottom: 0;
                     }
                     .secondary-menuheading {
                     	font-size: 1.8rem;
                     	text-transform:none;
                     	.agenda;
                     }
                     .mz-sitenav-item {
				         .mz-sitenav-link {
				         	font-size: 1.6rem;
				         	.agenda;
				         }
					 }
					 .subsubsublinks-section .section-padding {
					 	padding-bottom: @gutter - 1;
					 }
					 .featured-content {
					 	float: left;
					 	padding-top: @gutter - 1;
    					padding-bottom: @gutter - 1;
    					.expert-advice-tile{
    						.flex-direction(column);
    						margin-bottom:@gutter/5  * 7;
    					}
					 }
                 }
                 .mz-sitenav-sub-sub-sub {
			     	 .mz-sitenav-item {
				         .mz-sitenav-link {
				             font-size: 1.6rem;
				             font-weight: normal;
				         }
					 }
			         .mz-sitenav-item:last-child {
			             .mz-sitenav-link {
			                 font-size: 1.6rem;
			                 color: @secondary-color;
			             }
			         }
			     }
                 .primary-menu-pannel {
                 	display: none;
                 }
                 
                 .primary-menu-nav {
    				display: block; 
    				top: 58px;
    				width: 100%;
    				padding-bottom:@gutter * 4;
    				.primary-menu {
    					width: 200%;
					    height: 100%;
					    left: 0;
					    position: relative;
					    -webkit-transition: left 200ms;
					    transition: left 200ms;
	    				.primary-menu-tabs {
		                 	padding: 0;
		                 	width: 50%;
		                 }
    				}
                 }
                 .featuredCategories {
                 	width: 100%;
                 	background: @main-background;
                 	float: left;
                 	.mz-sitenav-item {
                 		border-top: 1px solid @header-border;
                 	}
                 }
                 .primary-menu-pannel {
                     .transition (left 0.5s ease-in-out);
                 }
                 .is-primary-selected {
                 	left: -100% !important;
                 }
                 
                 .mz-sitenav-sub-sub {
                     .transition (left 0.5s ease-in-out);
                     &.slide-submenu {
                         z-index: 10000;
                         left: @gutter/2 + 2.5;
                         display: block;
                         top: -@gutter*2 - 7;
                         width: 100%;
                         height: auto;
                         padding: @gutter - 9;
                     } 
                     .backtosubcategory {
                         margin-bottom: @gutter + 7;
                         padding-left: 0;
                         .back-link {
                             color: @secondary-color;
                             font-size: 1.6rem;
                             .agenda;
                             i{
                             	float:left;
                             	font-size:1.8rem;
                             }
                             span{
                             	float:left;
                             	margin-top:@gutter/5 - 3;
                             }
                         }
                     }
                 }
            }
        }
     }
}

.mobilemenuclose[aria-expanded="true"] + .mz-utilitynav {
    .mz-utilitynav-item {
        &.register-link{
        	margin:0 @gutter/5 * 3;
        	@media(max-width:400px){
        		margin: 0 0 0 @gutter/5 + 2;
        	} 
        }
    }
}
.french-content{
	.mystore-details .other-links .store-locator-link{
		@media (max-width: 417px){
			.text-left;
		}
	}
}