.brand-spotlight {
	margin-bottom: @gutter + 15;
	background-color: #ffd65c;
    display: table;
    width: 100%;
    height: 100%;
    min-height: 140px; 
	
	.image-wrapper {
		display: table-cell;
	    width: 33.3333333333%;
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-size: cover;
    
		@media (min-width: 768px) {
			width: 50%;
		}
	}
	
	.content {
	    display: table-cell;
	    vertical-align: middle;
	    padding: @gutter - 15 @gutter - 5;
	    font-size: 1.7rem;
	
		img {
		    width: auto;
    		max-width: 100%;
		}
		
		p {
	    	margin: 0 0 @gutter - 15;
		}
		
		a{
		    font-size: 1.8rem;
		   .agenda-bold;
		    color: @torchRed;
		}
	}
}