.footer-list {
    padding: 0px;
    list-style: none;
    margin: 0px;
}

.footer-header {
    font-weight: 700;
    margin: 1px 1px;
    .agenda-bold;
}

.image-header {
    margin-left: 10px;
}

.image-list,
.footer-list {
    line-height: 2;
    > li a {
        color: #333333;
    }
}

.footer-image-link {
    text-decoration: none;
     &:hover{
                text-decoration:none;
            }
             
}

.featured-brands-navigation {
	.agenda;
	.footerHeader {
		font-size: 1.6rem;
		margin: @gutter / 25 @gutter / 25;
		.agenda-bold;
	}
	.footer-list {
		li {
			a {
				color: @primary-color;
			    text-decoration: none;
			    display: inline-block;
			    font-size: 1.8rem;
			    position: relative;
			    margin-top: @gutter / 5;
			    line-height: 1.2;
			    padding: @gutter - 17 0;
			    font-size: 1.6rem;
			}
		}
	}
}


.brand-list {
    text-align: center;

    .image-list {
        max-width: 135px;
        margin: 10px 20px;
        display: inline-block;
        
        .footer-image-link {
            width: 100%;
            
            
            .brand-image {
                width: 100%;
            }
        }

        .image-header-wraper {
            display: none;
        }
    }
}

.static-page {
	.static-navigation-with-content, .static-content-with-image, .contact-us-container {
		.beautitone-tite {
		    margin-top: @gutter;
		}
		.static-navigation-container, .update-mailing-navigation, .unsubscribe-navigation, .contactus-navigation, .home-install-navigation {
			.static-page-navigation-list {
				.footer-list {
					margin: 0;
					li {
					    border-top: 2px solid #fff;
			    		background-color: #d5d5d5;
			    		&.active {
			    			background-color: #717171;
			    			a {
			    				color: #fff;
			    			}
			    		}
			    		a {
			    			padding: 5px 20px;
						    display: block;
						    line-height: 1.2;
			    		}
					}
				}
			}
			.beauti-tone-navigation {
				.beautitone-list {
					margin: 0;
					padding: 0px;
    				list-style: none;
					&>li {
						display: inline-block;
					    font-size: 1.8rem;
					    text-transform: uppercase;
					    background-color: #fff;
					    &:not(:first-child) {
				    	    margin-left: @gutter - 13;
						    padding-left: @gutter - 13;
						    border-left: 1px solid @separatorColor;
					    }
					    a {
					    	padding: 5px 0px;
					    	color: #3f3f3f;
					    	.drop-arrow {
						        vertical-align: text-bottom;
						        font-size: 2.4rem;
						        .material-icons;
						    	&:before {
								    content: "\E313";
						    	}
						    }
					    }
					    .dropdown-menu {
					    	padding: 0;
						    border-radius: 0;
						    border: 1px solid @formInputBorder;
						    font-size: 1.8rem;
					    	li {
						    	a {
						    		padding: @gutter - 15 @gutter - 10;
						    	}
						    }
					    }
					}
				}
				.footer-list {
					margin: 0;
					li {
					    border-top: 2px solid #fff;
			    		background-color: #eb252a;
			    		&.active {
			    			background-color: #545454;
			    			a {
			    				color: #fff;
			    			}
			    		}
			    		a {
			    			padding: 5px 20px;
						    display: block;
						    line-height: 1.2;
						    color: #fff;
			    		}
					}
				}
			}
			.beauti-tone-navigation-select {
	    		position: relative;
	    		select {
					border: 1px solid @formInputBorder;
				    border-radius: 0px;
				    background: @white;
				    padding: @gutter - 15 @gutter + 10 @gutter - 15 @gutter - 15;
			        height: 41px;
				    -webkit-appearance: none;
				    -moz-appearance: none;
				    appearance: none;
				    width: 100%;
	    		}
	    		
	    		select::-ms-expand {
				    display: none;
				}
	    		
	    		&:after {
				    height: 41px;
				    line-height: 41px !important;
				    color: @formInputBorder;
				    .material-icons;
				    content: "\E313";
			        font-size: 3.4rem;
		            position: absolute;
				    bottom: 0;
				    right: @gutter - 15;
				    pointer-events: none;
				}
			}
			.static-page-child-list {
				.footer-list {
					li {
						background-color: #ebebeb;
						a {
							padding-left: 35px;
							font-size: 1.4rem;
						}
					}
				}
			}
			.beauti-tone-subsection-navigation {
				.footer-list {
					li {
						background-color: #717171;
						a {
							padding-left: 35px;
							font-size: 1.4rem;
							color: #fff;
						}
					}
				}
			}
			.beauti-tone-subsubsection-navigation {
				.footer-list {
					li {
						background-color: #717171;
						a {
							padding-left: 45px;
						}
					}
				}
			}
		}
	}
}
