.themed-content-grouping {
	.title {
		.agenda-bold;
		text-align: center;
		margin: 0 0 5px;
		font-size: 2.6rem;
		@media (min-width: 768px) {
		    font-size: 3.4rem;
		    text-align: left;
		    margin: 0 0 @gutter - 15;
		}
	}
	
	.heading {
			text-align: center;
		    
		    @media (min-width: 768px) {
			    display: table;
			    text-align: left;
			    width: 100%;
			}
		
		
		.desc {
			margin: 0 0 @gutter;			
			@media (min-width: 768px) {
		        display: table-cell;
			    vertical-align: middle;
			    width: 70%;
			    margin: 0;
			    padding-right: @gutter + 5;
			}
		}
		
		.button-wrapper {		
			@media (min-width: 768px) {
		        display: table-cell;
			    vertical-align: middle;
			    text-align: right;
			    width: 30%;
			}
			.button {
				.btn-yellow();
		        .btn-small(); 
			}
		}
		
	}
	
	&.make-centered { 
		.title { 
			text-align: center;
		}
		.heading {
			margin: 0 0 @gutter + 5;
			.desc {
				text-align: center;
			}
			.button-wrapper {
				text-align: center;
			}
		}
	}
}