.image-pagination {
	.agenda;
	font-size:1.6rem;
	.section-image-link {
		max-width: 145px;
    	.section-image {
    		.fullwidth;
    	}
	}
	.section-data {
		.title {
			.agenda-bold;
			font-size: 2rem;
			color:@torchRed;
			&:hover, &:focus, &:active{
				text-decoration:none;
				color:@torchRed;
			}
		}
		.desc-text{
			.no-margin;
		}
	}
	.section{
		padding: @gutter/5 * 3;
		min-height:@gutter * 6;
		margin:@gutter/5 * 2 @gutter/5;
		border:1px solid #e1e1e1;
		background:#fdfdfd;
	}
	.more-link {
		.agenda-bold;
		font-size:1.5rem;
		span{
			float:left;
			margin-right:@gutter/5;
		}
		i{
			float:left;
			margin-top:@gutter/5 - 2;
		}
	}
	.page-link {
		padding: 5px 10px;
		font-size: 12px;
	}
	.currentpage {
		display: none;
	}
	.page-active {
		display: block;
	}

}
