.mz-image-slider-container {
	.slick-slider {
		@media (max-width: 767px) {
	        padding: 0;
	    }
		.slick-prev, .slick-next {
			height: @gutter*3 + 5;
    		width: @gutter*2 - 10;
    		z-index: 1;
    		background: @white;
    		top: 35%;
    		@media (max-width: 767px) {
		        height: @gutter*2 + 10;
		        width: @gutter + 5;
		        top: 35%;
		    }
		    @media (min-width: 768px){
		    	top: 30%;
    			background: rgba(238, 238, 238, 0.8);
		    }
    		&:hover, &:focus {
        		background: @gallery;
        	}
		}
		.slick-prev:before, .slick-next:before {
    		.material-icons;
    		font-size:4.4rem;
    		color: @black;
    		.text-center;
    		@media(max-width:767px){
    			font-size:3.4rem;
    		}
		}
		.slick-prev {
		    left: 0;
		    width:@gutter/5 * 8;
		    border-radius: 0 @gutter*2 - 10 @gutter*2 - 10 0;
		    @media (max-width: 767px) {
		        border-radius: 0 @gutter + 5 @gutter + 5 0;
		    }
		    &[dir="rtl"] {
		        left: auto;
		        right: 0;
		    }
		    &:before {
		        content: "\E314";
		        margin-left: -@gutter + 21;
		        &[dir="rtl"] {
		            content: "\E314";
		        }
		    }
		}
		.slick-next {
		    right: 0;
		    border-radius: @gutter*2 - 10 0 0 @gutter*2 - 10;
		    width:@gutter/5 * 7 + 1;
		    &[dir="rtl"] {
		        left: 0;
		        right: auto;
		    }
		    &:before {
		        content: "\E315";
		        &[dir="rtl"] {
		            content: "\E315";
		        }
		    }
		}
		.slick-track {
			&:after {
				display: inline-block;
			}
			background: @white;
			.slick-slide {
				height: 100%;
				img{
					width: 100%;
				}
				.tabImg {
			        position: absolute;
				    width: 25%;
				    right: auto;
			        top: -@gutter*11 - 3;
			        @media (max-width: 1024px) and (min-width: 768px) {
			            top: 0;
			        }
			        @media (max-width: 767px) {
			            top: 0;
			            height: @gutter*12 - 3;
			        }
			    }
			    .slick-initialized & {
			        height: @gutter*14 + 1;
			        position: relative;
			        overflow: hidden;
			    }
			    .promotionalBanner{
			    	position: relative;
			    	z-index: 10;
			    	text-align: center;
			    	background-size: cover;
    				background-position: 50% 50%;
    				background-repeat: no-repeat;
			    	.agenda;
			    	padding: @gutter * 3 + 5 @gutter * 3 @gutter * 4;
    				height: @gutter * 14 + 1;
    				
			    	&:before {
			    		position: absolute;
					    content: "";
					    top: 0;
					    left: 0;
					    width: 100%;
					    height: 100%;
					    z-index: 0;
			    	}
			    	@media (max-width: 1024px) and (min-width: 768px) {
			    		padding: @gutter*3 + 5 @gutter*3 @gutter*4;
			    	}
			    	@media (max-width: 767px) {
			    		padding: @gutter + 11 @gutter/2 + 2.5;
			    	}
			    	
			    }
			    .banner-content {
			    	position: relative;
			    	.banner-title {
			    		.agenda-black;
					    color: @white;
					    font-size: 6.6rem;
					    margin: 0px;
					    @media (max-width: 767px) {
						    font-size: 4.4rem;
						    margin-top: 0;
						    padding: 0 @gutter/2 + 2.5;
						}
					}
					.banner-subtitle {
					    font-size: 2.2rem;
					    color: @white;
					    margin-top: @gutter - 15;
					    margin-bottom: 0px;
					    @media (max-width: 767px) {
						    font-size: 1.7rem;
						    margin-top: 0;
						}
					}
					.banner-button {
						.agenda-bold;
						 margin-top: @gutter;
    					.btn-yellow();
    					.btn-medium(); 
					}
				}
			}
			.bannerimg {
				&:before {
			        position: absolute;
				    content: "";
				    top: 0;
				    left: 0;
				    width: 100%;
				    height: 100%;
			        background: rgba(0, 0, 0, .1);
			        z-index:9;
			    }
			}
		}
	}
	.related-contents {
		background-color: @light-grey;
		position: relative;
    	z-index: 999;
    	.contentColumn {
    		margin-top: 5 - @gutter;
    	}
		.productTile {
			display: block;
    		font-size: 1rem;
    		margin: 0 0 @gutter + 5;
    		
    		.productTile-title-link{
    			color:@primary-color;
    			&:visited, &:hover, &:active, &:focus {
				    color: @primary-color;
				}
    		}
			@media (min-width: 768px){
			    margin-bottom: 5px;
			}
			
			.productTile-image-link {
				display: block;
			    position: relative;
			    margin: 0 0 @gutter - 10;
			    background: @white;
			    
			    .mz-productlisting-imageplaceholder {
			    	display: block;
		    	    background: @slider-arrow-background;
   					line-height: @gutter * 9 + 0.45;
   					text-align: center;
   					height: @gutter * 9 + 0.45;
   					color: @sgilightgray;
			    }
			    
			    .badge {
	   			    .agenda-bold;
				    color: @white;
				    position: absolute;
				    bottom: 0;
				    left: 0;
				    padding: @gutter - 20 @gutter - 15;
				    background: @torchRed;
				    font-size: 1.6rem;
				    border-radius: 0;
	    		}
			}
			
			.productTile-image {
				@media (max-width: 767px) {
					height: 100%;
				}
			}
			 
			.productTile-content {
				.productTile-title {
					font-weight: normal;
    				font-size: 1.6rem;
    				@media (max-width: 767px) {
    					color: @mineShaft;
    				}
    				.add-ellipsis {
						display: block;
						display: -webkit-box;
						-webkit-line-clamp: 2;
					   -webkit-box-orient: vertical;
					   overflow: hidden;
					   text-overflow: ellipsis;
					   height: @gutter + 9; 
					}
				}
				.productTile-price {
					.mz-pricestack {
						font-weight: normal;
						font-size: 1.7rem;
						margin: 0;
				        .mz-price {
			                .agenda-bold;
			                font-size: 1.7rem;
				        	margin: 0;
				        	.selling-unit{
				        		font-size: 1.2rem;
				        	} 
				        }
					}
					.saved-price{
		    			margin:0 0 @gutter/5 + 5;
		    			font-size:1.2rem;;
		    			span:first-child{
		    				.agenda-bold;
		    			}
		    		}
					.product-not-available{
						.agenda-bold;
		    			margin:0;
		    			font-size:1.5rem;
		    			margin : @gutter/5 0 0 0;
					}
				}
				.product-code{
					font-size: 1.6rem;
    				margin: 0;
				}
			}
		} 
	}   
}
.mz-image-slider-container{
	&.beauti-tone{
		.slick-slider {
			.slick-track {
				.slick-slide{
					 .promotionalBanner{
					 	@media(min-width:1129px){
					 		height:@gutter * 17 + 1; 
					 	}
					 	@media(max-width:1128px) and (min-width:992px) {
					 		height:@gutter * 15 + 13; 
					 	}		
					 	@media(max-width:991px) and (min-width:768px){
					 		height:@gutter * 15 + 10;		
					 	}
					 	@media(max-width:767px){
					 		margin-bottom:@gutter/5 * 3;
					 	}
					 }
				}
			} 
		}
	} 
}
#mz-drop-zone-static-images-block{
	.mz-cms-image-maintain{
		@media(max-width:767px){
			margin-bottom:@gutter/5 * 3;
		}
	}	
}
