.mz-link-sublink-widget-wrap{
	.agenda;
	font-size:1.6rem;
	.sublink-panel{
		padding:@gutter * 2 @gutter/5 * 3;
		.sublink-title{
			color:@torchRed;
		}
		p{
			.no-margin;
		}
		.sublink-subtitle{
			.agenda-bold;
		}
	}
}