.popular-category-wraper {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
	@media (min-width: 768px){
		.flex-display();
	    margin: 0 -15px;
	    overflow: initial;
	}
	.category-tile {
	    white-space: normal;
	    display: inline-block;
	    width: ~'calc(60% + 30px)';
	    min-width: 220px;
	    max-width: 290px;
	    padding: 0 @gutter - 15;
	    margin: 0;
	    font-size: 1.6rem;
		@media (min-width: 768px) {
			-webkit-box-flex: 1;
		    -webkit-flex: 1;
		    -ms-flex: 1;
		    flex: 1;
		    width: auto;
		    min-width: 0px;
		    max-width: none;
		    padding: 0 @gutter - 10;
		}
		&>a{
		    display: block;
		    position: relative;
		    margin: 0 0 @gutter - 15;
		    img {
	    	    display: block;
    			width: 100%;
		    }
		}
		.content {
			a {
				font-size: 1.8rem;
			    .agenda-bold;
			    margin: 0;
			}
		}
	}
}