.promotional-product{
	.agenda;
    padding: @gutter - 5 @gutter - 10;
    
    .button {
         .btn-yellow();
         .btn-medium();          
      }  
    .promotional-feature-content{
    	
    	.promotional-product-feature-title{
    		.agenda-bold;
    		font-size: 2.6rem;
    		margin: 0 0 @gutter - 15;
    			
    		@media (min-width: 992px){
    			font-size: 3.4rem;
   				 margin: 0 0 @gutter - 5;
    		}
		}
		.promotional-product-feature-description{
			margin: 0 0 @gutter - 5;
			
			@media (min-width: 992px){
				margin: 0 0 @gutter * 2;
			}
		}
    	    
    	@media (min-width: 992px){
    		width: 55%;
    		padding-right: @gutter - 5;
    		align-self: center;
    	}
    }
    .promotional-feature-product{
    	display: -webkit-box;     
        display: -moz-box;         
        display: -ms-flexbox;     
        display: -webkit-flex;     
        display:flex;
    	
    	.promotional-feature-product-content{
    		width: 64%;
    		padding-right: @gutter - 5;
    		
    		.promotional-product-details{
    			padding-top: @gutter - 10;
    			margin-top: @gutter - 10;
    			border-top: 1px solid @white;
    			
    			.promotional-product-image{
    				display: block;
    				position: relative;
    				margin: 0 0 @gutter - 10;
    				
    				.product-image{
    					width:100%;
    					display:block;
    				}
    				
    			}
    			.promotional-product-sub-details{
    			
    			   .promotional-product-title{
    			   		color: @white;
    			   }
    			   .promotional-product-price{
    			   		font-size: 1.7rem;
    					margin: @gutter - 15 0 0;
    			   		.agenda-bold;
                        .mz-pricestack{
                            color: @black;
                            margin: 0 0 @gutter - 15;
                            .mz-price{
                              color: @white;  
                            }
                            .is-crossedout{
                                color: @black;
                            }
                            .mz-pricestack-price-lower{
                                &:after{
                                    color:@white;
                                }
                            }
                        }
                        .product-available{
                            color:@white;
                            margin:0;
                            &:before{
                                display:none;
                            }
                        }  
                        .product-not-available{
                            color:@white;
                            margin:0;
                            &:before{
                                display:none;
                            } 
                        } 
    			   }
    			}
    			@media (min-width: 768px){
    				margin-bottom: @gutter * 2;
    			}
    			@media (min-width: 992px){
    				padding-top: 0px;
    				margin-top: 0px;
    				border-top: none;
    			}
    		}
    		.button{
    			@media (min-width: 992px){
    				display: none;
    			}
    		}
    		@media (min-width: 992px){
    			padding-right: 0;
    			width: 100%;
    		}
    	}
		.promotional-feature-product-mobile-image{
    		width: 36%;
    		.product-image{
    			width:100%;
    			display:block;
    		}
    		@media (min-width: 992px){
    			display: none;
    		}
    	}
		@media (min-width: 992px){
			width: 45%;
    		padding-left: @gutter - 5;
    		border-left: 1px solid @white;
		}
    	
    }
    @media (min-width: 992px){
    	display: -webkit-box;     
        display: -moz-box;         
        display: -ms-flexbox;     
        display: -webkit-flex;     
        display:flex;
    	padding: @gutter - 5 @gutter + 10;
    }
}