.recommended-product-container{
	.rti-recommended-products-title{
		.agenda-bold;
		font-size:2.2rem;
		
		@media (min-width: 768px) {
			font-size: 3.4rem;
		}
	}
	.rti-recommended-products{
		.mz-productlist{
			padding-top:0;
			@media(min-width:768px){
				flex-direction:row;
			}
			.mz-productlisting{
				@media(min-width:768px){
					-webkit-box-flex: 1;
				    -webkit-flex: 1;
				    -ms-flex: 1;
				    flex: 1;
				    max-width:@gutter * 12 - 10;
			    }
			    @media(max-width:767px){
			    	width:50%;
			    	display:flex;
			    	flex-direction:column;
			    	flex:none;
			    	coloumn-count:1;
			    }
			    .mz-productlisting-image{
			    	.fullwidth;
			    	margin: 0 0 @gutter/2 + 2.5;
			    	.quickview{
			    		.hidden;
			    	}
			    }
			    .product-details{
			    	.business-messages{
			    		.hidden; 
			    	}
				}
				.mz-productlisting-info{
					.product-info{
						.mz-productlisting-title{
							display: block;
							margin: 0 0 @gutter - 17;
						}
						.product-code{
							font-size: 1.6rem;
							margin: 0 0 @gutter/5;
						}
						.brand-name{
							.agenda-bold;
							margin: 0 0 15px;
							line-height: 1;
						}
					}
					.priceSection{
						.mz-pricestack{
							margin: 0 0 @gutter/5;
						}
					}
					.prod-promotion{
						.saved-price{
							margin:0 0 @gutter - 15;
							span:first-child{
								.agenda-bold;
							}
						}
					}
				}
			}
		}
	}
}
.grid-display {
    div.mz-productlisting {
        float: left;
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 15px 30px;
        margin:0;
        .mz-subcategory-image-div{
        	border: 1px solid #ccc;
		    padding: @gutter/5 * 2 0;
		    margin-bottom: @gutter/5 * 2;
		    position:relative;
        	a{
        		display:block;
        		text-align: center;
        		img{
        			.fullwidth;
        			padding:@gutter/5 * 2;
        			min-height:@gutter * 8;
        		}
        	}
        	.sale-tag-icon{
        		position: absolute;
        		left: 0;
			    top:auto;
			    bottom: 0;
			    .agenda-bold;
			    line-height:1;
			    font-size:1.6rem;
        	}
        }
        @media screen and (min-width: 768px) {
            width: 50%;
            &:nth-child(2n+1) {
                clear: left;
            }
        }
        @media screen and (min-width: 992px) {
            width: 25%;
            &:nth-child(2n+1) {
                clear: none;
            }
            &:nth-child(4n+1) {
                clear: left;
            }
        }
    } 
}