.mz-image-slider-container {
	.agenda;
	.slick-slider.tabslider {
		height: 411px;
		@media (max-width: 767px) {
	        padding: 0;
	    }
		.slick-dots {
			position: absolute;
		    list-style: none;
		    display: block;
		    padding: 0;
		    margin: 0;
		    width: 100%;
		    bottom: auto;
		    background-color: #ebebeb;
			height: 60px;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		    li {
		    	position: relative;
			    display: inline;
			    height: 60px;
			    width: auto;
			    margin: 0 @gutter - 20;
			    padding: 0;
			    cursor: pointer;
		    	a {
		    		span {
		    			display: block;
				    	float: left;
						margin-left: @gutter - 10;
						width: 200px;
						padding: 10px;
						border-bottom-left-radius: 5px;
						-moz-border-radius-bottomleft: 5px;
						-webkit-border-bottom-left-radius: 5px;
						border-bottom-right-radius: 5px;
						-moz-border-radius-bottomright: 5px;
						-webkit-border-bottom-right-radius: 5px;
						font-size: 1.4rem;
						font-weight: bold;
						text-decoration: none;
						color: #717171;
						line-height: 1.1;
						@media (max-width: 767px) {
				    		width: auto;
				    	}
		    		}
		    	}
		    }
		    li.slick-active:first-child {
		    	a {
		    		span {
		    			background-color: @tabred;
						color: white;
		    		}
		    	}
		    }
		    li.slick-active:nth-child(2) {
		    	a {
		    		span {
		    			background-color: @tabYellow;
						color: white;
		    		}
		    	}
		    }
		    li.slick-active:nth-child(3) {
		    	a {
		    		span {
		    			background-color: @tabGreen;
						color: white;
		    		}
		    	}
		    }
		    li.slick-active:nth-child(4) {
		    	a {
		    		span {
		    			background-color: @tabBlue;
						color: white;
		    		}
		    	}
		    }
		}
		.slick-track {
			.slick-slide {
				height: 100%;
				img{
					width: 100%;
				}
			    .promotionalBanner{
			    	position: relative;
			    	z-index: 10;
			    	text-align: center;
			    	background-size: cover;
    				background-position: 50% 50%;
    				background-repeat: no-repeat;
			    	.agenda;
			    	padding: @gutter * 3 + 5 @gutter * 3 @gutter * 4;
    				height: @gutter * 14 + 1;
    				
			    	&:before {
			    		position: absolute;
					    content: "";
					    top: 0;
					    left: 0;
					    width: 100%;
					    height: 100%;
					    z-index: 0;
			    	}
			    	@media (max-width: 1024px) and (min-width: 768px) {
			    		padding: @gutter*3 + 5 @gutter*3 @gutter*4;
			    	}
			    	@media (max-width: 767px) {
			    		padding: @gutter + 11 @gutter/2 + 2.5;
			    	}
			    	
			    }
			}
		}
	}
}
