.mz-cart {
	.agenda;
	.mz-l-pagecontent {
		padding: 0;
		
		.cart-page-container {
			margin-bottom: @gutter + 15;
			.cart-header {
				background: @light-grey;
				border-bottom: 1px solid @border-light;
    			padding: @gutter + 15 0 @gutter + 5;
    			font-size: 1.7rem;
    			
    			.empty-cart {
    				text-align: center;
    				.cart-header-title {
    					font-size: 3.1rem;
    					margin: 0;
    				}
    				.empty-cart-msg {
    					margin-bottom: @gutter + 15;
    				}
    			}
    			.cart-header-title {
    				.agenda-bold;
   					font-size: 3.4rem;
   					margin: 0 0 @gutter - 5;
   					@media (min-width: 768px) {
   						margin: 0 0 @gutter + 10;
   					}
    			}
    			.ship-to-store-txt {
    				.agenda-bold;
    				margin: 0 0 @gutter - 15;
    			}
    			.shipping-info {
    				margin: 0 0 @gutter - 15;
   				    margin-bottom: @gutter + 5;
   				    strong{
   				    	.agenda-bold;
   				    }
    			}
    			.cart-header-links{
    				margin: 0;
				    padding: 0;
				    list-style: none;
				    font-size: 0;
				    
				    .support-link-list {
				    	display: inline-block;
				    	font-size: 1.6rem;
				    	
				    	.support-link {
				    		color: @link-red;
				    	}
				    }
				    .support-link-list + .support-link-list {
				    	margin-left: @gutter - 10;
					    padding-left: @gutter - 10;
					    border-left: 1px solid @primary-color;
				    }
    			}
    			.cart-checkout {
    				text-align: center;
    				margin: 0 0 @gutter - 5;
    				@media (min-width: 768px) {
    					display: -webkit-box;
					    display: -webkit-flex;
					    display: -ms-flexbox;
					    display: flex;
					    text-align: left;
    				}
    				.cart-total {
    					.agenda-bold;
    					margin: 0 0 @gutter - 10;
    					@media (min-width: 768px) {
   						    padding-right:0;
   							margin: 0;
   							width: 52%;
    					}
    					.cart-total-amount {
    						font-size: 2.2rem;
    					}
    				}
    				.cart-checkout-action {
    					text-align: center;
    					@media (min-width: 768px) {
    						width: 50%;
    						padding-left: @gutter - 10;
    					}
    					.cart-checkout-btn {
    						.btn-red();
    						@media (min-width: 768px) {
    							.btn-large();
    						}
    						@media (max-width: 767px) {
    							.btn-medium();
    						}
    					}
    					.cart-continue-shopping-link {
    						color: @secondary-color;
    						margin-top: @gutter - 15;
    						display: block;
    					}
    				}
    				.is-loading {
    					pointer-events: none;
    				}
    			}
    			.pickup-store {
    				.agenda-bold;
    				margin-bottom: @gutter - 15;
    			}
    			.store-address{
    				margin:0;
    			}
			} /* end cart-header */
			.cart-table-container {
				margin-bottom: @gutter + 15;
			}
			.cart-items {
				padding: 0;
    			list-style: none;
    			margin: 0 -@gutter + 10;
    			
    			/* .ehfProduct {
    				display: none;
    			} */
    			.cart-item {
    				padding: @gutter + 10 @gutter - 10;
    				border-bottom: 1px solid @storeResultBorder;
    				
    				@media (min-width: 768px) {
    					display: -webkit-box;
					    display: -webkit-flex;
					    display: -ms-flexbox;
					    display: flex;
					    -webkit-flex-wrap: wrap;
					    -ms-flex-wrap: wrap;
					    flex-wrap: wrap;
					    -webkit-box-orient: horizontal;
					    -webkit-box-direction: normal;
					    -webkit-flex-direction: row;
					    -ms-flex-direction: row;
					    flex-direction: row;
				        border-color: @border-light;
    				}
    				.cart-item-product {
   					    margin: 0 0 @gutter;
   					    @media (min-width: 768px) {
   					    	width: 50%;
						    margin: 0;
						    padding-right: @gutter + 5;
   					    }
   					    .product-tile {
   					    	padding: 0;
   					    	display: table;
						    font-size: 1.6rem;
						    margin: 0 0 @gutter + 5;
						    width: 100%;
						    .product-tile-image {
					    	    display: table-cell;
    							vertical-align: top;
							    position: relative;
							    margin: 0 0 @gutter - 10;
							    padding: 0;
							    @media (min-width: 768px) {
							    	width: 50% !important;
    								padding: 0 @gutter - 10 0 0 !important;
							    }
							    @media (max-width: 767px) {
							    	max-width: @gutter * 5 + 5;
							    }
							    .product-image {
							    	display: block;
							    	width: 100%;
							    }
							    .no-image {
							    	display: block;
							    	width: 100%;
							    }
						    }
						    .product-tile-content {
						    	display: table-cell;
    							vertical-align: top;
    							width: ~'calc(100% - 130px)';
    							padding-left: @gutter - 10;
    							@media (min-width: 768px) {
   								    width: 50% !important;
   									padding: 0 0 0 @gutter - 10 !important;
    							}
    							.product-tile-title {
    								font-weight: normal;
    								font-size: 1.6rem;
    								a{
    									color:@primary-color;
    									&:visited,&:hover{
    										color:@primary-color;
    									}
    								}
    							}
    							.product-code{
    								font-size:1.6rem;
    								margin:0 0 @gutter/5;
    							}
    							.product-tile-brand {
    								.agenda-bold;
    								margin: @gutter - 15 0 0;
    							}
    							.product-options {
    								margin: @gutter - 15 0 0;
    								.selected-product-option {
	    								margin-bottom: @gutter - 15;
	    								position: relative;
							    		width: @gutter + 11;
							    		height: @gutter + 11;
							    		border: 1px solid @torchRed;
	    								&:after{
							    			content: " ";
										    position: absolute;
										    top: @gutter + 9;
										    left: @gutter - 13;
										    width: 0;
										    height: 0;
										    z-index: 1;
										    border-left: 5px solid transparent;
										    border-right: 5px solid transparent;
										    border-top: 5px solid @torchRed;	
							    		}
	    								.color-option-label {
	    									width: @gutter + 9;
										    height: @gutter + 9;
										    margin: 0;
										    cursor: pointer;
										    position: absolute;
										    top: 0;
										    left: 0;
										    border: @gutter - 19 solid @white;
	    								}
	    							}
	    							.option-value {
	    								font-size: 1.5rem;
	    							}
    							}
						    }
   					    }
    				} /* end cart-item-product */
    				.cart-item-quantity {
    					text-align: right;
					    padding: @gutter - 10 0;
					    margin: 0 0 @gutter - 10;
					    border-top: 1px solid @border-light;
					    border-bottom: 1px solid @border-light;
					    @media (min-width: 768px) {
					    	text-align: left;
						    width: 25%;
						    padding: 0 @gutter - 10 0 0;
						    margin: 0;
						    border-width: 0;
					    }
					    .form-element {
					    	.quantity-label {
				    		    display: inline-block;
				    		    vertical-align: middle;
    							margin: 0 10px 0 0;
    							font-weight: normal;
    							@media (min-width: 768px) {
   								    margin: 0 @gutter - 5 @gutter - 15 0;
    							}
    							@media (min-width: 1200px) {
   								    margin: 0 @gutter - 15 0 0;
 								}
					    	}
					    	.quantity-input {
					    		display: inline-block;
					    		/* To remove up/down arrows from number input field */
					    		input[type=number]::-webkit-inner-spin-button, 
								input[type=number]::-webkit-outer-spin-button { 
								    -webkit-appearance: none;
								    -moz-appearance: none;
								    appearance: none;
								    margin: 0; 
								}
					    		.quantity-input-button {
					    			display: inline-block;
    								color: @secondary-color;
					    		}
					    		.quantity-input-button.is-disabled {
					    			cursor: default;
					    			color: @iconDisabled;
					    			pointer-events: none;
					    		}
					    		.qty-increment, .qty-decrement {
					    			font-size: 2.6rem;
					    			vertical-align: middle;
					    		}
					    		.quantity-input-field {
					    			display: inline-block;
								    vertical-align: middle;
								    -webkit-appearance: textfield;
								    -moz-appearance: textfield;
								    appearance: textfield;
								    border: 1px solid @formInputBorder;
								    font-size: 1.6rem;
								    line-height: 1.6rem;
								    padding: @gutter - 14 @gutter - 15 @gutter - 17;
								    width: @gutter * 2 + 10;
								    text-align: center;
								    margin: 0 @gutter - 10;
					    		}
					    	}
					    }
    				}
    				.cart-item-details-bottom{
    					display:none;
    				}
    				.cart-item-details {
    					display: -webkit-box;
					    display: -webkit-flex;
					    display: -ms-flexbox;
					    display: flex;
					    -webkit-box-orient: vertical;
					    -webkit-box-direction: normal;
					    -webkit-flex-direction: column;
					    -ms-flex-direction: column;
					    flex-direction: column;
					    text-align: right;
					    @media (min-width: 768px) {
					    	width: 25%;
    						padding-left: @gutter - 10;
					    }
					    .cart-item-price {
					    	.unit-price {
					    		.agenda-bold;
    							font-size: 1.7rem;
					    	}
					    }
					    .ehf-cost {
					    	margin-top: @gutter - 10;
					    }
					    .cart-item-total {
				    	    margin: 0 0 @gutter - 10;
    						font-size: 1.7rem;
    						.agenda-bold; 
    						 .final-total {
                               		display: inline-block;
                                	margin: @gutter - 10 0 0;
                                	font-weight:normal;
                               }
                               .mz-item-discount {
                               		font-size: 1.6rem;
                             }
					    }
					    .cart-item-links {
					    	margin-top: auto;
					    	.shopping-list-link {
					    		display: inline-block;
    							color: @link-red;
					    	}
					    	.remove-item-link {
					    		display: inline-block;
    							color: @link-red;
    							margin: @gutter - 15 0 0 @gutter - 5;
					    	}
					    }
    				}
    				.cart-item-msg {
   					    margin: 0;
   					    .removed-item-name {
   					    	color: @secondary-color;
   					    }
    				}
    			}
			}
		} /* end cart-page-container*/
		.order-summary-container {
			.mz-cms-content {
				padding: 0;
			}
			.aeroplan-section-cart {
				margin-bottom: @gutter - 5;
				
				.aeroplan-miles-info {
					.agenda;
					text-align: center;
				    background: @white;
				    padding: @gutter + 5 @gutter - 10 @gutter - 10;
				    border: solid 1px @aeroplanBorder;
					@media (min-width: 1200px) {
						padding-left: @gutter * 4;
    					padding-right: @gutter * 4;
					}
					@media (min-width: 992px) and (max-width: 1199px) {
						padding-left: @gutter * 3 - 3;
    					padding-right: @gutter * 3 - 3;
					}
					@media (min-width: 768px) and (max-width: 991px) {
					    padding-left: @gutter + 15;
    					padding-right: @gutter + 15;
					}
					
					&:after {
						@media (min-width: 768px) {
						    height: @gutter + 15;
   							background-size: @gutter * 3 + 10 @gutter + 15;
						}
						content: "";
					    display: block;
					    margin-top: @gutter - 10;
					    height: @gutter * 2;
					    background: url(../resources/images/aeroplan.png) no-repeat center center;
					    background-size: @gutter * 4 @gutter * 2;
					}
					.aeroplan-miles-info-lead {
						font-size: 3rem;
    					line-height: 1;
    					
    					.miles {
    						/* font-weight: 400; */
    						.agenda;
    						font-size: 4rem;
						    color: @milesColor;
						    vertical-align: middle;
    						@media (min-width: 768px) {
    							font-size: 4.4rem;
    						}
    					}
					}
				}
			}
			.mz-carttable-checkout-couponcode {
				.coupon-code-heading {
					.agenda-bold;
					margin: 0 0 @gutter - 16;
				    line-height: 1.1;
				    font-size: 1.8rem;
				}
				.form-element {
					margin-bottom: @gutter - 5;
					.promo-code-input {
						width: 100%;
					    border: 1px solid @formInputBorder;
					    font-size: 1.6rem;
					    line-height: 1.6rem;
					    padding: @gutter - 14 @gutter - 10 @gutter - 17;
					}
					.invalid-coupon {
						font-size: 1.4rem;
						color: @link-red;
					}
					.invalid-coupon-border {
						border: 2px solid @link-red;
					}
				}
				.coupon-apply-btn {
					 margin-bottom: @gutter - 5;
					.btn-yellow();
					.btn-large();
					@media(min-width:768px){
						width:@gutter * 5 - 10;
					}
				}
				.discount-desc {
					.remove-coupon {
						color: @link-red;
						margin-left: @gutter - 10;
						&:hover {
							cursor: pointer;
						}
					}
				}
			}
			.order-summary-section {
				.order-summary-details {
					margin-bottom: @gutter - 5;
				}
				.cart-checkout-action {
					.cart-checkout-btn {
						.btn-red();
						.btn-large();
					}
				}
				.is-loading {
   					pointer-events: none;
   				}
				.tax-info {
					margin-top: @gutter - 15;
					margin-bottom: @gutter - 15;
				}
			}
			
		}
		.cart-page-text{
			@media (max-width: 767px) {
				.flex-direction(column);
				.flex-display(flex);
			}
		}

		.cart-page-order-text{
			order:2;
		}
		
		.block-bottom-margin{
		       @media (max-width: 767px) {
		    margin-bottom: @gutter - 15;
			}
		}
		
		
			
	} /* end mz-l-pagecontent*/
	.content-loading{
		width: 100%;
	    height: 100%;
	    position: absolute;
	    display: none;
	    z-index: 99;
	    text-align: center;
	    top: 0;
	    left: 0;
	    .loading-image{
	    	position: absolute;
		    left: 45%;
		    top: 10%;
		    height: 160px;
		    width: 150px;
		    @media(min-width:768px){
		    	left:40%;
		    	top:5%;
		    }
	    }
	}
	&.french-content{
		.order-summary-container{
			.mz-carttable-checkout-couponcode{
				.form-element + div{
					@media(min-width:768px){
						padding-left:0;
					}
				}
			}
		} 
		.mz-l-pagecontent{
			.cart-page-container{
				position: relative;
				.cart-items{
					.cart-item{
						.cart-item-details-bottom{
							.fullwidth;
							.text-right;
							@media(min-width:768px){
								display:block;
							}
							@media(min-width:768px) and (max-width:1024px){
								margin-top:-@gutter * 2 - 10;
							}
							.cart-item-links{
								@media(min-width:768px) and (max-width:1024px){
									.flex-display(flex);
									flex-direction:column;
								}
								.shopping-list-link {
						    		display: inline-block;
	    							color: @link-red;
						    	}
						    	.remove-item-link {
						    		display: inline-block;
	    							color: @link-red;
	    							margin: @gutter - 15 0 0 @gutter - 5;
									@media(max-width:767px){
										margin:@gutter/2 - 2.5 0 0 @gutter/2 - 2.5;
									}
								}
							}
						}
						.cart-item-details{
							.cart-item-links{
								display:none;
								@media(max-width:767px){
									display:block;
									.remove-item-link {
										margin:@gutter/2 - 2.5 0 0 @gutter/2 - 2.5;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
