.mz-cartmonitor {
	font-size: 1.6rem;
	color: @primary-color;
	.agenda;
	display: inline-block;
    margin-top: -@gutter + 17;
    vertical-align: middle;
}
.cartmonitor-bracket {
	display: inline-block;
    margin-top: -@gutter + 17;
    vertical-align: middle;
}