.mz-searchbox {
    @expandedSearchWidth: 320px;
    .mz-searchbox-field {
        display: inline-block;
        position: relative;
        background: white;
        height:@gutter * 2 - 12;
        #search-form { 
            display: none; 
            margin-top: -@gutter/2 + 5.5;

            .input-group {
                line-height: 0.4;
                .form-control {
                    padding: @gutter/5 - 3 @gutter/5 + 1;
                    border-left: none;
                    box-shadow: none;
                    border-color: @searchbox-border;
                    width: @gutter * 16 - 1;
                }

                .input-group-addon {
                    padding: 0px @gutter/2 + 1.5;
                    font-weight: normal;
                    line-height: 0;
                    color: @secondary-color;
                    text-align: center;
                    background-color: @main-background;
                    border: 1px solid @searchbox-border;
                    border-radius: @gutter/5 - 2 0 0 @gutter/5 - 2;
                    border-right: 0;

                    .fa-search {
                        font-size: 1.5rem;
                    }
                }
            }
        }

        .glyphicon-search {
            font-size: 2.2rem;
            margin-left: 0;
			position: absolute;
            left: @gutter/2 - 0.5;
            top: @gutter/2 - 2.5;
            color: @secondary-color;
            display: none;
        }
    }

    &.mz-searchbox-expands .mz-searchbox-input {
        .transition(~"width 0.5s ease");
        height:@gutter * 2 - 12;
        box-shadow:none;
        &:focus{
        	box-shadow:none;
        }
        &::-ms-clear {
		    display: none;
		}
    }

    .mz-searchbox-input {
        color: @primary-color;
        display: none;
        box-sizing: border-box;
        width: @gutter * 18 - 10;
        .agenda;
        font-size: 1.6rem;
        padding: @gutter/2 - 2.5 @gutter/2 - 2.5 @gutter/2 - 2.5 @gutter*2 + 2;
        .no-border;
        float:left;
        &:focus {
            outline-width: 0;
        }
        &:invalid {
       	    background: @white;
        }
        @media(min-width:992px) and (max-width:1169px){
        	width: @gutter * 10 - 2;
        }
        @media (max-width: 991px) and (min-width: 768px) { 
            width: @gutter*16;
            height:@gutter * 2 - 11;
        }
        @media(max-width:340px){
        	width:90%;
        }
    }
    .search-close {
        background-color: transparent;
        box-shadow: none;
        outline: none; 
        display: none;
        padding: @gutter - 16 @gutter / 2 - 2  @gutter - 14 @gutter / 2 - 2; 
        .no-border;
        float:right;
        i{
        	font-size:2.2rem; 
        	&:hover{
        		color:@torchRed;
        	}
        }
    }
    .mz-searchbox-button {
        display: block;
        position: absolute;
        box-sizing: border-box;
        top: 0;
        right: @gutter - 4;
	    width: @gutter - 1;
	    height: @gutter - 1;
        margin-left: -1em;
        background-image: url(../resources/images/search-loupe.svg);
	    border-width: 0;
        border-radius: 0;
        padding: 0;
        background-color: white;
        float: right;
        text-indent: -10000px;
        z-index: 2;
        cursor: pointer;
        transition: opacity .4s ease;
        @media(max-width:767px){
        	right: 0;
		    background-color: transparent;
		    top: @gutter/5 - 4;
		    z-index:11;
        }
    }
}
@media (max-width: 767px) {
    .mz-searchbox.active {
        position: fixed;
        top: @gutter*3 - 11;
        right: 0;
        .mz-searchbox-field {
            .fullwidth;
            height: @gutter*2 + 10;
            background: @border-light;
            padding: @gutter/2 - 2.5 @gutter/2 + 2.5;
        }
        .mz-searchbox-input {
            padding-left: @gutter/2 - 3.5;
            font-size: 1.6rem;
            border-radius: 0;
            border: 1px solid @searchbox-border;
            width:95%;
            -webkit-appearance:none;
            line-height:@gutter - 5;
            @media(max-width:540px){
            	width:90%;
            }
        }
        .search-close {
            position: absolute;
            top: -@gutter*2 - 7;
            right: @gutter * 6 - 10;
            color: @secondary-color;
            background: @border-light;
            border: 0;
            border-radius: 0;
            padding: @gutter - 7 @gutter - 9;
        }
        .mz-searchbox-field {
            .glyphicon-search {
                right: @gutter/2 - 0.5;
                top: @gutter - 5;
            }
        }
    }
}
.mz-searchbox.mz-searchbox-expands.active{
	margin:-@gutter/5 - 3 @gutter - 4 0 0;
    border:1px solid @searchbox-border;
    border-radius:@gutter/5 - 2;
    height:@gutter * 2 - 10;
    @media(max-width:767px){
    	margin:-@gutter/2 + 1.5 0 0 0;
    	.fullwidth;
    	height:@gutter * 2 + 11;
    	border:none;
    	border-bottom:1px solid @searchbox-border;
    	border-radius:0;
    	.twitter-typeahead{
	    	.fullwidth;
	    	z-index:10;
	    }
    }
    .mz-searchbox-button{
    	left:@gutter + 5;
    	background-color: transparent;
   		top: @gutter/5 + 4;
   		@media(max-width:767px){
   		    top: @gutter - 6;
    		right: @gutter/2 - 1.5;
    		left:auto;
   		}
    }
}
.french-content{
	.mz-searchbox {
		.mz-searchbox-input {
			@media(min-width:1170px){
				width: @gutter * 17;
			}
	        @media(min-width:992px) and (max-width:1169px){
	        	width: @gutter * 9 - 5;
	        }
	        @media (max-width: 991px) and (min-width: 768px) { 
	            width: @gutter*16;
	        }
	    }
    }
}
.tt-dropdown-menu {
	background: @white;
	max-height: 71vh;
    overflow: auto;
	.tt-dataset-cat {
	    border: 1px solid @formInputBorder;
    	border-bottom: none;
		padding: @gutter - 10;
	    text-align: left;
		ul {
			list-style: none;
		    text-align: left;
	        padding-left: @gutter - 5;
            padding-bottom: @gutter - 10;
   			border-bottom: 2px solid @formInputBorder;
			li {
				a {
				    text-decoration: none;
			        color: @silver;
		            font-size: @gutter - 10;
	                font-style: italic;
				}
			}
		}
	}
	.tt-dataset-terms {
		display: none;
	}
}