.header-container{
	.mz-pageheader {
		.mz-storebranding {
			float:left;
		    width: @gutter * 2 - 5;
		    height: @gutter/5 * 8 + 0.9090909091;
		    margin-right: @gutter/2 + 2.5;
		    background: url("../resources/images/hh-logo.svg") center center no-repeat;
		    background-size: contain;
			text-indent: -99999px;
			@media (max-width: 767px){
			   margin-left:@gutter/2 + 2.5;
			}
			.store-logo {
		    	.fullwidth;
		    	height:@gutter * 2 - 10;
		    }
		}
		.mz-furniture-logo {
			float:left;
		    width: @gutter * 5 + 10; 
		    height: @gutter/5 * 8 + 0.9090909091;
		    margin-right: @gutter/2 + 2.5;
		    background: url("../resources/images/en-hfurniture.png") center center no-repeat;
		    background-size: contain;
			text-indent: -99999px;
			@media (max-width: 767px){
			   margin-left:@gutter/2 + 2.5;
			}
			.store-logo {
		    	.fullwidth;
		    	height:@gutter * 2 - 10;
		    }
		}
		.my-store-nav {
			color: @primary-color;
			.agenda;
			float:left;
			.no-padding;
			position:static;
			@media(max-width:410px){
				width:60%;
				&.my-hfStore-nav{
					width:45%;
				}
			}
			.mystore-txt {
				.agenda-bold;
				margin-top:@gutter/5;
				float:left;
				line-height:1;
			}
			.my-store-nav-list{
				float:left;
				.fullwidth;
				.my-store-nav-item {
					float: left;
					padding: 0 @gutter/5 0 @gutter/2 + 3.5;
				    .agenda;
				    @media(min-width:768px) and (max-width:992px){
				    	padding: 0 @gutter/5 0 @gutter/2 + 0.5;
				    }
				    @media(max-width:767px){
				    	padding: 0 @gutter/5 0 0;
				    }
				    .store-flayer {
				        .store-flayer-link {
				            color: @secondary-color;
				            border-left: solid 1px @header-border;
				            padding-left: @gutter - 5;
				            &:hover, &:active, &:visited, &:link{
				            	color: @secondary-color;
				            }
				        }
				    }
				    .store-collapse {
				        &:hover {
				            text-decoration: none;
				        }
				        &:visited{
				        	color:@mineShaft;
				        }
				        #store-section {
				            padding:@gutter/5 0 0 @gutter/5 + 2;
						    font-size: 1.3rem;
						    font-weight: bold;
						    color: @headerArrow;
						    float: left;
				        }
				        &:focus {
				            outline: none;
				        }
				        .store-title {
				        	float:left;
						    display: inline-block;
						    text-overflow: ellipsis;
						    overflow: hidden;
						    white-space: nowrap;
						    color:@mineShaft;
					    	max-width:@gutter * 5; 
					    	@media(max-width:991px) and (min-width:768px){
					    		max-width:@gutter * 4 + 10;
					    	}
				        }
				    }
				}
			}
			
			.fa-map-marker {
			    color: @secondary-color;
			    font-size: 1.55rem;
			    padding:0 @gutter/5 + 1 0 @gutter/5 - 4.5;
			    float:left;
			    margin-top:@gutter/5 ;
			    width:@gutter/2 + 3.5;
			}
			.storepopup { 
			    .window {
			        position:absolute;
			        top: @gutter * 2 + 16.5; 
			        left: @gutter * 2 + 0.5;
			        width: @gutter * 13 - 5;
			        height:auto;
			        display:none;
			        z-index:9999;
			        padding: @gutter/2 + 2.5;
			        border-radius: @gutter/2 - 4.5;
			        text-align: left;
			        font-size: 1.6rem;
			        border: solid 1px @header-border;
			        .agenda;
			        background: @main-background;
			        @media(max-width:767px){
			        	width: 97%;
    					left: @gutter/2 - 2.5;
			        }
			        @media (max-width: 460px) {
			            width: 93%;
			        }
	
			        .hiddenpopbadge {
			            .popbadge-text {
			                .agenda;
			                font-size: 1.6rem;
			                .poplink-text {
			                    margin: @gutter/5 + 1 0 0;
			                    line-height: @gutter - 7;
			                }
			                .popbadge-link {
			                    display: inline-block;
			                    color: @secondary-color;
			                    .agenda;
			                }
			            }
			        }
	
			        &:before, &:after {
			            bottom: 100%;
			            left: 50%;
			            border: solid transparent;
			            content: " ";
			            height: 0;
			            width: 0;
			            position: absolute;
			            pointer-events: none;
			            @media(max-width:767px){
			            	left:@gutter * 4 + 5;
			            }
			        }
	
			        &:after {
			            border-bottom-color: @main-background;
			            border-width: @gutter/2 - 2.5;
			            margin-left: -@gutter + 10;
			        }
	
			        /* this border color controlls the outside, thin border */
			        &:before {
			            border-bottom-color: @header-border;
			            border-width: @gutter/2 - 0.5;
			            margin-left: -@gutter + 8;
			        }
				}
				.no-store-box{
					background: @secondary-color;
					border: solid 1px @white;
					&:after {
			            border-bottom-color: @secondary-color;
			        }
			        /* this border color controlls the outside, thin border */
			        &:before {
			            border-bottom-color: @white;
					}
					.hiddenpopbadge{
						.popbadge-text{
							color:@white;
							.popbadge-link{
								color:@white;
								font-size: 1.8rem;
								.agenda-bold;
								&:after{
									content: "\e5cc";
									.material-icons;
									font-weight: 700;
									font-size: 2.2rem;
									vertical-align: middle;
								}
							}
						}
					}
				}
			}
		}
	}
}

.french-content{
	.header-container .mz-pageheader .my-store-nav .my-store-nav-list .my-store-nav-item{
		padding:0 0 0 @gutter/5 * 2 + 3;
		@media(max-width:767px){
			.no-padding;
		}
		.store-collapse .store-title{
			@media(max-width: 992px) and (min-width: 768px){
				max-width: @gutter * 3 - 10;
			}
		}
		&:nth-child(2){
			padding-left:@gutter/5;
			.store-flayer {
				.store-flayer-link {
					@media(max-width: 992px) and (min-width: 768px){
						padding-left:@gutter/5;
					}
				}
			}
		}
	}
}
.home-furniture-content{
	.header-container .mz-pageheader .my-store-nav .my-store-nav-list .my-store-nav-item{
		.store-collapse .store-title{
			@media(max-width: 400px){
				max-width: @gutter * 3 - 10;
			}
		}
	}
}