.top-container{
	background-color: rgb(235, 0, 41);
	color:white;
	font-size: 1.6rem;
	@media (min-width:768px) and (max-width:991px){
		width:100%;
	}
	.agenda;
	.top-head{
		padding: 10px 15px 8px;
		@media (min-width:768px) and (max-width:991px){
			    padding-bottom: 1px;
	    }
	    .top-head-left{
			padding-left: 0px;
			display: inline-block; //used for small devices screen.
			a{
				color:white;
				padding-right: @gutter*0.44;
				text-decoration:none;
				&:hover{
					text-decoration:underline;
				}
			}
		}
		.top-head-right{
			float:right;
			.text-right{
				font-size:1.6rem;
			}
			b{
				font-size: 1.6rem;
				.agenda_bold;
				color:white;
			}
			@media (min-width:768px) and (max-width:991px){
				padding:0px 8px;
			}
			b{
				font-family:"Agenda_bold",sans-serif;
				font-weight:normal;
				font-style:normal;
				color:white;
			  }
	     }	
		.no-padding {
			 float: right;
   			 padding: 0px;
   			 @media (min-width:768px) and (max-width:991px){
			    padding-bottom: 2px;
			    left:8px;
	    }
		  }
		.mz-cms-content{
		padding:@gutter*0;
	}
		.top-head-link{
			font-size:  1.4rem;	
		}
		.leftBar{
			border-left:1px solid #fff;
			padding-left: @gutter*0.56;
		}
	}
}
