.mz-utilitynav {
    color: @secondary-color;
    font-size: 1.6rem;

    .mz-utilitynav-item {
        float: left;
        margin: 0;
        padding: 0 @gutter/2 + 1.5;
        text-align: right;

        &:last-child {
            padding-right: 0;
            text-align: right;
        }

        .mz-utilitynav-link {
            color: @secondary-color;
            .agenda;
            &:hover, &:active, &:visited, &:link{
            	color: @secondary-color;
            }
        }
    }

    .mz-utilitynav-link {
        color: @secondary-color;
    }
}
