

.permalink (@color: white) {
    color: @color;
    text-decoration: none;

    &:visited, &:focus, &:active {
        color: @color;
    }

    &:hover, &:focus, &:active {
        text-decoration: underline;
    }
}

.clearfix() {
    &:before {
        content: "";
        display: table;
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    *zoom: 1;
}

.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
	text-shadow: @string;
}
.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}
.box-shadow-x2 (@string, @string2) {
	-webkit-box-shadow: @string, @string2;
	-moz-box-shadow:    @string, @string2;
	box-shadow:         @string, @string2;
}
.box-shadow-x3 (@string, @string2, @string3) {
	-webkit-box-shadow: @string, @string2, @string3;
	-moz-box-shadow:    @string, @string2, @string3;
	box-shadow:         @string, @string2, @string3;
}
.box-shadow-x4 (@string, @string2, @string3, @string4) {
	-webkit-box-shadow: @string, @string2, @string3, @string4;
	-moz-box-shadow:    @string, @string2, @string3, @string4;
	box-shadow:         @string, @string2, @string3, @string4;
}
.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:		@x @y @blur @spread rgba(0, 0, 0, @alpha);
}
.inner-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:    inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:         inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.box-sizing (@type: border-box) {
	-webkit-box-sizing: @type;
	-moz-box-sizing:    @type;
	box-sizing:         @type;
}

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}
.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
	-webkit-border-top-right-radius:    @topright;
	-webkit-border-bottom-right-radius: @bottomright;
	-webkit-border-bottom-left-radius:  @bottomleft;
	-webkit-border-top-left-radius:     @topleft;

	-moz-border-radius-topright:        @topright;
	-moz-border-radius-bottomright:     @bottomright;
	-moz-border-radius-bottomleft:      @bottomleft;
	-moz-border-radius-topleft:         @topleft;

	border-top-right-radius:            @topright;
	border-bottom-right-radius:         @bottomright;
	border-bottom-left-radius:          @bottomleft;
	border-top-left-radius:             @topleft;

	-moz-background-clip:    padding; 
	-webkit-background-clip: padding-box; 
	background-clip:         padding-box; 
}

.opacity (@opacity: 0.5) {
	-webkit-opacity: 	@opacity;
	-moz-opacity: 		@opacity;
	opacity: 		@opacity;
}

.gradient (@startColor: #eee , @endColor: white) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
}
.radial-gradient (@startColor: white, @endColor: rgba(255,255,255,0)) {
	background: -moz-radial-gradient(center, ellipse cover,  @startColor 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,@startColor), color-stop(50%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-radial-gradient(center, ellipse cover,  @startColor 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);
	background: -o-radial-gradient(center, ellipse cover,  @startColor 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  @startColor 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);
	background: radial-gradient(ellipse at center,  @startColor 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);
	
}

.animation (@name, @duration: 300ms, @delay: 0, @ease: ease, @direction: normal, @iteration-count: 1, @fill-mode: none, @play-state: running) {
  animation:         @name @duration @ease @delay @iteration-count @direction @fill-mode @play-state;
	-webkit-animation: @name @duration @ease @delay @iteration-count @direction @fill-mode @play-state;
  -moz-animation:    @name @duration @ease @delay @iteration-count @direction @fill-mode @play-state;
  -ms-animation:     @name @duration @ease @delay @iteration-count @direction @fill-mode @play-state;
}

.transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;  
}
.transition-delay (...) {
    -webkit-transition-delay: @arguments;
	-moz-transition-delay:    @arguments;
	-ms-transition-delay:     @arguments;
	-o-transition-delay:      @arguments;
}
.transition-timing-function (...) {
    -webkit-transition-timing-function: @arguments;
	-moz-transition-timing-function:    @arguments;
	-ms-transition-timing-function:     @arguments;
	-o-transition-timing-function:      @arguments;
}
.transition-duration (...) {
    -webkit-transition-duration: @arguments;
	-moz-transition-duration:    @arguments;
	-ms-transition-duration:     @arguments;
	-o-transition-duration:      @arguments;
}
.transition-property (...) {
    -webkit-transition-property: @arguments;
	-moz-transition-property:    @arguments;
	-ms-transition-property:     @arguments;
	-o-transition-property:      @arguments;
}
.transform(@string){
	-webkit-transform: @string;
	-moz-transform: 	 @string;
	-ms-transform: 		 @string;
	-o-transform: 		 @string;
}
.scale (@factor) {
	-webkit-transform: scale(@factor);
	-moz-transform: 	 scale(@factor);
	-ms-transform: 		 scale(@factor);
	-o-transform: 		 scale(@factor);
}
.rotate (@deg) {
	-webkit-transform: rotate(@deg);
	-moz-transform: 	 rotate(@deg);
	-ms-transform: 		 rotate(@deg);
	-o-transform: 		 rotate(@deg);
}
.skew (@deg, @deg2) {
	-webkit-transform:       skew(@deg, @deg2);
	-moz-transform: 	 skew(@deg, @deg2);
	-ms-transform: 		 skew(@deg, @deg2);
	-o-transform: 		 skew(@deg, @deg2);
}
.translate (@x, @y:0) {
	-webkit-transform:       translate(@x, @y);
	-moz-transform: 	 translate(@x, @y);
	-ms-transform: 		 translate(@x, @y);
	-o-transform: 		 translate(@x, @y);
}
.translate3d (@x, @y: 0, @z: 0) {
	-webkit-transform:       translate3d(@x, @y, @z);
	-moz-transform: 	 translate3d(@x, @y, @z);
	-ms-transform: 		 translate3d(@x, @y, @z);
	-o-transform: 		 translate3d(@x, @y, @z);
}
.perspective (@value: 1000) {
	-webkit-perspective: 	@value;
	-moz-perspective: 	@value;
	-ms-perspective: 	@value;
	perspective: 		@value;
}
.transform-origin (@x:center, @y:center) {
	-webkit-transform-origin: @x @y;
	-moz-transform-origin:    @x @y;
	-ms-transform-origin:     @x @y;
	-o-transform-origin:      @x @y;
}

.flex-wrap(@wrap: nowrap) {
    -webkit-flex-wrap: @wrap;
    -moz-flex-wrap:  @wrap;
    -ms-flex-wrap: @wrap;
    flex-wrap:  @wrap;
}
.flex-direction(@direction: row) {
    -webkit-flex-direction: @direction;
    -moz-flex-direction: @direction;
    -ms-flex-direction: @direction;
    flex-direction: @direction;
}
.flex-display(@display: flex) {
    display: ~"-webkit-@{display}";
    display: ~"-moz-@{display}";
    display: ~"-ms-@{display}box"; // IE10 uses -ms-flexbox
    display: ~"-ms-@{display}"; // IE11
    display: @display;
}
.flex-flow(@flow) {
    -webkit-flex-flow: @flow;
    -moz-flex-flow: @flow;
    -ms-flex-flow: @flow;
    flex-flow: @flow;
}
.flex(@columns: initial) {
    -webkit-flex: @columns;
    -moz-flex: @columns;
    -ms-flex: @columns;
    flex: @columns;
}
.justify-content(@justify: flex-start) {
    -webkit-justify-content: @justify;
    -moz-justify-content: @justify;
    -ms-justify-content: @justify;
    justify-content: @justify;
}
.align-self(@justify: center){
 	-webkit-align-self: @justify;
    -ms-flex-item-align: @justify;
    -ms-grid-row-align: @justify;
    align-self: @justify;
 }   

.flex {
	display: -webkit-box;     
	display: -moz-box;         
	display: -ms-flexbox;     
	display: -webkit-flex;     
	display:flex;
 }

/* Mixins for buttons Start*/

 .btn() {
  .agenda-bold;
  font-size: 1.6rem;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  border-radius: 6px;
}

.btn-yellow() {
  background-color: @supernova;
  border: 1px solid @supernova;
  color: @black;
  .btn();
  
  &:hover, :focus {
  	background-color: @signUpBtnHoverBg;
    text-decoration: none;
    border-color: @signUpBtnHoverBg;
  }
}

.btn-red() {
  background-color: @torchRed;
  border: 1px solid @torchRed;
  color: @white;
  .btn();
  
  &:hover, :focus {
  	background-color: @redButtonHoverBg;
    text-decoration: none;
    border-color: @redButtonHoverBg;
  }
}

.btn-small() {
  padding: 12px 15px 10px;
  display: inline-block;
}

.btn-medium() {
  padding: 12px 35px 10px;
  display: inline-block;
}

.btn-large() {
  padding: 12px 15px 10px;
  width: 100%;
  display: block;
}

.btn-transparent(){
 	.btn();
 	padding: @gutter - 13 @gutter/5*3 @gutter/5*2;
 	background-color: transparent;
    border: 1px solid @transparentBtn;
    color: @transparentBtn;
    &:hover,focus{
     background: @white;
    }
}
/* Mixins for buttons End*/