@fontFamily:            {{ themeSettings.primaryFont }}, sans-serif;
@fontSize:              {{ themeSettings.fontSize }};
@fontSizeSmall:         @fontSize - 2px;
@fontSizeLarger:        @fontSize + 2px;
@fontSizeLarge:         @fontSize + 6px;
@storeBrandingFontSize: 36px;

@textColor:             {{ themeSettings.textColor }};
@linkColor:             #4F4F4F;
@linkHoverColor:        #666;
@linkVisitedColor:      #3F3F3F;
@errorText:             #b94a48;
@errorBackground:       #f2dede;
@warningText:           @textColor;
@warningBackground:     #ffefcf;
@successText:           @textColor;
@successBackground:     #eef2ee;

@light-grey:            #f5f5f5;
@sgilightgray:          #aaaaaa;

@availableText:         #237e0e;
@unavailableText:       #ae1231;

@bodyBackgroundColor:   {{ themeSettings.bodyBackgroundColor }};
@highlightColor:        #ffffe0;

@errorBorder:           darken(spin(@errorBackground, -10), 3%);
@successBorder:         darken(spin(@successBackground, -10), 3%);
@warningBorder:         darken(spin(@warningBackground, -10), 3%);

@errorIcon:				"../resources/images/error-exclamation.png";
@columnWidth-2col:		435px;
@gutter:				{{themeSettings.gutterWidth}};
@inputBorder:			#a7a7a7;

@defaultTileHeight:            250px;
@defaultTileWidth:             250px;
@productTileHeight:            360px;
@productTileWidth:             @defaultTileWidth;
@addressTileHeight:            240px;
@addressTileWidth:             @defaultTileWidth;
@productImagesContainerWidth:  {{ themeSettings.productImagesContainerWidth }}px;
@orderDetailWidth:      200px;
@itemListingThumbSize:  {{ themeSettings.itemListingThumbSize }}px;
@productListingThumbSize: {{ themeSettings.listProductThumbSize }}px;

@torchRed:    #eb0029;
@white:     #ffffff;
@mineShaft:    #333333;
@silver:     #C5C5C5;
@mercury:     #E1E1E1;
@wildSand:    #F6F6F6;
@black:     #000000;
@supernova:    #FDC600;
@silverSand:    #B7BCC0;
@gallery:    #eeeeee;
@blueBg : #c9ece7;

/// HH CUSTOM VARIABLES

@footerBg:				#e6e7e8;
@signUpBtnBg:			#fdc600;
@signUpBtnHoverBg:	 	#e4b200;
@redButtonHoverBg: #9f001c;

/// HH CUSTOM VARIABLES
@header-border : #C5C5C5;
@primary-color : #333333;
@secondary-color : #eb0029;
@border-light : #E1E1E1;
@main-background : #ffffff;
@secondary-background : #F6F6F6;
@slider-arrow : #000000;
@subnav-background : #FDC600;
@searchbox-border : #B7BCC0;
@slider-arrow-background: #eeeeee;
@link-red: #db1233;
@aeroplanBorder: #dddddd;
@milesColor: #fc6700;
@videos-section-background: #2693da;


@formInputBorder:	  #cccccc;		
@callOutBg:			  #f2f6fb;
@callOutLink:		  #db1233;	
@storeResultBorder:   #979797;
@storeOpenStatus:     #4dae4a;
@storeClosedStatus:   #999999;
@greenIndicator:      #008000;

//Used in product details page

@productImageBorder: #cccccc;
@productOptionBorder: #979797;
@horizontalLine:	#c7c7c7;
@iconDisabled:		#d0d0d0;
@transparentBtn:   #db1233;

//Button Variables
@buttonBg:#fdc600;
@buttonBgHover:#e4b200;

//Order Confirmation Page

@viewOrderDetailBg : @light-grey;
@confirmationColor : @mineShaft;
@storePickBg: #ffd65c;
@cart-block-border:#979797;

@btnRedBg:			  #eb0029;
@btnColor:			  #ffffff;
@redBtnBorder:		  #eb0029;
@makeStoreBtn:		  #fdc600;
@radioBg:			  #333333;
@radioBorder:		  #333333;
@checkBorder:		  #333333;
@skyblue: 			  #7da7d9;
@grey:				  #d0d0d0;
@arrowGrey:			  #979797;
@transparentBtn:      #db1233;
@separatorColor:	  #979797;
@zoomLensBorder:	  #888888;
@zoomLoading:		  #222222;	

//Header colors
@headerArrow: #989898;
@mapBorder:			  #979797;	
@placeholderColor:    #626262;	

@iframeBorder:#808080;

//Signup page
@serviceBg:#f5f5f5;

//Myaccount Variables
@myaccountNavBg:#f5f5f5;
@orderBorder:#cccccc;
@activeArrow:#fff4cc;
@deletebg: #f3f7fb;

//career page
@rowbg: #7da7d926;
@tableHeaderbg:#7da7d966;

//Checkout Page
@checkoutSectionHeader:#4a4a4a;
@headerDefaultBg:#e6e7e8;
@completeIconColor:#4dae4a;
@incompleteIconBG:#fdc600;
@selectArrow:#cccccc;
@placeholderColor:    #626262;
@productStatus:		  #777777;	

@concernBg: #ebebeb;
@alto: #dbdbdb;
@doveGray: #717171;

//slik slider tabs
@tabred: #e42022;
@tabYellow: #ffcc00;
@tabGreen: #86aa7a;
@tabBlue: #7d88b6;